<template>
    <b-container fluid>
        <h3 class="text-center border-bottom mb-2">{{$t('accountgeneral.title')}}</h3>
        <b-card class="mt-2 shadow" >
            <b-overlay :show="showOverlay" >
            <b-card-body>   
            <b-img thumbnail center  fluid v-bind="mainProps"  rounded="circle" :src="profilePic"></b-img>
            <div class="text-center m-2">
                        <b-button variant="info" v-on:click="open(2)">{{$t('accountgeneral.btn1')}}</b-button> 
            </div>
            <b-form>
                    <b-form-group
                        id="input-group-1"
                        :label="$t('accountgeneral.name')"
                        label-for="input-1"
                    >
                        <b-form-input type="text" :disabled="disabled" placeholder="" v-model="name">
                            
                        </b-form-input>
                    </b-form-group>

                    <b-form-group id="input-group-2" :label="$t('accountgeneral.email')" label-for="input-2">
                        <b-form-input id="input-2"  :disabled="disabled" type="text" v-model="email">
                            
                        </b-form-input>
                    </b-form-group>
                    <b-form-group id="input-group-3" :label="$t('accountgeneral.pass')" label-for="input-3">
                        <b-form-input id="input-3" :disabled="disabled" type="password" v-model="password">
                            
                        </b-form-input>
                    </b-form-group>

                    <div class="text-center">
                            <b-button variant="info" v-on:click="open(1)">{{$t('accountgeneral.btn2')}}</b-button> 
                    </div>

            </b-form> 
            </b-card-body>
            </b-overlay>
        </b-card>
        <Modal :id="1" :Title="this.$t('accountgeneral.modal1.title')" :submit="submit" :inputs="inputs"  :variant="'info'" :btext="this.$t('general.save2')" :closebutton="this.$t('general.close')">
            <template v-slot:middle>
                <div v-if="errormessage != null">
                    <span style="color: #dc3545;" ><i class="fas fa-exclamation-circle"></i> {{errormessage}} </span>
                </div>
            </template>
        </Modal>
        <Modal :id="2" :Title="this.$t('accountgeneral.modal2.title')" :variant="'info'" :btext="'Upload'" :closebutton="'close'" :size="'lg'">
            <template v-slot:above>
                <b-form>
                    <b-form-group :label="$t('accountgeneral.modal2.profile')" label-for="file-default" label-cols-sm="2">
                        <b-form-file id="file-default" accept="image/*" v-on:change="changeFile" v-model="file" :placeholder="$t('accountgeneral.modal2.nofile')"></b-form-file>    
                    </b-form-group>
                    <Cropper :baseimage="imagecode" v-on:changesMade="changesMade($event)" />
                    <div v-if="warning != null">
                        <span style="color: #dc3545;" ><i class="fas fa-exclamation-circle"></i> {{warning}} </span>
                    </div>
                    <div class="text-right">
                         <b-button variant="info" :disabled="uploaddisable" v-on:click="submitImage">{{$t('general.save1')}}</b-button> 
                    </div>
                    <b-overlay :show="busy" no-wrap>

                    </b-overlay>
                </b-form>
               
            </template>
        </Modal>
    </b-container>
</template>


<script>
import api from '../../api/api'
import Modal from '../Subcomponents/Modal'
import Cropper from './Cropper'
export default {
    components: {
        Modal, Cropper
    },
    data(){
        return{
            user: this.$store.getters.user,
            name: this.$store.getters.user.nombre,
            email: this.$store.getters.user.correo,
            password: this.$store.getters.user.password,
            type: this.$store.getters.user.tipousuario,
            disabled: true,
            inputs: [{id: 1,label: this.$t('accountgeneral.modal1.cpass'),type: 'password',placeholder:'',model:'',rules: 'required'},
                    {id: 2,label: this.$t('accountgeneral.modal1.npass'),type: 'password',placeholder:'',model:'',rules: 'required'},
                    {id: 3,label: this.$t('accountgeneral.modal1.npass'),type: 'password',placeholder:'',model:'',rules: 'required'}],
            errormessage: null,
            selectedFile: null,
            profilePic: null,
            mainProps: { width: 150, height: 150,  },
            busy: false,
            warning:null,
            showOverlay: false,
            code: 'x',
            imagecode: null,
            file: null,
            croppedImage: null,
            uploaddisable: true
        }
    },
    async created(){
        await this.load();
        const self = this;
        const loc=this.$i18n.locale;
        window.addEventListener("keypress", function(e) {
            self.code+=String.fromCharCode(e.keyCode);
            console.log("Code: "+self.code);
            if(self.wordInString(self.code, 'hola')){
                self.code='';
                self.$router.push({ name: 'aboutus', params: { lang: loc }});
            }
        });
    },
    destroyed() {
        window.removeEventListener("keypress", function(e) {
            self.code+=String.fromCharCode(e.keyCode);
            console.log("Code: "+self.code);
            if(self.wordInString(self.code, 'hola')){
                self.code='';
                self.$router.push({ name: 'aboutus', params: { lang: self.$i18n.locale }});
            }
        });
    },
    methods:{
        wordInString(s, word){
            //return new RegExp( '\\b' + word + '\\b', 'i').test(s);
            return s.includes(word); 
        },
        changesMade(image){
            this.croppedImage=image.split(',')[1];
        },
        async changeFile(event){
            if(event.target.files[0] != undefined){
                this.selectedFile=event.target.files[0];
                //this.imagecode=event.target.files[0];
                this.busy=true;
                this.warning=null;
                await this.encodeImageFileAsURL(this.selectedFile);
                
            }
            else{
                this.warning=this.$t('warning.emptyfile');
            }

        },
        async encodeImageFileAsURL(element) {
            var file = element;
            var reader = new FileReader();
            const t=this;
            reader.onloadend = async function() {
                t.imagecode=reader.result;
                console.log("algo");
                t.busy=false;
                t.uploaddisable=false;
            }
            reader.readAsDataURL(file);
        },
        async submitImage(){
            if(this.croppedImage != null){
                this.busy=true;
                this.warning=null;
                await this.changeProfilePic(this.$store.getters.token, this.user.id, this.croppedImage);
                await this.load();
                this.selectedFile=null;
                this.croppedImage=null;
                this.busy=false;
                this.close(2);
                
            }
            else{
                this.warning= this.$t('warning.emptyfile');
            }

        },
        open(mod){
            this.imagecode=null;
            this.selectedFile=null;
            this.uploaddisable=true;
            this.$bvModal.show('modal-'+mod);
        },
        close(mod){
            //this.$bvModal.show('modal-'+mod);
            this.$bvModal.hide('modal-'+mod);
        },
        async submit(inputs){
            this.errormessage=null;
            if(inputs[0] != null && inputs[1]  != null && inputs[2]  != null){
                console.log('entro')
                if(inputs[1] == inputs[2] ){
                    await this.changePass(inputs[0],inputs[1],this.$store.getters.token);
                    this.errormessage=null;
                }
                else{
                    this.$bvModal.hide('modal-1');
                    this.$bvModal.show('modal-1');
                    this.errormessage= this.$t('warning.changepasswarning1');
                }
            }
            else{
                this.$bvModal.hide('modal-1');
                this.$bvModal.show('modal-1');
                this.errormessage= this.$t('warning.changepasswarning2');
            }
        },
        async changePass(pass,newpass,itoken){
            const token= 'Bearer '+itoken
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }}; 
            const url= 'users/changePassword/'+this.user.id;
            return await api.put(url,
            {
                password: pass,
                newPassword: newpass
            },
            headers).
            then((response) => 
            {
                console.log(response);
                this.$store.commit('setPassword', newpass);
            }, (error) => {
                this.errormessage=error.response.data;
                this.$bvModal.hide('modal-1');
                this.$bvModal.show('modal-1');
                console.log(error.response.data);
                console.log(error.response.status);
                console.log(error);
            });       
        },
        async changeProfilePic(itoken,uid,img){
            const token= 'Bearer '+itoken
            const url='/users/updatePicture/'+uid;
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                    return await api.put(
                        url,
                        {
                            base64: img,   
                        },
                        headers).then((response) => 
                    {
                        return response
                     },(error) => {
                    console.log(error);
                     });
         },
        async load(){
            this.showOverlay=true;
            await this.getPic(this.$store.getters.token, this.user.id);
            this.showOverlay=false;
        },
        async getPic(itoken,uid){
            const token= 'Bearer '+itoken
            const url='/users/getPicture/'+uid;
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                    return await api.get(
                        url,
                        headers).then((response) => 
                    {
                        var base='data:image/png;base64,';
                        this.profilePic=base+response.data.base64;
                     },(error) => {
                        console.log(error);
                     });
         },
    }
}
</script>

<style>
h3{
    padding-bottom: 2%;
}
</style>