<template>
    <b-container fluid>
        <h3 class="text-center border-bottom mb-2">{{$t('preferences.title')}}</h3>
        <b-card class="mt-2 shadow" >
            <b-card-body>   
            <b-form>
                    <b-form-group
                        id="input-group-1"
                        :label="$t('preferences.lang')"
                        label-for="input-1"
                    >
                                <v-select id="select-2" :options="availableLangs" label="name" v-model="lang" v-on:input="change">
                                    <template #search="{attributes, events}">
                                        <input
                                        class="vs__search"
                                        :required="!lang"
                                        v-bind="attributes"
                                        v-on="events"
                                        />
                                    </template>
                                </v-select> 
                    </b-form-group>

                    <b-form-group id="input-group-2" :label="$t('preferences.cont')" label-for="input-2">
                                <v-select id="select-2" :options="selectnoti" label="name" v-model="notif" v-on:input="change">
                                    <template #search="{attributes, events}">
                                        <input
                                        class="vs__search"
                                        :required="!notif"
                                        v-bind="attributes"
                                        v-on="events"
                                        />
                                    </template>
                                </v-select> 
                    </b-form-group>

                    <div class="text-center">
                            <b-button variant="info" :disabled="disabled" v-on:click="submit">{{$t('general.save1')}}</b-button> 
                    </div>

            </b-form> 
            </b-card-body>
        </b-card>

    </b-container>
</template>


<script>
import vSelect from 'vue-select'
import 'vue-select/dist/vue-select.css';
import api from '../../api/api'
export default {
    components: {
        vSelect
    },
    data(){
        return{
            user: this.$store.getters.user,
            notif: null,
            lang: null,
            theme: 'default',
            availableLangs: [],
            selectnoti: [{name: this.$t('preferences.noti.y'), value: true},{name: this.$t('preferences.noti.n'), value: false}],
            disabled: true
        }
    },
    async created(){
        await this.load();
        
    },
    methods:{
        change(val){
            console.log(val);
            this.disabled =false;
        },
        async load(){
            this.availableLangs.push({name: this.$t('preferences.langs.en'), value: 'en' });
            this.availableLangs.push({name: this.$t('preferences.langs.es'), value: 'es' });
            var pref=this.$store.getters.user.preferencias;
            console.log(pref);
            if(pref == null){
                var pref1= {
                    idioma: 'en',
                    tema: 'default',
                    notificaciones: true
                };
                await this.updatePreferences(this.$store.getters.token,this.user.id, pref1);
                await this.load();
            }
            else{
                if(pref.notificaciones == true){
                    this.notif={name: this.$t('preferences.noti.y'), value: pref.notificaciones};
                    var algo1=    this.availableLangs.find(x => x.value == pref.idioma);
                    console.log(algo1);
                    if(algo1 != undefined){
                        this.lang={name: algo1.name, value: algo1.value};
                    }
                    
                }
                else{ 
                    this.notif={name: this.$t('preferences.noti.n'), value: pref.notificaciones};
                    var algo=    this.availableLangs.find(x => x.value == pref.idioma);
                    console.log(algo);
                    if(algo != undefined){
                        this.lang={name: algo.name, value: algo.value};
                    }
                }
                
                
            }
        },
        async submit(){
            var pref= {
                    idioma: this.lang.value,
                    tema: 'default',
                    notificaciones: this.notif.value
                };
            await this.updatePreferences(this.$store.getters.token,this.user.id, pref);
        },
        async updatePreferences(itoken,uid,preferences) {
            console.log("autentificacion");
            const url='/users/updatePreferences/'+uid;
            const token= 'Bearer '+itoken
            const headers={'headers':
                        {
                            'Content-Type': 'application/json',
                            'Authorization': token
                            
                        }};
            return await api.put(url,
            {
                tema: preferences.tema,
                notificaciones: preferences.notificaciones,
                idioma:  preferences.idioma
            },headers).
            then((response) => 
            {
                console.log(response.data);
                this.user.preferencias=response.data.preferencias;
                this.$i18n.locale=preferences.idioma;
                this.$store.commit("setUser",this.user);
                this.$router.push({ name: 'projects', params: { lang: this.$i18n.locale }});
                this.$router.push({ name: 'preferences', params: { lang: this.$i18n.locale }});
                return response
            }, (error) => {
                console.log(error);
            });
         },

    }
}
</script>

<style>
h3{
    padding-bottom: 2%;
}
</style>