<template>
    <b-container fluid>
        <h3 class="text-center border-bottom">{{$t('stats.title')}}</h3>
        <h6>{{$t('stats.projects')}} {{actprojects}}</h6>
        <h6>{{$t('stats.aprojects')}} {{archprojects}}</h6>
        <h6>{{$t('stats.joined')}} {{joinedDate}}</h6>
        <Cropper/>
    </b-container>
</template>

<script>
import api from '../../api/api'
import Cropper from './Cropper'
export default {
    components:{
        Cropper
    },
    data(){
        return{
            actprojects: 0,
            archprojects: 0,
            joinedDate: '',
            user: {}
        }
    },
    async created(){
        await this.load();
    },
    methods: {
        async load(){
            this.user=this.$store.getters.user;
            console.log(this.$store.getters.user.tipousuario);
            var date = new Date(this.user.fechaAlta);
            this.joinedDate=date.getDate()+"/"+date.getMonth()+ "/"+date.getFullYear() + "  "+date.getHours()+":"+date.getMinutes();
            if(this.$store.getters.user.tipousuario < 3){
                await this.getProjectsA(this.$store.getters.token);
                await this.getAProjectsA(this.$store.getters.token);
                this.show=true;
                //await this.get
            }
            else{
                await this.getProjects(this.$store.getters.token,this.$store.getters.user.tipousuario);
                await this.getAProjects(this.$store.getters.token,this.$store.getters.user.tipousuario);
                this.show=false;
            }

        },
        async getProjects  (itoken,userid){
            console.log(userid);
            const token= 'Bearer '+itoken
            const url='/projects/projectsByUser/'+userid;
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                     await api.get(url,headers).then( (response) => 
                    {
                        this.projects= response.data;
                        this.filteredproy=response.data; 
                     }, (error) =>{
                            console.log('abajo error:')
                            console.log(error.response.data);
                            console.log(error.response.status);
                            console.log(error.response.headers);
                            this.projects= [];
                            this.filteredproy=[]; 
                            this.notify('Error: '+error.response.status,'couldnt find any projects :c');
                     });
          },
        async getProjectsA  (itoken){

            const token= 'Bearer '+itoken
            const url='/projects';
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                     await api.get(url,headers).then( (response) => 
                    {
                        this.actprojects=response.data.length;
                     }, (error) =>{
                        this.actprojects=0;
                        console.log(error);
                     });
          },
          async getAProjects  (itoken,userid){
            const token= 'Bearer '+itoken
            const url='/projects/getArchivedProjectsOfUser/'+userid;
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                     await api.get(url,headers).then( (response) => 
                    {
                        this.archprojects=response.data.length;
                     }, (error) =>{
                         this.archprojects=0;
                         console.log(error);
                     });
          },
        async getAProjectsA (itoken){
            const token= 'Bearer '+itoken
            const url='/projects/getAllArchivedProjects';
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                     await api.get(url,headers).then( (response) => 
                    {
                        this.archprojects=response.data.length;
                     }, (error) =>{
                        console.log(error);
                        this.archprojects=0;
                     });
          },
    }

}
</script>



<style>
h3{
    padding-bottom: 2%;
}
</style>