<template>
        <b-card no-body style="block" class="border-1 mb-2 shadow  " header-tag="header">
            <template v-slot:header>
                <b-card-title >{{$t('info.analysis')}}</b-card-title>
            </template>

            <b-card-body>
                <b-table striped hover :items="profits" :fields="fields"> </b-table>
            </b-card-body>
        </b-card>
</template>

<script>
import api from '../../api/api'
export default {
    data() {
      return {
        profits: [],
        fields:
          [
            {
                key: 'fecha',
                label: this.$t('info.date')
            },
            {
                key: 'ganancia',
                label: this.$t('info.profits')
            }]
      }
    },
    async created(){
        await this.getProfits(this.$store.getters.token, this.$store.getters.currentProject.id);
    },
    methods:{
        async getProfits(itoken,id){//carga el proyecto actualizado a la memoria
                    const token= 'Bearer '+itoken
                    const url='/profits/fromProject/'+id;
                                const headers={'headers':
                                            {
                                                'Content-Type': 'application/json',
                                                'Authorization': token
                                                
                                            }};
                    return await api.get(url,headers).then((response) => 
                    {
                        this.profits= response.data;
                    }, (error) => 
                    {
                        this.profits=[];
                        console.log(error);
                    });
                    
                },
    }
}
</script>