<template>
    <b-overlay :show="showOverlay" rounded="sm">      
    <b-card no-body style="block; height:80vh;" header-tag="header" header-bg-variant="light" footer-tag="footer" class="shadow">
        <template v-slot:header>
            <b-card-title style="color:black;">{{$t('feedback.feedback')}}</b-card-title>
        </template>
        <b-card-body id="scroll" class="fondo overflow-auto">
            <div  class="flexs fcolumn">
                <div  v-for="m in messages" v-bind:key="m.id" >
                    <div v-if="m.idUsuario==$store.getters.user.id" class="flexs alignend m-2" > <!-- v-if="m.idUsuario==$store.getters.user.id"-->
                        <b-card  no-body style="max-width:30%;" class=""><!-- background: #d1eaa3; -->
                            <b-card-body style="padding:10px; " class="flexs fcolumn">
                                <div id="title" class="flexs alignend" style="font-weight: bold;">
                                    {{m.usuario.nombre}} ({{$t('feedback.you')}})
                                </div>
                                <div id="text">
                                    {{m.mensaje}}
                                </div>
                                <div id="time" style="font-size:12px">
                                    {{m.fecha}}
                                </div>
                            </b-card-body>
                        </b-card>
                    </div>
                    <div v-else class="flexs alignstart m-2"> 
                        <b-card  no-body style="max-width:30%; " class=""><!-- background: #abf0e9; -->
                            <b-card-body style="padding:10px" class="flexs fcolumn">
                                <div id="title" class="flexs" style="font-weight: bold;">
                                    {{m.usuario.nombre}} 
                                </div>
                                <div id="text">
                                    {{m.mensaje}}
                                </div>
                                <div id="time" style="font-size:12px">
                                    {{m.fecha}}
                                </div>
                            </b-card-body>
                        </b-card>
                    </div>
                    
                </div>

            </div>

        </b-card-body>

        <template v-slot:footer>
            <div v-if="cproject.archivado==false" class="flexs frow">
                <b-form-input :placeholder="$t('feedback.message')" v-model="text" v-on:keyup.enter="send(0)"></b-form-input>
                <b-button variant="info"  class=" ml-2"  v-on:click="send(0)">{{$t('feedback.send')}}</b-button>
            </div>
      </template>
    </b-card>
     </b-overlay>
</template>

<script>
import chatSocket from'../../WebSocket/Chat';
import api from '../../api/api'
const signalR = require('@aspnet/signalr');
export default {
    props: [
        'cproject'
    ],
    data() {
        return {
            messages:[],
            text: null,
            joined: false,
            showOverlay: false
        }
    },
    async created(){
        this.showOverlay=true;
            await this.getChat(this.$store.getters.token,this.cproject.id);
            this.modify();
            this.updateScroll();
            const t=this;
            chatSocket.on("ReceiveMessage", async function(message, user) {
                user.idUsuario=user.id;
                message.usuario=user;
                var date = new Date(message.fecha);
                message.fecha=date.getDate()+"/"+date.getMonth()+ "/"+date.getFullYear() + "  "+date.getHours()+":"+date.getMinutes();
                t.messages.push(message);
                
            });
            this.showOverlay=false;
    },
    updated(){
        this.updateScroll();
    },
    async beforeDestroy(){
        //console.log("BEFOREDESTROY")
        if(chatSocket.connectionState == signalR.HubConnectionState.Connected){
           // console.log("ENTRO a desconectarlo")
            chatSocket.stop().catch(function(err) {
                return console.error(err.toString());
                });
        }
    },
    methods:{
        sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
        },
        modify(){
            for(var i =0;i<this.messages.length;i++){
                var utcDate = this.messages[i].fecha;  // ISO-8601 formatted date returned from server
                var date = new Date(utcDate);
                this.messages[i].fecha=date.getDate()+"/"+date.getMonth()+ "/"+date.getFullYear() + "  "+date.getHours()+":"+date.getMinutes();
            }

        },
         updateScroll(){
            var element = document.getElementById("scroll");
            element.scrollTop = element.scrollHeight;
        },
        join(){
            var resp=true;
            chatSocket
            .invoke("JoinRoom", this.cproject.id)
            .catch(function(err) {
                resp=false;
                return console.error(err.toString());
            });
            this.joined=resp;
        },
        async send(cont){
            if(this.text != null){
                if(chatSocket.connectionState == signalR.HubConnectionState.Connected){

                    if(this.joined == true){
                        chatSocket
                        .invoke("EnviarMensaje", parseInt(this.$store.getters.user.id, 10), this.cproject.id.toString(), this.text)
                        .catch(function(err) {
                        return console.error(err.toString());
                        });
                        this.text=null;
                    }
                    else{
                        this.join();
                        this.send();
                    }
                }
                else{
                    if(cont < 6){
                        this.startCon();
                        this.send(cont+1);
                        
                    }
                }
            }
            
            

        },
        async startCon(){
            await chatSocket.start().catch(function(err) {
            return console.error(err.toString());
            });
        },
        async getChat(itoken,pid){
            const token= 'Bearer '+itoken
            //const url='/projects/projectsByUser/'+pid;
            const url='/chats/chatByProject/'+pid;
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                     await api.get(url,headers).then( (response) => 
                    {
                        this.messages=response.data;
                     }, (error) =>{
                         this.messages=[];
                            console.log('abajo error:')
                            console.log(error.response.data);
                            console.log(error.response.status);
                            console.log(error.response.headers);
                     });
          }
    }

}
</script>

<style>
.fondo{
    background-image: url('../../assets/double-bubble-outline.png');
    background-repeat: repeat;
}


#scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  
	background-color: #F5F5F5;
}

#scroll::-webkit-scrollbar
{
	width: 6px;
	background-color:  #F5F5F5;
}

#scroll::-webkit-scrollbar-thumb
{
	background-color: #C0C0C0;
}

</style>