<template>
    <div class="flexs frow mb-5" v-if="show ==true">
        <div class="image-cropper  m-1" >
            <div class="text-center"> 
                Original
            </div>
            <b-img ref="image"    :src="objectUrl" ></b-img>
        </div> 
        <div class="image-preview  m-1" >
            <div class="text-center"> 
                Preview
            </div>
            <b-img   :src="preview" ></b-img>
        </div>
    </div>
</template>

<script>
import Cropper from 'cropperjs'
import debounce from 'lodash/debounce'
export default {
    props:['baseimage'],
    data(){
        return{
            cropper: null,
            preview: null,
            image: {},
            objectUrl: null,
            debouncedUpdatePreview: debounce(this.updatePreview, 257),
            show: false
        }
    }, 
    methods:{
        setupCropper (baseimage) {
            if (this.cropper) {
                this.cropper.destroy()
            }

            if (this.objectUrl) {
                this.objectUrl=null;
            }

            if (!baseimage) {
                this.cropper = null
                this.objectUrl = null
                this.preview = null
                return
            }

            this.objectUrl = baseimage;
            this.show=true;
            this.$nextTick(this.setupCropperInstance)
        },
        setupCropperInstance(){
            this.cropper=new Cropper(this.$refs.image,{
                zoomable: false,
                scalable: false,
                aspectRatio: 1,
                crop: this.debouncedUpdatePreview /* () =>{
                    
                    const canvas = this.cropper.getCroppedCanvas();
                    this.preview=canvas.toDataURL("image/png");
                }*/
            })
        },
        /* eslint-disable no-unused-vars */
        updatePreview (event) {
             
            const canvas = this.cropper.getCroppedCanvas()
            this.preview= canvas.toDataURL('image/png')
            this.$emit('changesMade',this.preview);
        },
        /* eslint-enable no-unused-vars */
        print(){
            console.log(this.destination);
        },

    },
    watch: { 
        /* eslint-disable no-unused-vars */
        baseimage: function(newVal, oldVal) {
            if(newVal != null && newVal != undefined){
                this.show=false;
                this.data=null;
                this.data=newVal;
                this.setupCropper(this.data);
                
                //this.$nextTick(this.cropp());
                
            }
        }
         /* eslint-enable no-unused-vars */
      }
}
</script>


<style scoped>

.image-cropper{
    width: 50%;
    max-height: 250px;
}
.image-preview{

    width: 50%;
    max-height: 250px;
}
.image-preview img{
    max-height: 239px;
        display:block;
    margin: auto;
}
.blockk{
    width: 50%;
}
</style>