<template>
  <b-collapse id="collapse-3" :visible="visible" class="mt-2 shadow rounded">
    <b-card header-tag="header">
      <b-overlay :show="showOverlay">
        <b-card-body>
          <b-form>
            <h4>{{ $t("settings.extrasprops.image") }}</h4>
            <b-img
              center
              fluid
              v-bind="mainProps"
              rounded
              :src="projectImage"
              class="mb-3"
            ></b-img>
            <div class="text-center">
              <b-button
                v-if="project.archivado == false"
                variant="info"
                class="mb-3"
                v-on:click="beforeOpenImage"
                >{{ $t("settings.extrasprops.change") }}</b-button
              >
            </div>
            <hr />
            <h4>{{ $t("settings.extrasprops.template") }}</h4>
            <b-img
              center
              fluid
              v-bind="mainProps"
              rounded
              :src="projectTemplate"
              class="mb-3"
            ></b-img>
            <div class="text-center">
              <b-button
                v-if="project.archivado == false"
                variant="info"
                class="mb-3"
                v-on:click="beforeOpenTemplate"
                >{{ $t("settings.extrasprops.change2") }}</b-button
              >
            </div>
          </b-form>
        </b-card-body>
      </b-overlay>
    </b-card>
    <!-- Modal para la imagen del proyecto -->
    <Modal
      :id="'i' + 1"
      :Title="this.$t('settings.extrasprops.newimage')"
      :variant="'info'"
      :btext="'Upload'"
      :closebutton="'close'"
      :size="'lg'"
    >
      <template v-slot:above>
        <b-form>
          <b-form-group
            :label="$t('settings.extrasprops.projimage')"
            label-for="file-default"
            label-cols-sm="2"
          >
            <b-form-file
              id="file-default"
              accept="image/*"
              v-on:change="changeFile"
              v-model="file"
            ></b-form-file>
          </b-form-group>
          <Cropper
            :baseimage="imagecode"
            v-on:changesMade="changesMade($event)"
          />
          <div v-if="warning != null">
            <span style="color: #dc3545"
              ><i class="fas fa-exclamation-circle"></i> {{ warning }}
            </span>
          </div>
          <div class="text-right">
            <b-button
              variant="info"
              :disabled="uploaddisable"
              v-on:click="submitImage"
              >{{ $t("general.save2") }}</b-button
            >
          </div>
          <b-overlay :show="busy" no-wrap> </b-overlay>
        </b-form>
      </template>
    </Modal>
    <!-- Modal para la plantilla del proyecto -->
    <Modal
      :id="'i' + 2"
      :Title="this.$t('settings.extrasprops.newTemplate')"
      :variant="'info'"
      :btext="'Upload'"
      :closebutton="'close'"
      :size="'lg'"
    >
      <template v-slot:above>
        <b-form>
          <b-form-group
            :label="$t('settings.extrasprops.projimage')"
            label-for="file-default"
            label-cols-sm="2"
          >
            <b-form-file
              id="file-default"
              accept="image/*"
              v-on:change="changeFile"
              v-model="file"
            ></b-form-file>
          </b-form-group>
          <div v-if="warning != null">
            <span style="color: #dc3545"
              ><i class="fas fa-exclamation-circle"></i> {{ warning }}
            </span>
          </div>
          <div class="text-right">
            <b-button
              variant="info"
              :disabled="uploaddisable"
              v-on:click="submitTemplate"
              >{{ $t("general.save2") }}</b-button
            >
          </div>
          <b-overlay :show="busy" no-wrap> </b-overlay>
        </b-form>
      </template>
    </Modal>
  </b-collapse>
</template>

<script>
import api from "../../api/api";
import Modal from "../Subcomponents/Modal";
import Cropper from "../Subcomponents/Cropper";
export default {
  props: ["visible"],
  components: {
    Cropper,
    Modal,
  },
  data() {
    return {
      project: this.$store.getters.currentProject,
      name: this.$store.getters.currentProject.nombre,
      desc: this.$store.getters.currentProject.descripcion,
      time: this.$store.getters.currentProject.duracion,
      disabled: true,
      projectImage: null,
      selectedFile: null,
      profilePic: null,
      mainProps: { width: 200, height: 200 },
      busy: false,
      warning: null,
      showOverlay: false,
      //helpers
      imagecode: null,
      file: null,
      croppedImage: null,
      uploaddisable: true,
      //Template
      projectTemplate: null,
    };
  },
  async created() {
    await this.load();
  },
  methods: {
    changesMade(image) {
      this.croppedImage = image.split(",")[1];
    },
    beforeOpenTemplate() {
      this.file = null;
      this.imagecode = null;
      this.imageWarning = null;
      this.selectedFile = null;
      this.uploaddisable = true;
      this.$bvModal.show("modal-i2");
    },
    beforeOpenImage() {
      this.file = null;
      this.imagecode = null;
      this.imageWarning = null;
      this.selectedFile = null;
      this.uploaddisable = true;
      this.$bvModal.show("modal-i1");
    },
    async changeFile(event) {
      if (event.target.files[0] != undefined) {
        this.selectedFile = event.target.files[0];
        //this.imagecode=event.target.files[0];
        this.busy = true;
        this.warning = null;
        await this.encodeImageFileAsURL(this.selectedFile);
      } else {
        this.warning = this.$t("warning.emptyfile");
      }
    },
    async encodeImageFileAsURL(element) {
      var file = element;
      var reader = new FileReader();
      const t = this;
      reader.onloadend = async function () {
        t.imagecode = reader.result;
        console.log("algo");
        t.busy = false;
        t.uploaddisable = false;
      };
      reader.readAsDataURL(file);
    },
    async submitTemplate() {
      if (this.selectedFile != null) {
        this.busy = true;
        this.warning = null;
        var img = this.imagecode.split(",")[1];
        await this.changeProjectTemplate(
          this.$store.getters.token,
          this.project.id,
          img
        );
        await this.load();
        this.selectedFile = null;
        this.busy = false;
        this.$bvModal.hide("modal-i2");
      } else {
        this.warning = this.$t("warning.emptyfile");
      }
    },
    async submitImage() {
      if (this.croppedImage != null) {
        this.busy = true;
        this.warning = null;
        await this.changeProjectImage(
          this.$store.getters.token,
          this.project.id,
          this.croppedImage
        );
        await this.load();
        this.selectedFile = null;
        this.croppedImage = null;
        this.busy = false;
        this.$bvModal.hide("modal-i1");
      } else {
        this.warning = this.$t("warning.emptyfile");
      }
    },
    open(mod) {
      this.$bvModal.show("modal-" + mod);
    },
    close(mod) {
      //this.$bvModal.show('modal-'+mod);
      this.$bvModal.hide("modal-" + mod);
    },
    async changeProjectImage(itoken, pid, img) {
      const token = "Bearer " + itoken;
      const url = "/projects/updateImage/" + pid;
      const headers = {
        headers: {
          "Content-Type": "application/json",
          Authorization: token,
        },
      };
      //const response =
      return await api
        .put(
          url,
          {
            base64: img,
          },
          headers
        )
        .then(
          (response) => {
            return response;
          },
          (error) => {
            console.log(error);
          }
        );
    },
    async changeProjectTemplate(itoken, pid, img) {
      const token = "Bearer " + itoken;
      const url = "/projects/updateTemplate/" + pid;
      const headers = {
        headers: {
          "Content-Type": "application/json",
          Authorization: token,
        },
      };
      //const response =
      return await api
        .put(
          url,
          {
            base64: img,
          },
          headers
        )
        .then(
          (response) => {
            return response;
          },
          (error) => {
            console.log(error);
          }
        );
    },
    async load() {
      this.showOverlay = true;
      await this.getPic(this.$store.getters.token, this.project.id);
      await this.getTemplate(this.$store.getters.token, this.project.id);
      this.showOverlay = false;
    },
    async getPic(itoken, pid) {
      const token = "Bearer " + itoken;
      const url = "/projects/getImage/" + pid;
      const headers = {
        headers: {
          "Content-Type": "application/json",
          Authorization: token,
        },
      };
      //const response =
      return await api.get(url, headers).then(
        (response) => {
          //var base='data:image/png;base64,';
          this.projectImage = response.data.base64;
        },
        (error) => {
          console.log(error);
        }
      );
    },
    async getTemplate(itoken, pid) {
      const token = "Bearer " + itoken;
      const url = "/projects/getTemplate/" + pid;
      const headers = {
        headers: {
          "Content-Type": "application/json",
          Authorization: token,
        },
      };
      //const response =
      return await api.get(url, headers).then(
        (response) => {
          //var base='data:image/png;base64,';
          this.projectTemplate =
            "data:image/png;base64," + response.data.base64;
        },
        (error) => {
          console.log(error);
        }
      );
    },
  },
};
</script>
