<template>
        <b-container>
            <ChatCard :cproject="cproject" />
        </b-container>
</template>

<script>
import ChatCard from "./ChatCard"
export default {
    props: [
        'cproject'
    ],
    components:{
        ChatCard
    }
}
</script>