<template>
    <b-tab :title="$t('analysis.fixed')" v-on:click="load()">
        <template>
            <b-overlay :show="showOverlay" rounded="sm">
            <div role="tablist">
                <b-button v-if="cproject.archivado==false && show == true" block variant="info" class="mb-1" v-b-modal.modal-3><i class="fas fa-plus"></i></b-button>
                <hr>
                <b-button block variant="light" class="mb-1" v-if="fixedcosts.length ==0">{{$t('analysis.nofixed')}}</b-button>
                <div  v-for="cost in fixedcosts" v-bind:item="cost" :key="cost.id">
                    <b-card no-body class="mb-1">
                        <b-card-header header-tag="header" class="p-1" role="tab">
                            <div class="flexs frow">
                                <b-button block href="#" v-b-toggle="'accordion-'+cost.id" variant="light">
                                            {{cost.concepto}}
                                </b-button>
                                <b-button v-if="cproject.archivado==false && show == true" variant="warning" class=" ml-3" v-on:click="preedit(cost.id)">{{$t('general.edit')}}</b-button>   
                                <b-button v-if="cproject.archivado==false && show == true" variant="danger" v-on:click="openWarning(cost.id)" class="ml-3">{{$t('general.delete')}}</b-button> 
                            </div>
                                 
                        </b-card-header>
                        <b-collapse :id="'accordion-'+cost.id"  accordion="my-accordion" role="tabpanel"> 
                            <b-card-body>
                                <b-table striped hover v-bind:items="[fixedcosts.find(co => co.id === cost.id)]" :fields="fields" class="m-0 p-0"></b-table>
                            </b-card-body>
                        </b-collapse>
                    </b-card>
                </div> 
            </div>
            </b-overlay>
        </template>
            <Modal  :id="3" :Title="this.$t('analysis.addFixed')" :submit="submitFixedCosts" :inputs="inputs" :variant="'info'" :btext="this.$t('general.add')" :closebutton="this.$t('general.close')"/>   
            <Modal  :id="4" :Title="this.$t('analysis.editFixed')" :submit="editFixed" :inputs="inputs" :variant="'info'" :btext="this.$t('general.save2')" :closebutton="this.$t('general.close')" />          
            <Modal  :id="5" :Title="this.$t('warning.warning')" :submit="deleteFC" :inputs="[]" :variant="'info'" :btext="this.$t('general.yes')" :message="warningDelete" :closebutton="this.$t('general.no')"/>                      
    </b-tab>
    
</template>

<script>//deleteFC(cost.id)
import Modal from '../Subcomponents/Modal'
import api from '../../api/api'
import context from '../../utilities/ContextNotifications'
export default {
    props:[ 
        'cproject','costs','submit','edit','deletei'
    ]
    ,components:{
        Modal
    },
    data(){
        return{
                inputs: [{id: 1,label: this.$t('analysis.name'),type: 'text',placeholder:'',model:'', rules:"required"},
                        {id: 2,label: this.$t('analysis.cost'),type: 'text',placeholder:'',model:'', rules:"required|decimal"},

                ],
                fields: [
                        {
                            key: 'concepto',
                            label: this.$t('analysis.name')
                        },
                        {
                            key: 'costo',
                            label: this.$t('analysis.cost')
                        }],
                fixedcosts: [],
                show: false, //para no mostrar informacion a usuarios con menos permisos
                showOverlay: false,
                deleteid: -1,
                warningDelete: this.$t('warning.warningDel')
        }   

    },           
    async created(){
        await this.load();
        if(this.$store.getters.user.tipousuario == 4){
            this.show=false;
        }
        else{
            this.show=true;
        }
    },
    methods:{
        openWarning(id){
            this.deleteid=id;
            this.$bvModal.show('modal-5');
        },
        async load(){
            this.showOverlay=true;
            await this.getFixedCosts(this.$store.getters.token,this.cproject.id);
            this.showOverlay=false;
        },
        preedit(id){
            var cos=this.fixedcosts.find(cost => cost.id ==  id);
                this.inputs[0].model=cos.concepto;
                this.inputs[1].model=cos.costo;

            console.log(id);
            this.$store.commit("setUseful",id);
            this.$bvModal.show('modal-4');
        },
                //Inicia seccion de fixed costs
        async getFixedCosts(itoken,pid){
            const token= 'Bearer '+itoken
            const url='/fixedCosts/fromProject/'+pid;
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                    return await api.get(url,headers).then((response) => 
                    {
                        this.fixedcosts=response.data;
                     },(error) => {
                        this.fixedcosts=[];
                        context.warning(this.$t('analysis.fixed'), error);
                     });

        },
        async addFixedCost(itoken, pid,name, cost ){
            const token= 'Bearer '+itoken
            const url='/fixedCosts';
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                    return await api.post(
                        url,
                        {
                            concepto: name,
                            costo: cost,
                            idProyecto: pid
                        },
                        headers).then((response) => 
                    {
                        context.success(this.$t('general.success'), this.$t('analysis.noti.added'));
                        return response
                     },(error) => {
                        console.log(error);
                    });
         },
         async submitFixedCosts(inputs){
            console.log(inputs);
            const response = await this.addFixedCost(this.$store.getters.token, this.cproject.id,inputs[0], inputs[1]);
            console.log(response);
            this.$bvModal.hide('modal-1');
            await this.load();
        },
        async editFixed(inputs){
            const id=this.$store.getters.useful;
            console.log(id);
            const response = await this.editFixedCost(this.$store.getters.token, this.cproject.id,inputs[0], inputs[1],id);
            console.log(response);
            this.$bvModal.hide('modal-2');
            await this.load();
        },
        async editFixedCost(itoken, pid,name, cost ,id){
            const token= 'Bearer '+itoken
            const url='/fixedCosts/'+id;
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                    return await api.put(
                        url,
                        {
                            concepto: name,
                            costo: cost,
                            idProyecto: pid
                        },
                        headers).then((response) => 
                    {
                        context.success(this.$t('general.success'), this.$t('analysis.noti.edited'));
                        return response
                     },(error) => {
                        console.log(error);
                    });
         },
        async deleteFC(){//id
            
            const response = await this.delFixedCost(this.$store.getters.token, this.deleteid);
            console.log(response);
            //this.$bvModal.hide('modal-1');
            await this.load();
        },
         async delFixedCost(itoken, id){
            const token= 'Bearer '+itoken
            const url='/fixedCosts/'+id;
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                    return await api.delete(
                        url,headers).then((response) => 
                    {
                        context.success(this.$t('general.success'), this.$t('analysis.noti.deleted'));
                        return response
                     },(error) => {
                         
                         console.log(error);
                    });
         },
    }
 
}
</script>