<template>
    <b-form>
            <div v-for="inp in inputs" v-bind:item="inp" :key="inp.id">
                <b-form-group
                    :id="'input-'+inp.id"
                    :label="inp.label"
                    :label-for="'input-'+inp.id"
                >
                    <b-form-input :disabled="disabled" :type="inp.type" :placeholder="inp.placeholder" v-model="inp.model">
                        
                    </b-form-input>
                </b-form-group>
            </div>
    </b-form> 
</template>

<script>
export default {
    props:[ 'inputs']
}
</script>