<template>
<!-- 
    Este componente ha sido descontinuado, en proximas actualizaciones sera eliminado del sistema,
    favor de no utilizarlo de ahora en adelante, gracias.
-->
  <div>
    <b-form-group v-if="option == 1"
                label-for="tag-search-input"
                :label="label"
              >
            <div class="flexs frow">
                <b-form-input
                  v-model="search"
                  id="tag-search-input"
                  list="input-list"
                  autocomplete="off"
                  :placeholder="placeholder"
                 >
                 </b-form-input>
                <b-button variant="outline-info" class="ml-1" v-on:click="add();">Add</b-button>
                
              <b-form-datalist id="input-list" >
                  <option v-for="option in availableOptions" v-bind:item="option" :key="option.id">{{ option.correo }}</option>
              </b-form-datalist>
            </div>

    </b-form-group>
    <b-form-group v-if="option == 2" label-for="tag-search-input" :label="label" >
        <div class="flexs frow">
                <b-form-input
                  v-model="search"
                  id="tag-search-input"
                  list="input-list"
                  autocomplete="off"
                  :placeholder="placeholder"
                 >
                 </b-form-input>
                <b-button variant="outline-info" class="ml-1" v-on:click="add();">Add</b-button>

                
              <b-form-datalist id="input-list" >
                  <option v-for="option in availableOptions" v-bind:item="option" :key="option.id">{{ option.nombre }}</option>
              </b-form-datalist>
        </div>
    </b-form-group>
  </div>
</template>

<script>
export default {
    props:  [
        'placeholder','data','selected', 'option', 'label'
    ],
    data(){
        return{
            search:'',
        }
    },
    methods:{
        add() {
            var nmember=this.searchOption();
            console.log(this.nmember);
            var id;
            if(this.option == 1){
                if (this.selected.filter(e => e.correo === nmember[0].correo).length > 0) {
                    console.log('lo contiene');
                }
                else{
                    this.selected.push(nmember[0]);
                    id=nmember[0].id;
                    this.$emit('changesMade',id);
                    console.log(nmember[0].id);
                    console.log('no lo contiene');
                }
            }
            if(this.option == 2){
                if (this.selected.filter(e => e.nombre === nmember[0].nombre).length > 0) {
                    console.log('lo contiene');
                }
                else{
                    this.selected.push(nmember[0]);
                    //id=nmember[0].id;
                    this.$emit('changesMade',this.selected);
                    console.log(nmember[0]);
                    console.log('no lo contiene');
                }
            }
            this.search = '';   
      },
        searchOption: function() {
            if(this.option ==1){
                return this.data.filter(dat => {
                    return dat.correo.toLowerCase().includes(this.search.toLowerCase())});
            }
            if(this.option ==2){
                return this.data.filter(dat => {
                    return dat.nombre.toLowerCase().includes(this.search.toLowerCase())});
            }
            
        }
    },
    computed: {
        availableOptions: function() {
            if(this.option ==1){
                return this.data.filter(dat => {
                    return dat.correo.toLowerCase().includes(this.search.toLowerCase())});
            }
            if(this.option ==2){
                return this.data.filter(dat => {
                    return dat.nombre.toLowerCase().includes(this.search.toLowerCase())});
            }
            return [];
            
        }
    },

}
</script>

