<template>
    <b-collapse id="collapse-1" :visible="visible" class="mt-2 shadow rounded">
            <b-card header-tag="header">
            <b-card-body>
                <ValidationObserver ref="formval"  v-slot="{ handleSubmit }">
                <b-form id="form" @submit.prevent="handleSubmit(submit)">
                        <div id="form" v-for="inp in inputs" v-bind:item="inp" :key="inp.id">
                            <ValidationProvider name="Value" :vid="'vp'+inp.id"
                                                :rules="inp.rules" 
                                                v-slot="validationContext">
                                <b-form-group :id="'input-group-'+inp.id" :label="inp.label" :label-for="'input-'+inp.id" >
                                    <div v-if="project.archivado==false">
                                        <b-form-input  :type="inp.type" :placeholder="inp.placeholder" v-model="inp.model"
                                        :id="'input-'+inp.id" 
                                        :name="'input-'+inp.id" 
                                        :state="getValidationState(validationContext)"
                                        :aria-describedby="'input-'+inp.id+'-live-feedback'" v-on:input="disabled=false"></b-form-input>
                                        <b-form-invalid-feedback :id="'input-'+inp.id+'-live-feedback'">{{ validationContext.errors[0] }}</b-form-invalid-feedback>
                                    </div>
                                    <div v-else>
                                        <b-form-input :disabled="true" :type="inp.type" :placeholder="inp.placeholder" v-model="inp.model"
                                        :id="'input-'+inp.id" 
                                        :name="'input-'+inp.id" 
                                        :state="getValidationState(validationContext)"
                                        :aria-describedby="'input-'+inp.id+'-live-feedback'"></b-form-input>
                                        <b-form-invalid-feedback :id="'input-'+inp.id+'-live-feedback'">{{ validationContext.errors[0] }}</b-form-invalid-feedback>
                                    </div>
                                </b-form-group>
                            </ValidationProvider>
                        </div>
                            <div class="flexs alignstart">
                                    <b-button v-if="project.archivado==false" variant="info" class="mb-3" :disabled="disabled" type="submit">{{$t('general.save1')}}</b-button>
                            </div>
                </b-form> 
                 </ValidationObserver>
            </b-card-body>
        </b-card>
    </b-collapse>
             
</template>

<script>
import api from '../../api/api'
export default {
        props:['visible'],
    data(){
        return{
            project: this.$store.getters.currentProject,
            name: this.$store.getters.currentProject.nombre,
            desc: (this.$store.getters.currentProject).descripcion,
            time: this.$store.getters.currentProject.duracion,
            client: this.$store.getters.currentProject.infoCliente,
            disabled: true,
            inputs: [{id: 1,label:this.$t('settings.generalprops.name'),type: 'text',placeholder:'',model:'', rules: 'required'},
                    {id: 2,label:this.$t('settings.generalprops.desc'),type: 'text',placeholder:'',model:'', rules: 'required'},
                    {id: 3,label:this.$t('settings.generalprops.time'),type: 'text',placeholder:'',model:'', rules: 'required|min_value:0'},
                    {id: 4,label:this.$t('settings.generalprops.client'),type: 'text',placeholder:'',model:'', rules: 'required'}],
        }
    },
    created(){
        this.inputs[0].model= this.$store.getters.currentProject.nombre;
        this.inputs[1].model=this.$store.getters.currentProject.descripcion;
        this.inputs[2].model=this.$store.getters.currentProject.duracion;
        this.inputs[3].model=this.$store.getters.currentProject.infoCliente;
    },
    methods:{
        getValidationState({ dirty, validated, valid = null }) {
        return dirty || validated ? valid : null;
        },  
            editProject: async (itoken,id,name,desc,time,client) => {
            const token= 'Bearer '+itoken
            const url='/projects/'+id;
            const headers={'headers':
                        {
                            'Content-Type': 'application/json',
                            'Authorization': token
                            
                        }};
            return await api.put(url,
            {
                    nombre: name,
                    duracion: time,
                    descripcion: desc,
                    infoCliente: client
            },
            headers).then(async(response) => 
            {
                return response
            }, (error) => {
                    console.log(error);
                });
         },
         async load(itoken,id){//carga el proyecto actualizado a la memoria
            const token= 'Bearer '+itoken
            const url='/projects/'+id;
                        const headers={'headers':
                                    {
                                        'Content-Type': 'application/json',
                                        'Authorization': token
                                        
                                    }};
            return await api.get(url,headers).then((response) => {return response}, (error) => {
                    console.log(error);
                });
         },
        async submit(){     
            console.log(this.inputs);    
            console.log(this.inputs[0].model);
            console.log(this.inputs[1].model);
            console.log(this.inputs[2].model) ;
    
            var response=await this.editProject(this.$store.getters.token,this.project.id,this.inputs[0].model,this.inputs[1].model,this.inputs[2].model,this.inputs[3].model);
            //this.hideModal();
            response = await this.load(this.$store.getters.token,this.project.id);
            this.$store.commit("setCurrProject", response.data);
            console.log(response.data);
            this.$router.push({ name: 'projectinfo', params: { lang: this.$i18n.locale }});

            
     }
    }
}
</script>