<template>
        <b-card no-body style="block" class="border-1 mb-2 shadow" header-tag="header" >
             <b-overlay :show="showOverlay" >
            <b-card-body>
                <div class="flexs frow ">
                    <div class="mb-3 blockk">
                        <b-card-sub-title class="mb-2">{{$t('info.client')}}:</b-card-sub-title>
                        <b-card-text>
                                {{infoclient}}
                        </b-card-text>
                        <b-card-sub-title class="mb-2">{{$t('info.desc')}}:</b-card-sub-title>
                        <b-card-text>
                                {{projdesc}}
                        </b-card-text>
                        <b-card-sub-title class="mb-2">{{$t('info.time')}}:</b-card-sub-title>
                        <b-card-text>
                                {{projtime}} {{$t('info.weeks')}}
                        </b-card-text>
                    </div>
                    <div class="mb-3 blockk">
                           <b-img center right fluid v-bind="mainProps"  rounded :src="projectImage" ></b-img>
                    </div>
                </div>

                <b-card-sub-title class="border-top pt-2">{{$t('info.team')}}:</b-card-sub-title>
                <b-list-group flush>
                    <b-list-group-item v-for="user in members" v-bind:item="user" :key="user.id">{{user.correo}}</b-list-group-item>
                </b-list-group>
            </b-card-body>
             </b-overlay>
        </b-card>
</template>

<script>
import api from '../../api/api'
export default {
    props:[ 'cproj','projdesc','projname', 'infoclient', 'projtime'],
    data(){
        return{
            members:[],
            projectImage: null,
            showOverlay:false,
            mainProps: { width: 200, height: 200,  },
        }

    },
    async created(){
        await this.load();
        console.log(this.cproj);
        
    },
    methods:{
        async load(){
            this.showOverlay=true;
            await this.getPic(this.$store.getters.token, this.cproj.id);
            await this.getmembers(this.$store.getters.token,this.cproj.id);
            this.showOverlay=false;
        },
        async getPic(itoken,pid){
            const token= 'Bearer '+itoken
            const url='/projects/getImage/'+pid;
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                    return await api.get(
                        url,
                        headers).then((response) => 
                    {
                        this.projectImage=response.data.base64;
                     },(error) => {
                        console.log(error);
                     });
         },
        async getmembers(itoken,idp){
            const token= 'Bearer '+itoken
            const url='/projects/usersFromProject/'+idp;
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }}; 
                    return await api.get(url,headers).then((response) => 
                    {
                        this.members=response.data;
                        console.log(this.members);
                     },(error) => {
                        this.members=[];
                        console.log(error);
                     });
         },

    }
}
</script>