<template>
    <b-tab :title="$t('content.ing')" v-on:click="load()" :active="active">
        
        <template>
            <b-overlay :show="showOverlay" rounded="lg">
            <div role="tablist">
                <b-button v-if="cproject.archivado==false  && show==true" block variant="info" class="mb-1" v-on:click="openmodal('modal-i1')"><i class="fas fa-plus"></i></b-button>
                <hr>
                <b-button block variant="light" class="mb-1" v-if="ingredients.length ==0">{{$t('content.noing')}}</b-button>
                <div  v-for="ing in sorted" v-bind:item="ing" :key="ing.id">
                    <b-card no-body class="mb-1">
                        <b-card-header header-tag="header" class="p-1" role="tab">
                            <div class="flexs frow">
                                <b-button block href="#" v-b-toggle="'accordion-'+ing.id" variant="light">
                                            {{ing.nombre}}
                                </b-button>
                                <b-button variant="warning" class=" ml-3" v-on:click="preedit(ing.id)" v-if="cproject.archivado==false && show==true">{{$t('general.edit')}}</b-button>   
                                <b-button variant="danger" v-on:click="openWarning(ing.id)" class="ml-3" v-if="cproject.archivado==false  && show==true">{{$t('general.delete')}}</b-button>  
                            </div>
                                 
                        </b-card-header>
                        <b-collapse :id="'accordion-'+ing.id"  accordion="my-accordion" role="tabpanel"> 
                            <b-card-body>
                                <b-table striped hover v-bind:items="[ingredients.find(ingred => ingred.id === ing.id)]" :fields="fields" class="m-0 p-0">
                                    <template v-slot:cell(unidadMedida)="data" >
                                        <div v-for="un in units" v-bind:item="un" :key="un.id">
                                            <div v-if="un.id == data.item.unidadMedida">
                                                {{un.abreviacion}}
                                            </div>
                                        </div>
                                    </template>
                                </b-table>
                            </b-card-body>
                        </b-collapse>
                    </b-card>
                </div> 
            </div>
            </b-overlay>
        </template>
            <Modal  :id="'i'+1" :Title="this.$t('content.t1')" :submit="submitI" :inputs="inputs2" :variant="'info'" :btext="this.$t('general.add')" :closebutton="this.$t('general.close')" />   
            <Modal  :id="'i'+2" :Title="this.$t('content.t2')" :submit="editI" :inputs="inputs" :variant="'info'" :btext="this.$t('general.save2')" :closebutton="this.$t('general.close')" />                                 
            <Modal  :id="'i'+5" :Title="this.$t('warning.warning')" :submit="deletei" :inputs="[]" :variant="'info'" :btext="this.$t('general.yes')" :message="warningDelete" :closebutton="this.$t('general.no')"/>                      

            <div v-show="!alpha" class="float " >
                <b-button class="round shadow " variant="info" v-on:click="changesorted">
                    <i class=" fas fa-sort-alpha-up fa-3x "></i>   
                </b-button>
            </div>
            <div v-show="alpha" class="float " >
                <b-button class="round shadow " variant="info" v-on:click="changesorted">
                    <i class=" fas fa-sort-alpha-down fa-3x "></i>   
                </b-button>
            </div>
    </b-tab>

</template>

<script>
import Modal from '../Subcomponents/Modal'
import api from '../../api/api'
import context from '../../utilities/ContextNotifications'
export default {
    props:[ 
        'archivado', 'cproject', 'active'
    ]
    ,components:{
        Modal, 
    },
    data(){
        return{
            options:{
                
  dropzoneSelector: 'ul',
  draggableSelector: 'li',
  handlerSelector: null,
  reactivityEnabled: true,
            },
                //Ordenamiento
                alpha: false,
                sorted: [], 
                //otras cosas
                ingredients: [],
                inputs: [{id: 1,label:this.$t('content.ingprop.name'),type: 'text',placeholder:'',model:'', rules: 'required'},
                        {id: 2,label:this.$t('content.ingprop.price'),type: 'text',placeholder:'',model:'', rules: 'required|min_value:0'},
                        {id: 3,label:this.$t('content.ingprop.pres'),type: 'text',placeholder:'',model:'', rules: 'required|min_value:0'},
                        {id: 4,label:this.$t('content.ingprop.merma'),type: 'text',placeholder:'',model:'', rules: 'required|max_value:100|min_value:0'},
                        {id: 5,label:this.$t('content.ingprop.uom'),type: 'select',placeholder:'',model:'', text: 'unidad' ,options: [], rules: 'required'}],
                inputs2: [{id: 1,label:this.$t('content.ingprop.name'),type: 'text',placeholder:'',model:'', rules: 'required'},
                        {id: 2,label:this.$t('content.ingprop.price'),type: 'text',placeholder:'',model:'', rules: 'required|min_value:0'},
                        {id: 3,label:this.$t('content.ingprop.pres'),type: 'text',placeholder:'',model:'', rules: 'required|min_value:0'},
                        {id: 4,label:this.$t('content.ingprop.merma'),type: 'text',placeholder:'',model:'', rules: 'required|max_value:100|min_value:0'},
                        {id: 5,label:this.$t('content.ingprop.uom'),type: 'select',placeholder:'',model:'', text: 'unidad' ,options: [], rules: 'required'}],
                fields: [
                        {
                            key: 'nombre',
                            label: this.$t('content.ingprop.name')
                        },
                        {
                            key: 'precioPresentacion',
                            label :this.$t('content.ingprop.price')
                        },
                        {
                            key: 'presentacion',
                            label: this.$t('content.ingprop.pres')
                        },
                        {
                            key: 'unidadMedida',
                            label:this.$t('content.ingprop.uom')
                        },
                        {
                            key: 'precioUnitario',
                            label: this.$t('content.ingprop.unit')
                        }],
                units: this.$store.getters.units,
                show: false,
                showOverlay: false,
                deleteid: -1,
                warningDelete: this.$t('warning.warningDel'),
                example: [
                    {id:1, age: 40, first_name: 'Dickerson', last_name: 'Macdonald' },
                    {id:2,  age: 21, first_name: 'Larsen', last_name: 'Shaw' },
                    {id:3,  age: 89, first_name: 'Geneva', last_name: 'Wilson' },
                    {id:4,  age: 38, first_name: 'Jami', last_name: 'Carney' }
                    ]
        }   

    },
    async created (){
        await this.load();
    },
    computed:{
        sortedIngredients(){
            var ing=this.ingredients;
            return ing.sort((a,b) => (a.nombre > b.nombre) ? 1 : ((b.nombre > a.nombre) ? -1 : 0)); 
        },
        sortedIngredients2(){
            var ing=this.ingredients;
            return ing.sort((a,b) => (a.nombre < b.nombre) ? 1 : ((b.nombre < a.nombre) ? -1 : 0)); 
        }
    },
    methods:{
        changesorted(){
            if(this.alpha){
                this.sorted=this.sortedIngredients;
            }
            else{
                this.sorted=this.sortedIngredients2;
            }
            this.alpha=!this.alpha;
            
        },
        loadSorted(){
            if(!this.alpha){
                this.sorted=this.sortedIngredients;
            }
            else{
                this.sorted=this.sortedIngredients2;
            }
        },
        openWarning(id){
            this.deleteid=id;
            this.$bvModal.show('modal-i5');
        },
        openmodal(modal){
            this.$bvModal.show(modal);
        },
        async load(){
            this.showOverlay=true;
            await this.getIngredients(this.$store.getters.token);
            this.inputs[4].options=this.units;
            this.inputs2[4].options=this.units;
            if(this.$store.getters.user.tipousuario <4){
                this.show=true;
            }
            else{
                this.show=false;
            }
            this.loadSorted();
            this.showOverlay=false;
        },
        preedit(id){
            var ing=this.ingredients.find(ing => ing.id ==  id);
                this.inputs[0].model=ing.nombre;
                this.inputs[1].model=ing.precioPresentacion;
                this.inputs[2].model=ing.presentacion;
                this.inputs[3].model=ing.merma;
                var unidad=this.units.find(rep => rep.id ==  ing.unidadMedida);
                this.inputs[4].model=unidad;
            console.log(id);
            this.$store.commit("setUseful",id);
            this.$bvModal.show('modal-i2');
        },
        async editI(inputs){
            const id=this.$store.getters.useful;
            console.log(id);
            const response = await this.editingredient(this.$store.getters.token, this.cproject.id,inputs[0], inputs[1], inputs[2],inputs[3],inputs[4].id,id);
            console.log(response);
            await this.load();
            this.$bvModal.hide('modal-i2');
            
        },
        async submitI(inputs){
            console.log(inputs);
            const response = await this.addingredient(this.$store.getters.token, this.cproject.id,inputs[0], inputs[1], inputs[2],inputs[3],inputs[4].id);
            console.log(response);
            await this.load();
            this.$bvModal.hide('modal-i1');
        },
        async getIngredients(itoken){
            const token= 'Bearer '+itoken
            const url='/ingredients/searchByProject/'+this.cproject.id;
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                    return await api.get(url,headers).then((response) => 
                    {
                        this.ingredients=response.data;
                     },(error) => {
                        this.ingredients=[];
                        context.warning(this.$t('content.ing'), error);
                     });
         },
        async addingredient(itoken, pid,name, pp, p,merm, uom){
            const token= 'Bearer '+itoken
            const url='/ingredients';
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                    return await api.post(
                        url,
                        {
                            nombre: name,
                            precioPresentacion: pp,
                            presentacion: p,
                            unidadMedida: uom,
                            merma: merm,
                            idProyecto: pid
                        },
                        headers).then((response) => 
                    {
                        context.success(this.$t('general.success'), this.$t('content.noti.addedIng'));
                        return response
                     },(error) => {
                    console.log(error);
                     });
         },
         async editingredient(itoken, pid, name, pp, p,merm, uom,id){
            const token= 'Bearer '+itoken
            const url='/ingredients/'+id;
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                    return await api.put(
                        url,
                        {
                            nombre: name,
                            precioPresentacion: pp,
                            presentacion: p,
                            unidadMedida: uom,
                            merma: merm,
                            idProyecto: pid
                        },
                        headers).then((response) => 
                    {
                        context.success(this.$t('general.success'), this.$t('content.noti.editedIng'));
                        return response
                     },(error) => {
                    console.log(error);
                     });
         },
         async deletei(){
            const response = await this.delIngredient(this.$store.getters.token, this.deleteid);
            console.log(response);
            //this.$bvModal.hide('modal-1');
            await this.load();
        },
         async delIngredient(itoken, id){
            const token= 'Bearer '+itoken
            const url='/ingredients/'+id;
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                    return await api.delete(
                        url,headers).then((response) => 
                    {
                        context.success(this.$t('general.success'), this.$t('content.noti.deletedIng'));
                        return response
                     },(error) => {
                    console.log(error);
                     });
         },
    }
 
}
</script>


<style scoped>
.round{
    border-radius: 50%;
    padding-left: 20px;
    padding-right: 20px;
}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;

}
</style>
