<template>
<!-- 
    Este componente ha sido descontinuado, en proximas actualizaciones sera eliminado del sistema,
    favor de no utilizarlo de ahora en adelante, gracias.
-->
   <b-form  label-for="tag-search-input"  >
       <b-form-group class="flexs frow" :label="label">
                    <b-form-input
                    v-model="search"
                    id="tag-search-input"
                    list="input-list"
                    autocomplete="off"
                    :placeholder="placeholder"
                    > </b-form-input>
                <b-form-datalist id="input-list" >
                    <option v-for="option in availableOptions" v-bind:item="option" :key="option.id">{{ option.nombre }}</option>
                </b-form-datalist>
       </b-form-group>

        <div v-for="inp in inputs" v-bind:item="inp" :key="inp.id">
            <b-form-group
                :id="'input-'+inp.id"
                :label="inp.label"
                :label-for="'input-'+inp.id"
            >
                <b-form-input :type="inp.type" :placeholder="inp.placeholder" v-model="inp.model">
                    
                </b-form-input>
            </b-form-group>
        </div>

       <div class="flexs frow alignend">
            <b-button variant="secondary" v-if="showclose" class="ml-1" v-on:click="close();">Cancel</b-button>
            <b-button variant="outline-info" class="ml-1" v-on:click="add();">Add</b-button>
       </div>
    </b-form>
</template>

<script>
export default {
    props:  [
        'placeholder','data','selected', 'show',  'label', 'action','inputs', 'nomodal'
    ],
    data(){
        return{
            search:'',
            newdata: [],
            showclose: true,
            passidsonly: true,
        }
    },
    created(){
        //comentario
        this.fetch();
        this.checknomodal();

    },
    methods:{
         checknomodal(){
            if(this.nomodal==true){
                console.log('entro');
                this.showclose=false;
                this.passidsonly=false;
            }
        },
         fetch(){
            if(this.selected.length >0){
                for(var i=0;i<this.selected.length ;i++){
                    for(var j=0;j<this.data.length;j++){
                        if(this.data[j].id == this.selected[i].idIngrediente && this.data[j].tipo == this.selected[i].tipoReceta){
                            this.data.splice(j, 1); 
                        }
                    }
                }
                this.newdata=this.data;
            }
            else{
                this.newdata =this.data;
            }
        },
        close(){
            this.$bvModal.hide('modal-sr'+4);
            this.$bvModal.show('modal-sr'+3);
        },
        add() {
            var nmember=this.searchOption();

                if (this.selected.filter(e => e.idIngrediente === nmember[0].id).length > 0) {
                    console.log('lo contiene');
                }
                else{
                    if(this.passidsonly ==true){
                        this.selected.push({idIngrediente: nmember[0].id, cantidad: this.inputs[0].model, unidadMedida: this.inputs[1].model, tipoReceta:nmember[0].tipo});
                        this.$emit('changesMade',this.selected);
                    }
                    else{
                        this.selected.push({idIngrediente: nmember[0].id, cantidad: this.inputs[0].model, unidadMedida: this.inputs[1].model, tipoReceta:nmember[0].tipo});
                        this.show.push({idIngrediente: nmember[0].id, nombre: nmember[0].nombre, cantidad: this.inputs[0].model, unidadMedida: this.inputs[1].model, tipoReceta:nmember[0].tipo});
                        this.$emit('changesMade',[this.selected,this.show]);
                    }
   
                }
            this.search = ''; 
            this.inputs[0].model='';
            this.inputs[1].model='';
      },
        searchOption: function() {
                return this.newdata.filter(dat => {
                    return dat.nombre.toLowerCase().includes(this.search.toLowerCase())});  
        }
    },
    computed: {
        availableOptions: function() {
                return this.newdata.filter(dat => {
                    return dat.nombre.toLowerCase().includes(this.search.toLowerCase())});
        }
    },

}
</script>

