<template> 
    <b-collapse id="collapse-2" class="mt-2 shadow rounded">
            <b-card
            header-tag="header"
            >
            <template v-if="cproj.archivado==false"  v-slot:header>
                <label>{{$t('settings.search')}}</label>
                <div class="flexs ">
                    <div  class="growselect" >
                        <v-select style="background: white;" required :options="availableusers" label="correo" v-model="seluser"></v-select>
                    </div>
                    <div class="growbutton  ml-1">
                        <b-button v-if="cproj.archivado==false" variant="outline-info" v-on:click="useradded();">{{$t('general.add')}}</b-button>
                    </div>
                </div>
            </template>
            <b-card-body>
                <b-list-group flush>            
                    <div v-for="user in members" v-bind:item="user" :key="user.id" class="m-1 flexs frow">
                        <b-list-group-item button  >{{user.correo}}</b-list-group-item> 
                        <b-button v-if="cproj.archivado==false" variant="danger" class="ml-2" v-on:click="beforedelete(user.id)"><i class="fas fa-trash-alt"></i></b-button>
                    </div>
                </b-list-group>
            </b-card-body>

        </b-card>
    </b-collapse>
</template>

<script>
import vSelect from 'vue-select'
import 'vue-select/dist/vue-select.css';
import api from '../../api/api'
export default {
    props:[
        'cproj'
    ],
    components:{
       vSelect
    },
    data(){
        return{
                users: [],
                members: [],
                seluser: '',
                //availableusers: []
        }
    },
    async created(){
        var response = await this.loadusers(this.$store.getters.token);
        this.users=response.data;
        console.log(this.users);
        this.loadmembers();

    },
    computed:{
        availableusers(){
            var users=[];
            for(var i=0;i<this.users.length;i++){
                var flag=false;
                for(var j=0;j<this.members.length;j++){
                    if(this.users[i].id == this.members[j].id){
                        flag =true;
                    }
                }
                if(flag != true){
                    users.push(this.users[i]);
                }
            }
            return users;
        }
    },
    methods:{
        async useradded(){
            if(this.seluser.id != undefined){
                console.log(this.seluser);
                await this.addmember(this.$store.getters.token, [this.seluser.id], this.cproj.id);
                await this.loadmembers();
            }

            this.seluser='';
            //await this.addmember(this.$store.getters.token, [newmember], this.cproj.id);
            //await this.loadmembers();
        },
        async loadmembers(){
            const response = await this.getmembers(this.$store.getters.token,this.cproj.id);
            this.members=response.data;
            if(this.members ==undefined){
                console.log("respuesta: "+response.message );  
                this.members=[];
            }
        },
        async beforedelete(uid){
            await this.delmember(this.$store.getters.token,this.cproj.id, uid);
            await this.loadmembers();
        },
        async delmember(itoken,idp,uid){
            const token= 'Bearer '+itoken
            const url='/projects/removeFromProject/'+idp+'/'+uid;
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }}; 
                    return await api.delete(url,headers).then((response) => 
                    {
                        return response
                     },(error) => {
                    console.log(error);
                     });
         },
         async loadusers(itoken){
            const token= 'Bearer '+itoken
            const url='/users/safe';
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    return await api.get(url,headers).then((response) => 
                    {
                        return response
                     },(error) => {
                    console.log(error);
                     });
         },
         async getmembers(itoken,idp){
            const token= 'Bearer '+itoken
            const url='/projects/usersFromProject/'+idp;
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }}; 
                    return await api.get(url,headers).then((response) => 
                    {
                        return response
                     },(error) => {
                        return error;
                     });
         },
         async addmember(itoken,uid,idp){
            console.log(uid);
            const token= 'Bearer '+itoken
            const url='/projects/userToProject';
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }}; 
                    return await api.post(url,
                    {
                        idProyecto: idp,
                        usuarios: uid
                    },
                    headers).then((response) => 
                    {
                        return response
                     },(error) => {
                            console.log(error.response.data);
                            console.log(error.response.status);
                            console.log(error.response.headers);
                        this.notify('Error: '+error.response.status,error.response.data);
                     });
         },
        notify(title,text){
                this.$notify({
                    group: 'foo',
                    title: title,
                    text: text,
                    type: 'error'
            });
        }
    }
}
</script>

<style scoped>
.growselect{
    flex-grow: 10;
}
.growbutton{
    flex-grow: 0.1;
}
</style>