<template>
    <div id="ofst" class="stickyy">
        <b-navbar sticky  toggleable="lg" type="dark" variant="info" class="shadow">
            <b-container >
            <b-navbar-brand v-on:click="open('projects')">GProG </b-navbar-brand>

            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav >
                <b-navbar-nav >
                    <b-nav-item class="whitetext"  v-for="opt in menuopts" v-bind:item="opt" :key="opt.id" v-on:click="open(opt.route)" :active="opt.active" >
                            <div v-if="opt.disabled !=true">
                                <i :class="opt.icon"></i> {{opt.name}} 
                            </div>    
                    </b-nav-item>
                </b-navbar-nav>

                <!-- Para alinear los elementos a la derecha -->
                    <b-navbar-nav class="ml-auto">
                        <Notification v-if="usertype !=4" />
                        <b-nav-item-dropdown  right > 
                            <template v-slot:button-content>
                                <i class="fas fa-language"></i><em> {{$t('menu.lang')}}</em>
                            </template>
                            <div v-for="lang in langs" v-bind:item="lang" :key="lang.id" >
                                    <b-dropdown-item  class="border-bottom" v-on:click="changelocale(lang)" >{{lang.name}}</b-dropdown-item>
                            </div>    
                        </b-nav-item-dropdown>
                    
                        <b-nav-item-dropdown right>
                            <!-- Using 'button-content' slot -->
                            <template v-slot:button-content>
                                <i class="fas fa-user"></i><em> {{$t('menu.user')}}</em>
                            </template>
                            <b-dropdown-item v-on:click="open('account')" class="border-bottom">
                                <i class="fas fa-address-card"></i>  {{$t('menu.profile')}}
                            </b-dropdown-item>
                            <b-dropdown-item v-on:click="signout">
                                <i class="fas fa-sign-out-alt"></i>  {{$t('menu.signout')}}
                            </b-dropdown-item>
                        </b-nav-item-dropdown>
                    </b-navbar-nav>
            </b-collapse>
            </b-container>
        </b-navbar>
    </div>
    
</template>

<script>
import Notification from './Notification'
export default {
    components:{
        Notification
    },
    data(){
        return{
            menuopts:[],
            langs: [{name: 'EN',lang:'en'}, {name: 'ES',lang:'es'}],
            usertype: 0,
        }
    },
    created(){
        this.menuopts=JSON.parse(JSON.stringify(this.$store.getters.actmenu));
        this.usertype=this.$store.getters.user.tipousuario;
        if(this.usertype >1){
            this.menuopts.pop();
        }


    },
    methods:{
        open(route){
            var path=(this.$router.currentRoute).name;
            if(route != path){
                this.$router.push({ name: route, params: { lang: this.$i18n.locale }});
            }

        },
        signout(){
            console.log("Signing out");
            //console.log("datos validados");
            this.$store.commit("setToken",  null);
            localStorage.setItem("token", null);
            this.$store.commit("setLogged",  null);
            console.log("se cambio el valor de token  por: null")
            this.$router.push({ name: 'login', params: { lang: this.$i18n.locale }})
        },
        changelocale(locale){
            
            if(this.$i18n.locale != locale.lang){
                this.$i18n.locale =locale.lang;
                var path=(this.$router.currentRoute).name;
                this.$router.push({ name: path, params: { lang: this.$i18n.locale }});
            }


        }
    }
}
</script>

<style>

#ofst{
    margin-bottom: 1%;
    z-index:  1000;
}
.b-nav-item .whitetext{
    text-decoration: none;
    color: white;
}
a:hover{
    color: lightgrey;
}
.stickyy{
    position: sticky;
    top: 0;
}
</style>





