<template>
        <b-modal :key="'k'+id" :id="'modal-'+id" hide-footer  :no-close-on-esc="esc" :no-close-on-backdrop="backdrop" :size="size" :hide-header-close="hideclose">
            <template v-slot:modal-title>
                <div class="d-block text-center">
                    <h3>{{Title}}</h3>
                </div>
            </template>  
            <div class="d-block text-center" v-if="message!=null">
                <h3>{{message}}</h3>
            </div>
            <slot name="above"></slot>
            <div v-if="inputs != null">
                <ValidationObserver ref="form"  v-slot="{ handleSubmit }">
                    <b-form  @submit.prevent="handleSubmit(beforesubmit)">
                        <div id="form" v-for="inp in inputs" v-bind:item="inp" :key="inp.id">
                            <ValidationProvider name="Value" :vid="'vp'+inp.id"
                                                :rules="inp.rules" 
                                                v-slot="validationContext">
                                <b-form-group :id="'input-group-'+inp.id" :label="inp.label" :label-for="'input-'+inp.id" >
                                    <div v-if="inp.type == 'select'">
                                        <v-select :id="'input-'+inp.id"  :options="inp.options" :label="inp.text" v-model="inp.model" :disabled="disabled" :aria-describedby="'input-'+inp.id+'-live-feedback'" :state="getValidationState(validationContext)">
                                            <template #search="{attributes, events}">
                                                <input
                                                class="vs__search"
                                                :required="!inp.model"
                                                v-bind="attributes"
                                                v-on="events"
                                                />
                                            </template>
                                        </v-select>
                                        <b-form-invalid-feedback :id="'input-'+inp.id+'-live-feedback'">{{ validationContext.errors[0] }}</b-form-invalid-feedback>
                                    </div>
                                    <div v-else-if ="inp.type == 'textarea'">
                                            <b-form-textarea :disabled="disabled" :placeholder="inp.placeholder" v-model="inp.model"
                                            :id="'input-'+inp.id" 
                                            :name="'input-'+inp.id" 
                                            :state="getValidationState(validationContext)"
                                            :aria-describedby="'input-'+inp.id+'-live-feedback'">
                                            </b-form-textarea>
                                            <b-form-invalid-feedback :id="'input-'+inp.id+'-live-feedback'">{{ validationContext.errors[0] }}</b-form-invalid-feedback>
                                    </div>
                                    <div v-else>
                                        <b-form-input :disabled="disabled" :type="inp.type" :placeholder="inp.placeholder" v-model="inp.model"
                                        :id="'input-'+inp.id" 
                                        :name="'input-'+inp.id" 
                                        :state="getValidationState(validationContext)"
                                        :aria-describedby="'input-'+inp.id+'-live-feedback'"></b-form-input>
                                        <b-form-invalid-feedback :id="'input-'+inp.id+'-live-feedback'">{{ validationContext.errors[0] }}</b-form-invalid-feedback>
                                    </div>
                                    
                                </b-form-group>
                            </ValidationProvider>
                    
                        </div>
                        <slot name="middle"></slot>
                            <div class="align" >
                                <b-button v-if="closebutton !=null" class="m-1" variant="secondary" v-on:click="beforeClose()">{{closebutton}}</b-button>
                                <b-button v-if="btext !=null" class="m-1" :variant="variant" type="submit" >{{btext}}</b-button>
                            </div> 
                    </b-form> 

            
                <slot name="below"></slot>
 
            </ValidationObserver>
            </div>
        </b-modal>
</template>

<script>
import vSelect from 'vue-select'
import 'vue-select/dist/vue-select.css';
export default {
    name: "Modal",
    components:{
        vSelect
    },
    props:[
 //       'Title','inputs'
        'id','Title','inputs','submit','variant','btext','message','disabled','closebutton','esc','backdrop', 'size', 'beforeC', 'hideclose'
    ],
    data(){
        return{


        }
    },
    methods:{
        getValidationState({ dirty, validated, valid = null }) {
        return dirty || validated ? valid : null;
        },        
        async beforesubmit(){
            var flag=true;
            for(var k=0;k<this.inputs.length;k++){
                if(this.inputs[k].model == null)
                {
                    console.log('entrro con'+this.inputs[k].model);
                    flag=false;
                }
            }
            if(flag==true){
                var  inputs=[];
                if(this.inputs != null){
                    for(var i=0;i<this.inputs.length;i++){
                        inputs.push(this.inputs[i].model);
                    }
                }

                await this.submit(inputs);
                this.$bvModal.hide('modal-'+this.id);
                if(this.inputs != null){
                    for(var j =0;j<this.inputs.length;j++){
                        this.inputs[j].model='';
                    }
                }
            }

        },
        async beforeClose(){
            this.$bvModal.hide('modal-'+this.id);
            if(this.beforeC != null){
                await this.beforeC();
            }
        }
    }
}
</script>

<style>
.align{

    display: flex; justify-content: flex-end;
}
</style>