<template>
    <b-container class="m-2 p-0 shadow rounded">
        <b-card>
            <div id="row" class="border-bottom mb-3 pb-2">
                <div id="left" class="text-center">
                    <h3>{{$t('content.recprop.new')}}</h3>
                </div>      
                <div id="right" class="text-right" >
                    <b-button variant="transparent" style="color: #D3D3D3;" v-on:click="open()">
                        <i class="fas fa-times fa-2x"></i> 
                    </b-button>  
                </div>  
            </div>

            <ValidationObserver ref="form1-val"  v-slot="{ handleSubmit }">
            <b-form  @submit.prevent="handleSubmit(submitRecipe)" id="Form1">
            <div v-for="inp in inputs1" v-bind:item="inp" :key="inp.id">
                <ValidationProvider name="Value" :vid="'vp'+inp.id"
                                    :rules="inp.rules" 
                                    v-slot="validationContext">
                    <b-form-group :id="'input-group-'+inp.id" :label="inp.label" :label-for="'input-'+inp.id" label-cols="4" label-cols-lg="2" >
                                    <div v-if ="inp.type == 'textarea'">
                                            <b-form-textarea  :placeholder="inp.placeholder" v-model="inp.model"
                                            :id="'input-'+inp.id" 
                                            :name="'input-'+inp.id" 
                                            :state="getValidationState(validationContext)"
                                            :aria-describedby="'input-'+inp.id+'-live-feedback'">
                                            </b-form-textarea>
                                            <b-form-invalid-feedback :id="'input-'+inp.id+'-live-feedback'">{{ validationContext.errors[0] }}</b-form-invalid-feedback>
                                    </div>
                                    <div v-else>
                                        <b-form-input  :type="inp.type" :placeholder="inp.placeholder" v-model="inp.model"
                                        :id="'input-'+inp.id" 
                                        :name="'input-'+inp.id" 
                                        :state="getValidationState(validationContext)"
                                        :aria-describedby="'input-'+inp.id+'-live-feedback'"></b-form-input>
                                        <b-form-invalid-feedback :id="'input-'+inp.id+'-live-feedback'">{{ validationContext.errors[0] }}</b-form-invalid-feedback>
                                    </div>
                    </b-form-group>
                </ValidationProvider>
            </div>
                <b-form-group label-cols="4" label-cols-lg="2" 
                        :label="$t('content.recprop.rectype')+':'"
                        label-for="select-1"
                    >
                    <v-select id="select-1"  :options="options" label="text" v-model="rType">
                        <template #search="{attributes, events}">
                            <input
                            class="vs__search"
                            :required="!rType"
                            v-bind="attributes"
                            v-on="events"
                            />
                        </template>
                    </v-select>  <!-- select para tipo de recetas -->
                </b-form-group>

                <b-form-group label-cols="4" label-cols-lg="2" 
                        :label="$t('content.recprop.serv')+':'"
                        label-for="select-2"
                    >
                    <v-select id="select-2" :options="costs" label="nombre" v-model="cost">
                        <template #search="{attributes, events}">
                            <input
                            class="vs__search"
                            :required="!cost"
                            v-bind="attributes"
                            v-on="events"
                            />
                        </template>
                    </v-select>  
                </b-form-group>

                <b-form-group label-cols="4" label-cols-lg="2" 
                        :label="'Category'+':'"
                        label-for="select-3"
                    >
                    <v-select id="select-3" :options="categories" label="nombre" v-model="selcat">
                        <template #search="{attributes, events}">
                            <input
                            class="vs__search"
                            :required="!selcat"
                            v-bind="attributes"
                            v-on="events"
                            />
                        </template>
                    </v-select>  
                </b-form-group>
            </b-form>
            </ValidationObserver>

            <div class="flexs frow stretch border-top ">
                <div class="blockk pt-3 pr-3 border-right">
                <ValidationObserver ref="Form2-val"  v-slot="{ handleSubmit }">
                <b-form  id="Form2" @submit.prevent="handleSubmit(add)" action="add" >

                    <b-form-group 
                            :label="$t('content.recprop.seling')"
                            label-for="select-1"
                        >
                    <v-select id="select-1" :options="filtereddata" label="nombre" v-model="ingred"><!-- select para los ingredientes -->
                        <template #search="{attributes, events}">
                            <input
                            class="vs__search"
                            :required="!ingred"
                            v-bind="attributes"
                            v-on="events"
                            />
                        </template>
                    </v-select> 
                    </b-form-group>
                    
                    <ValidationProvider name="Value"
                    rules="required|min_value:0" 
                    v-slot="validationContext">
                    <b-form-group
                        id="input-group-1"
                        :label="$t('content.recprop.quant')"
                        label-for="input-quantity"
                    >
                        <b-form-input id="input-quantity" type="text" placeholder="0" v-model="quantity"
                        :state="getValidationState(validationContext)"
                        aria-describedby="input-quantity-live-feedback"></b-form-input>
                        <b-form-invalid-feedback id="input-quantity-live-feedback">{{ validationContext.errors[0] }}</b-form-invalid-feedback>
                    </b-form-group>
                    </ValidationProvider>

                    <b-form-group
                            :label="$t('content.recprop.uom')"
                            label-for="select-2"
                        >
                        <v-select id="select-2" :options="unidades" label="unidad" v-model="unidadselec" :disabled="blockUnits"><!-- select para las unidades de medida -->
                            <template #search="{attributes, events}">
                                <input
                                class="vs__search"
                                :required="!unidadselec"
                                v-bind="attributes"
                                v-on="events"
                                />
                            </template>
                        </v-select> 
                    </b-form-group>
                    
                    <div class="flexs frow alignend">
                            <b-button variant="outline-info" class="ml-1" type="submit" form="Form2">{{$t('general.add')}}</b-button>
                    </div>
            </b-form>
            </ValidationObserver>
            </div>
                    <div class="blockk pt-3 pl-3 border-left ">
                        <label >{{$t('content.recprop.ing')}} </label>
                        <div class="overflow-auto">
                            <!--
                            <b-list-group>
                                    <b-list-group-item button v-for="sel in show" v-bind:item="sel" :key="sel.id">{{sel.nombre}} </b-list-group-item>
                            </b-list-group>
                            -->

                            <div v-for="sel in show" v-bind:item="sel" :key="sel.idIngrediente">
                                        <b-card no-body class="mb-1">
                                            <b-card-header header-tag="header" class="p-1" role="tab">
                                                <div class="flexs frow">
                                                    <b-button block href="#" v-b-toggle="'accordion-'+sel.idIngrediente" variant="light">
                                                                {{sel.nombre}}
                                                    </b-button>
                                                    <b-button variant="danger"  class="ml-3" v-on:click="removeIngredient(sel)"><i class="fas fa-trash-alt"></i></b-button>  
                                                </div>       
                                            </b-card-header>
                                            <b-collapse :id="'accordion-'+sel.idIngrediente"  accordion="my-accordion" role="tabpanel"> 
                                                <b-card-body>
                                                    <b-table striped hover v-bind:items="[show.find(ingred => ingred.idIngrediente === sel.idIngrediente)]" :fields="fields"  class="m-0 p-0">
                                                    </b-table>
                                                </b-card-body>
                                            </b-collapse>
                                        </b-card>
                                    </div>
                        </div>
                        <div v-if="show.length == 0" class="text-center">
                            <h4 class="mt-5 mb-5">
                                {{$t('content.recprop.adds')}}
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-3 border-top pt-3">
                        <b-button variant="info" class="ml-1" type="submit" form ="Form1">{{$t('general.save1')}}</b-button>
                </div>

        </b-card>
    </b-container>
</template>


<script>
//import IngredientSearch from '../Subcomponents/IngredientSearch'
import vSelect from 'vue-select'
import 'vue-select/dist/vue-select.css';
import api from '../../api/api'
import context from '../../utilities/ContextNotifications'
export default {
    props:[
        'cproject', 'proyname'
    ],   
    components: {
        //IngredientSearch 
        vSelect
    },
    data(){
        return{
                rType: 0,
                options: [{value:1, text:this.$t('content.recprop.opt1')},{value:3,text:this.$t('content.recprop.opt2')}],

                inputs1: [{id: 1,label:this.$t('content.recprop.name'),type: 'text',placeholder:'',model:'', rules: 'required'},
                        {id: 2,label: this.$t('content.recprop.tecn'),type: 'text',placeholder:'',model:'', rules: 'required'},
                        {id: 3,label:this.$t('content.recprop.time'),type: 'text',placeholder:'',model:'', rules: 'required'},
                        {id: 4,label:this.$t('content.recprop.proc'),type: 'textarea',placeholder:'',model:'', rules: 'required'},
                        {id: 5,label:this.$t('content.recprop.assem'),type: 'textarea',placeholder:'',model:'', rules: 'required'},
                        {id: 6,label: 'Cuberteria',type: 'text',placeholder:'',model:'', rules: 'required'}],
                data:[], //para guardar todos los ingredientes/recetas disponibles en el proyecto
                selected:[], //para guardar los ingredientes seleccionados para la receta
                show: [], //para poder mostrarlos
                recipes:[], //guarda las subrecetas disponibles
                ingredients:[], //guarda los ingredientes disponibles
                categories: [],
                selcat: "",
                costs: [], //guarda los costos
                cost: 0, //costo seleccionado
                //Propiedades de los ingredientes agregados a la receta
                ingred: 0, //ingrediente seleccionado
                quantity: '', //cantidad del ingrediente seleccionado
                unidadselec: 0,
                unidades: this.$store.getters.units,
                fields: [
                    {
                        key: 'nombre',
                        label: this.$t('content.recprop.name')
                    },
                    {
                        key: 'cantidad',
                        label: this.$t('content.recprop.quant')
                    }],
                blockUnits: false //variable para bloquear el select de las unidades de ser necesario...
        }
    },
    async created(){
        await this.load(); 
    },
    methods:{

        removeIngredient(dat){
            for(var ii=0;ii< this.selected.length;ii++){ //filtra los datos que pueden seleccionarse al usar el add ingredient
                if(dat.idIngrediente == this.selected[ii].idIngrediente && dat.tipoReceta == this.selected[ii].tipoReceta){
                    this.selected.splice(ii, 1); 
                }
            }
            for( ii=0;ii< this.show.length;ii++){ //filtra los datos que pueden seleccionarse al usar el add ingredient
                if(dat.idIngrediente == this.show[ii].idIngrediente && dat.tipoReceta == this.show[ii].tipoReceta){
                    this.show.splice(ii, 1); 
                }
            }
        },
        open(){
            this.$router.push({ name: 'projectview', params: { lang: this.$i18n.locale }});
        },
        getValidationState({ dirty, validated, valid = null }) {
        return dirty || validated ? valid : null;
        },
        add(){
            console.log(this.ingred);
            this.selected.push({idIngrediente: this.ingred.idReal, cantidad: this.quantity, unidadMedida: this.unidadselec.id, tipoReceta:this.ingred.tipo});
            this.show.push({idIngrediente: this.ingred.idReal, nombre: this.ingred.nombre, cantidad: this.quantity, unidadMedida: this.unidadselec.unidad, tipoReceta:this.ingred.tipo});
            this.clean();
        },
        del(){
            this.selected.push({idIngrediente: this.ingred.idReal, cantidad: this.quantity, unidadMedida: this.unidadselec.id, tipoReceta:this.ingred.tipo});
            this.show.push({idIngrediente: this.ingred.idReal, nombre: this.ingred.nombre, cantidad: this.quantity, unidadMedida: this.unidadselec.id, tipoReceta:this.ingred.tipo});
        },
        clean(){
            this.ingred=0;
            this.unidadselec=0;
            this.quantity='';
        },
        async load(){
            await this.getIngredients(this.$store.getters.token);
            await this.getSubRecipes(this.$store.getters.token);
            await this.getCosts(this.$store.getters.token);
            await this.getCategories(this.$store.getters.token);
            await this.modify();
            if(this.recipes.length >0 && this.ingredients.length >0){
                    this.data = this.ingredients.concat(this.recipes);
            }
            else if(this.recipes.length >0 && this.ingredients.length ==0){
                this.data = this.recipes;
            }
            else if( this.ingredients.length >0 && this.recipes.length ==0 ){
                this.data = this.ingredients;
            }
            for(var i=0;i<this.data.length;i++){
                this.data[i].idReal = this.data[i].id;
                this.data[i].id=i;
            }
        },
        async getCosts(itoken){
            const token= 'Bearer '+itoken
            const url='servicecosts/fromProject/'+this.cproject.id;
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                    return await api.get(url,headers).then((response) => 
                    {
                        this.costs=response.data;
                     })
                    .catch((error) => {      
                        /* eslint-disable no-unused-vars */
                        this.costs=[];
                        const mute = error;
                        /* eslint-enable no-unused-vars */
                     });

         },
        modify(){
            var i=0;
            for( i=0;i<this.ingredients.length;i++){
                this.ingredients[i].tipo=5;
                //console.log(this.ingredients[i]);
            }
            for( i=0;i<this.recipes.length;i++){
                this.recipes[i].tipo=2;
            }

        },
        async submitRecipe(){
            await this.addRecipe(this.$store.getters.token, this.cproject.id,this.inputs1[0].model,this.inputs1[1].model,
            this.inputs1[2].model,this.inputs1[3].model,this.inputs1[4].model, this.inputs1[5].model, this.selcat.id);
            //this.$bvModal.hide('modal-r2');
            this.$router.push({ name: 'projectview', params: { lang: this.$i18n.locale }});

        },
         async addRecipe(itoken,pid, name,technique,time,proc,assem, cub, cate){
            const token= 'Bearer '+itoken
            const url='/recipes';
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    return await api.post(
                        url,
                        {
                            nombre: name,
                            categoria: cate,
                            tecnica: technique,
                            tiempoPreparacion: time,
                            procedimiento: proc,
                            montaje: assem,
                            cuberteria: cub,
                            imagen:"No hay imagen compa.png",
                            ingredientes: this.selected,
                            tipoReceta: this.rType.value ,
                            costoServicio: this.cost.id,
                            idProyecto: pid
                        },
                        headers).then((response) => 
                    {
                        context.success(this.$t('general.success'), this.$t('content.noti.addedRec'));
                        return response
                     },(error) => {
                    console.log(error);
                     });
         },
        async getSubRecipes(itoken){
            const token= 'Bearer '+itoken
            const url='/subrecipes/fromProject/'+this.cproject.id;
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                    return await api.get(url,headers).then((response) => 
                    {
                        this.recipes=response.data;
                     },(error) => {
                        this.recipes=[];
                        console.log(error);
                     });
         },
         async getIngredients(itoken){
            const token= 'Bearer '+itoken
            const url='/ingredients/searchByProject/'+this.cproject.id;
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                    return await api.get(url,headers).then((response) => 
                    {
                        this.ingredients=response.data;
                     },(error) => {
                        this.ingredients=[];
                        console.log(error);
                     });
         },
        async getCategories(itoken){
            const token= 'Bearer '+itoken
            const url='/categories';
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                    return await api.get(url,headers).then((response) => 
                    {
                        this.categories=response.data;
                     },(error) => {
                        console.log(error);
                    });
         },
    },
    computed:{
        computedshow: function(){
            var newshow=[];
            for(var i=0;i<this.selected.length;i++){
                for(var j=0;j<this.data.length;j++){
                    if(this.data[i].nombre == this.selected[i].nombre){
                        newshow.push()
                    }
                }

            }
            return newshow;
        },
        filtereddata(){
            var dat=JSON.parse(JSON.stringify(this.data));
            if(this.selected.length >0){
                for(var i=0;i< this.selected.length;i++){ //filtra los datos que pueden seleccionarse al usar el add ingredient
                    for(var ii=0;ii< dat.length;ii++){ //filtra los datos que pueden seleccionarse al usar el add ingredient
                        if(dat[ii].idReal == this.selected[i].idIngrediente && dat[ii].tipo == this.selected[i].tipoReceta){
                            dat.splice(ii, 1); 
                        }
                    }
                }
                return dat;//[1,2]
            } 
            else{
                return dat;
            }
        }
    },
    watch: { 
    /* eslint-disable no-unused-vars */
    ingred: function(newVal, oldVal) {
        if(newVal != null && newVal != undefined){
            console.log("SE modifico el ingrediente");
            console.log(newVal);
            if(newVal.tipo != 2){
                this.unidadselec=this.unidades.find(x =>x.id == newVal.unidadMedida);
                this.blockUnits=true;
            }
            else{
                this.unidadselec=null;
                this.blockUnits=false;
            }
        }
        else{
            this.unidadselec=null;
            this.blockUnits=false;
        }
    }
        /* eslint-enable no-unused-vars */
    }
}
</script>

<style scoped>
.blockk{
    width: 50%;
}
.abajo{
    margin-top: auto;
    margin-bottom: 1%;
}
#row {
  display: flex;                
  justify-content: center;      
  position: relative;           
}
#right {
  position: absolute;            
  right: 2%;                     
}
</style>