<template>
  <div id="down">
    <b-sidebar id="sidebar-no-header-1" aria-controls="sidebar-no-header-1" aria-labelledby="sidebar-no-header-title" :visible="big" no-header shadow  bg-variant="dark" text-variant="light" class="p-0" >
        <div class="p-0">
            <div>
                <h4 id="sidebar-no-header-title" class="mt-5"></h4>
            </div>
          <nav class="mb-3">
            <b-nav vertical class="mt-3">
                <div class="mt-2">
                <b-nav-item v-on:click="open(op.route)"  v-for="op in noptions" :key="op.id" :active="op.active" class="hv" >
                    <div v-if="op.disabled != true">
                        <div v-if="op.active" class=""> 
                            <div  class="whitetext shaded pl-3 pt-3 pb-3 p-0 m-0">
                                <i :class="op.icon"></i>  {{op.name}}
                            </div>  
                        </div>
                        <div v-else> 
                            <div  class="whitetext pl-3 pt-3 pb-3">
                                <i :class="op.icon"></i>  {{op.name}}
                            </div>  
                        </div>
                    </div>

                </b-nav-item>
                </div>

            </b-nav>
          </nav>
        </div>
        <template v-slot:footer>
        <div class=" py-2 d-flex bg-dark text-light align-items-center px-3 mb-2">
            <h4 >{{title}}</h4>
        </div>
        </template>
    </b-sidebar>
        <b-sidebar id="sidebar-no-header-2" aria-controls="sidebar-no-header-2" aria-labelledby="sidebar-no-header-title" :visible="small" width="50px" no-header shadow  bg-variant="dark" text-variant="light" class="p-0" >
        <div class="p-0">
            <div>
                <h4 id="sidebar-no-header-title" class="mt-5"></h4>
            </div>
          <nav class="mb-3">
            <b-nav vertical class="mt-3">
                <div class="mt-2">
                <b-nav-item v-on:click="open(op.route)"  v-for="op in noptions" :key="op.id" :active="op.active" class="hv">
                    <div v-if="op.disabled != true">
                        <div v-if="op.active" class=""> 
                            <div  class="whitetext shaded p-2 text-center" >
                                <i :class="op.icon"></i> 
                            </div>  
                        </div>
                        <div v-else> 
                            <div  class="whitetext p-2 text-center">
                                <i :class="op.icon"></i>  
                            </div>  
                        </div>
                    </div>

                </b-nav-item>
                </div>

            </b-nav>
          </nav>
        </div>
    </b-sidebar>

  </div>
</template>

<script>
export default {
    props:[
        'options', 'title'
    ],
    data(){
        return{
            noptions: [],
            big:true,
            small: false
        }
    },
    created() {
        this.change();
        window.addEventListener("resize", this.myEventHandler);
        this.noptions=JSON.parse(JSON.stringify(this.options));
        if(this.$store.getters.user.tipousuario >2){
            for(var i=0;i<this.noptions.length;i++){
                if(this.noptions[i].id == 7){
                     this.noptions.splice(i, 1);
                     //console.log(this.options);
                }
            }
        }
    },
    destroyed() {
        window.removeEventListener("resize", this.myEventHandler);
    },
    methods:{
        change(){
            if(window.innerWidth <= 1680){
                this.big=false;
                this.small=true;
            }
            if(window.innerWidth > 1680){
                this.small=false;
                this.big=true;
            }
            
        },

        myEventHandler(e) {
            if(e.srcElement.innerWidth <= 1680){
                this.big=false;
                this.small=true;
            }
            if(e.srcElement.innerWidth > 1680){
                this.small=false;
                this.big=true;
            }

        },
        open(route){
            var path=(this.$router.currentRoute).name;
            if(route != path){
                this.$router.push({ name: route, params: { lang: this.$i18n.locale }});
            }
        }
    }
}

</script>

<style scoped>
a{
    margin: 0;
    padding: 0;
}
#down{
    z-index:  1;
}
.whitetext{
    color: white;  
}
.shaded {
  background: rgba(255, 255, 255, 0.5); /* White with 50% alpha */
}
.hv:hover{
    background: rgba(255, 255, 255, 0.5);
}
</style>