<template>
    <b-container class="m-2"> 
        <b-card class="border-1 p-0 mb-5 mt-3 shadow" >
            <div id="row" class="border-bottom mb-3 pb-2">
                <div id="left" class="text-center">
                    <h3>{{$t('content.subprop.new')}}</h3>
                </div>      
                <div id="right" class="text-right" >
                    <b-button variant="transparent" style="color: #D3D3D3;" v-on:click="open()">
                        <i class="fas fa-times fa-2x"></i> 
                    </b-button>  
                </div>  
            </div>
        
        <ValidationObserver ref="Form1-val"  v-slot="{ handleSubmit }">
            <b-form  @submit.prevent="handleSubmit(submitRecipe)" id="Form1" action="add">
            <div v-for="inp in inputs1" v-bind:item="inp" :key="inp.id">
                <ValidationProvider name="Value" :vid="'vp'+inp.id"
                                    :rules="inp.rules" 
                                    v-slot="validationContext">
                    <b-form-group :id="'input-group-'+inp.id" :label="inp.label" :label-for="'input-'+inp.id" label-cols="4" label-cols-lg="2" >
                                    <div v-if ="inp.type == 'textarea'">
                                            <b-form-textarea  :placeholder="inp.placeholder" v-model="inp.model"
                                            :id="'input-'+inp.id" 
                                            :name="'input-'+inp.id" 
                                            :state="getValidationState(validationContext)"
                                            :aria-describedby="'input-'+inp.id+'-live-feedback'">
                                            </b-form-textarea>
                                            <b-form-invalid-feedback :id="'input-'+inp.id+'-live-feedback'">{{ validationContext.errors[0] }}</b-form-invalid-feedback>
                                    </div>
                                    <div v-else>
                                        <b-form-input  :type="inp.type" :placeholder="inp.placeholder" v-model="inp.model"
                                        :id="'input-'+inp.id" 
                                        :name="'input-'+inp.id" 
                                        :state="getValidationState(validationContext)"
                                        :aria-describedby="'input-'+inp.id+'-live-feedback'"></b-form-input>
                                        <b-form-invalid-feedback :id="'input-'+inp.id+'-live-feedback'">{{ validationContext.errors[0] }}</b-form-invalid-feedback>
                                    </div>
                    </b-form-group>
                </ValidationProvider>
            </div>
        </b-form>
        </ValidationObserver>
        <div class="flexs frow stretch border-top ">
            <div class="blockk pt-3 pr-3 border-right">
             <ValidationObserver ref="Form2-val"  v-slot="{ handleSubmit }">
                <b-form  id="Form2" @submit.prevent="handleSubmit(add)" action="add" >

                    <b-form-group 
                            :label="$t('content.subprop.seling')"
                            label-for="select-1"
                        >
                    <v-select id="select-1" :options="filtereddata" label="nombre" v-model="ingred"><!-- select para los ingredientes -->
                        <template #search="{attributes, events}">
                            <input
                            class="vs__search"
                            :required="!ingred"
                            v-bind="attributes"
                            v-on="events"
                            />
                        </template>
                    </v-select> 
                    </b-form-group>
                    
                    <ValidationProvider name="Value"
                    rules="required|min_value:0" 
                    v-slot="validationContext">
                    <b-form-group
                        id="input-group-1"
                        :label="$t('content.subprop.quant')"
                        label-for="input-quantity"
                    >
                        <b-form-input id="input-quantity" type="text" placeholder="0" v-model="quantity"
                        :state="getValidationState(validationContext)"
                        aria-describedby="input-quantity-live-feedback"></b-form-input>
                        <b-form-invalid-feedback id="input-quantity-live-feedback">{{ validationContext.errors[0] }}</b-form-invalid-feedback>
                    </b-form-group>
                    </ValidationProvider>

                    <b-form-group
                            :label="$t('content.subprop.uom')"
                            label-for="select-2"
                        >
                        <v-select id="select-2" :options="unidades" label="unidad" v-model="unidadselec" :disabled="blockUnits"><!-- select para las unidades de medida -->
                            <template #search="{attributes, events}">
                                <input
                                class="vs__search"
                                :required="!unidadselec"
                                v-bind="attributes"
                                v-on="events"
                                />
                            </template>
                        </v-select> 
                    </b-form-group>
                    
                    <div class="flexs frow alignend">
                            <b-button variant="outline-info" class="ml-1" type="submit" form="Form2">{{$t('general.add')}}</b-button>
                    </div>
            </b-form>
            </ValidationObserver>
            </div>

            <div class="blockk pt-3 pl-3 border-left ">
                <label >{{$t('content.subprop.ingred')}}</label>
                <div class="overflow-auto">
                    <!--
                    <b-list-group>
                            <b-list-group-item button v-for="sel in show" v-bind:item="sel" :key="sel.id">{{sel.nombre}} </b-list-group-item>
                    </b-list-group>
                    -->
                    <div v-for="sel in show" v-bind:item="sel" :key="sel.idIngrediente">
                        <b-card no-body class="mb-1">
                            <b-card-header header-tag="header" class="p-1" role="tab">
                                <div class="flexs frow">
                                    <b-button block href="#" v-b-toggle="'accordion-'+sel.idIngrediente" variant="light">
                                                {{sel.nombre}}
                                    </b-button>
                                    <b-button variant="danger"  class="ml-3" v-on:click="removeIngredient(sel)"><i class="fas fa-trash-alt"></i></b-button>  
                                </div>       
                            </b-card-header>
                            <b-collapse :id="'accordion-'+sel.idIngrediente"  accordion="my-accordion" role="tabpanel"> 
                                <b-card-body>
                                    <b-table striped hover v-bind:items="[show.find(ingred => ingred.idIngrediente === sel.idIngrediente)]" :fields="fields"  class="m-0 p-0">
                                    </b-table>
                                </b-card-body>
                            </b-collapse>
                        </b-card>
                    </div>
                </div>
                <div v-if="show.length == 0" class="text-center">
                    <h4 class="mt-5 mb-5">
                        {{$t('content.subprop.adds')}}
                    </h4>
                </div>
            </div>
        </div>
        <div class="text-center mt-3 border-top pt-3">
                <b-button variant="info" class="ml-1" type="submit" form="Form1">{{$t('general.save1')}}</b-button>
        </div>

        </b-card>
    </b-container>
</template>


<script>
//import IngredientSearch from '../Subcomponents/IngredientSearch'
import vSelect from 'vue-select'
import 'vue-select/dist/vue-select.css';
import api from '../../api/api'
export default {
    props:[
        'cproject', 'proyname'
    ],   
    components: {
        //IngredientSearch, 
        vSelect
    },
    data(){
        return{
                rType: "",
                options: [{value:1, text:"Receta"},{value:3,text:"Bebida"}],
                inputs2: [{id: 1,label: this.$t('content.subprop.quan'),type: 'text',placeholder:'',model:'' , rules: 'required|min_value:0'},
                        {id: 2,label:this.$t('content.subprop.uom'),type: 'text',placeholder:'',model:'', rules: 'required'},], 
                inputs1: [{id: 1,label: this.$t('content.subprop.name'),type: 'text',placeholder:'',model:'', rules: 'required'},
                        {id: 2,label: this.$t('content.subprop.tecn'),type: 'text',placeholder:'',model:'', rules: 'required'},
                        {id: 3,label: this.$t('content.subprop.time'),type: 'text',placeholder:'',model:'', rules: 'required'},
                        {id: 4,label:this.$t('content.subprop.proc'),type: 'textarea',placeholder:'',model:'', rules: 'required'},
                        {id: 5,label:this.$t('content.subprop.assem'),type: 'textarea',placeholder:'',model:'', rules: 'required'},
                        {id: 6,label:this.$t('content.subprop.unitsprod'),type: 'text',placeholder:'',model:'', rules: 'required|min_value:0'}],
                data:[], //para guardar todos los ingredientes/recetas disponibles en el proyecto
                selected:[], //para guardar los ingredientes seleccionados para la receta
                show: [], //para mostrarlos
                recipes:[], //guarda las subrecetas disponibles
                ingredients:[], //guarda los ingredientes disponiblesad
                //Propiedades de los ingredientes agregados a la receta
                ingred: 0, //ingrediente seleccionado
                quantity: '', //cantidad del ingrediente seleccionado
                unidadselec: 0,
                unidades:this.$store.getters.units,
                fields: [
                    {
                        key: 'nombre',
                        label: this.$t('content.recprop.name')
                    },
                    {
                        key: 'cantidad',
                        label: this.$t('content.recprop.quant')
                    }],
                blockUnits: false //variable para bloquear el select de las unidades de ser necesario...
        }
    },
    async created(){
        await this.getIngredients(this.$store.getters.token);
        await this.getSubRecipes(this.$store.getters.token);
        this.modify();
        if(this.recipes.length >0 && this.ingredients.length >0){
                this.data = this.ingredients.concat(this.recipes);
        }
        else if(this.recipes.length >0 && this.ingredients.length ==0){
            this.data = this.recipes;
        }
        else if( this.ingredients.length >0 && this.recipes.length ==0 ){
            this.data = this.ingredients;
        }
        for(var i=0;i<this.data.length;i++){
            this.data[i].idReal = this.data[i].id;
            this.data[i].id=i;
            console.log("id: "+this.data[i].id);
            console.log("id receta"+this.data[i].idReal);
        }
        
    },
    methods:{
        removeIngredient(dat){
            for(var ii=0;ii< this.selected.length;ii++){ //filtra los datos que pueden seleccionarse al usar el add ingredient
                if(dat.idIngrediente == this.selected[ii].idIngrediente && dat.tipoReceta == this.selected[ii].tipoReceta){
                    this.selected.splice(ii, 1); 
                }
            }
            for( ii=0;ii< this.show.length;ii++){ //filtra los datos que pueden seleccionarse al usar el add ingredient
                if(dat.idIngrediente == this.show[ii].idIngrediente && dat.tipoReceta == this.show[ii].tipoReceta){
                    this.show.splice(ii, 1); 
                }
            }
        },
        open(){
            this.$router.push({ name: 'projectview', params: { lang: this.$i18n.locale }});
        },
        getValidationState({ dirty, validated, valid = null }) {
        return dirty || validated ? valid : null;
        },
        add(){
            console.log(this.ingred);
            this.selected.push({idIngrediente: this.ingred.idReal, cantidad: this.quantity, unidadMedida: this.unidadselec.id, tipoReceta:this.ingred.tipo});
            this.show.push({idIngrediente: this.ingred.idReal, nombre: this.ingred.nombre, cantidad: this.quantity, unidadMedida: this.unidadselec.id, tipoReceta:this.ingred.tipo});
            this.clean();
        },
        clean(){
            this.ingred=0;
            this.unidadselec=0;
            this.quantity='';
        },
        modify(){
            var i=0;
            for( i=0;i<this.ingredients.length;i++){
                this.ingredients[i].tipo=5;
            }
            for( i=0;i<this.recipes.length;i++){
                this.recipes[i].tipo=2;
            }
        },
        async changesMade(newSel){
            this.selected=newSel[0];
            this.show=newSel[1];
        },
        async submitRecipe(){
            console.log(this.inputs1[0].model);
            console.log(this.inputs1[1].model);
            console.log(this.inputs1[2].model);
            console.log(this.inputs1[3].model);
            console.log(this.inputs1[4].model);
            console.log(this.inputs1[5].model);
            //console.log();
            //console.log();
            //console.log();
            //console.log();
            //console.log();

            await this.addRecipe(this.$store.getters.token, this.cproject.id,this.inputs1[0].model,this.inputs1[1].model,
            this.inputs1[2].model,this.inputs1[3].model,this.inputs1[4].model,this.inputs1[5].model);
            //this.$bvModal.hide('modal-r2');
            this.$router.push({ name: 'projectview', params: { lang: this.$i18n.locale }});
        },
         async addRecipe(itoken,pid, name,technique,time,proc,assem,units){
            const token= 'Bearer '+itoken
            const url='/subrecipes';
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    return await api.post(
                        url,
                        {
                            nombre: name,
                            tecnica: technique,
                            tiempoPreparacion: time,
                            procedimiento: proc,
                            montaje: assem,
                            imagen:"No hay imagen compa.png",
                            ingredientes: this.selected,
                            unidadesProducidas: units,
                           // tipoReceta: this.rType,
                            idProyecto: pid
                        },
                        headers).then((response) => 
                    {
                        return response
                     },(error) => {
                                                     console.log(error.response.data);
                            console.log(error.response.status);
                            console.log(error.response.headers);
                    console.log(error);
                     });
         },
        async getSubRecipes(itoken){
            const token= 'Bearer '+itoken
            const url='/subrecipes/fromProject/'+this.cproject.id;
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                    return await api.get(url,headers).then((response) => 
                    {
                        this.recipes=response.data;
                     },(error) => {
                        this.recipes=[];
                        console.log(error);
                     });
         },
         async getIngredients(itoken){
            const token= 'Bearer '+itoken
            const url='/ingredients/searchByProject/'+this.cproject.id;
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                    return await api.get(url,headers).then((response) => 
                    {
                        this.ingredients=response.data;
                     },(error) => {
                        this.ingredients=[];
                        console.log(error);
                     });
         }
    },
    computed:{
        computedshow: function(){
            var newshow=[];
            for(var i=0;i<this.selected.length;i++){
                for(var j=0;j<this.data.length;j++){
                    if(this.data[i].nombre == this.selected[i].nombre){
                        newshow.push()
                    }
                }

            }
            return newshow;
        },
        filtereddata(){
            var dat=JSON.parse(JSON.stringify(this.data));
            if(this.selected.length >0){
                for(var i=0;i< this.selected.length;i++){ //filtra los datos que pueden seleccionarse al usar el add ingredient
                    for(var ii=0;ii< dat.length;ii++){ //filtra los datos que pueden seleccionarse al usar el add ingredient
                        if(dat[ii].idReal == this.selected[i].idIngrediente && dat[ii].tipo == this.selected[i].tipoReceta){
                            dat.splice(ii, 1); 
                        }
                    }
                }
                return dat;//[1,2]
            } 
            else{
                return dat;
            }
        }
    },
    watch: { 
        /* eslint-disable no-unused-vars */
        ingred: function(newVal, oldVal) {
            if(newVal != null && newVal != undefined){
                console.log("SE modifico el ingrediente");
                console.log(newVal);
                if(newVal.tipo != 2){
                    this.unidadselec=this.unidades.find(x =>x.id == newVal.unidadMedida);
                    this.blockUnits=true;
                }
                else{
                    this.unidadselec=null;
                    this.blockUnits=false;
                }
            }
            else{
                this.unidadselec=null;
                this.blockUnits=false;
            }
        }
        /* eslint-enable no-unused-vars */
    }
}
</script>

<style scoped>
.blockk{
    width: 50%;
}
.abajo{
    margin-top: auto;
    margin-bottom: 1%;
}
#row {
  display: flex;                
  justify-content: center;      
  position: relative;           
}
#right {
  position: absolute;            
  right: 2%;                     
}
</style>