<template>
    <b-nav-item-dropdown  ref="noti" right class="lg">
            <template v-slot:button-content>
                <i class="fas fa-bell"></i><b-badge v-if="show ==false" variant="danger" pill class="ml-1 mr-1">{{notifications.length}}</b-badge><em>   {{$t('menu.notif')}}</em>
            </template>
            <b-container id="notti" class="overflow-auto scroll" style="max-height: 30rem;">
                <div class="flexs fcolumn stretch">
                    <div  v-for="noti in notifications" v-bind:item="noti" :key="noti.id" class="stretch" >
                        <b-dropdown-item-button  v-on:click="delNoti(noti)">{{noti.titulo}} <br/>{{noti.mensaje}}</b-dropdown-item-button>
                    </div> 
                    
                    <div v-if="show" class="m-2">
                       <b-dropdown-item-button v-on:click="donothing" >{{$t('menu.nonoti')}}</b-dropdown-item-button> 
                    </div> 
                </div>
            </b-container>
                 
    </b-nav-item-dropdown>
</template>

<script>
//import Connection from'../../WebSocket/socket';
import api from '../../api/api'
export default {
    data(){
        return{
            show: true,
            connection: '',
            //notifications2: ''
        }
    },
    created(){
        if(this.notifications.length >0){
            this.show=false;     
        }
        else{
            this.show=true;
        }
    },
    methods:{
        donothing(){
            this.$refs.noti.show();
        },
        async delNoti(noti){
            this.$refs.noti.show();
            this.$store.dispatch('delNoti',noti);
            //await this.notySeen(this.$store.getters.token, noti.id,this.$store.getters.user.id);
        },
        async notySeen (itoken,idnoti,idu) {
            const token= 'Bearer '+itoken
            const url='/notifications/notificationReaded';
            const headers={'headers':
                        {
                            'Content-Type': 'application/json',
                            'Authorization': token
                            
                        }};
            return await api.post(url,
                {
                    idNotificacion: idnoti,
                    idUsuario: idu,
                },headers).then((response) => {return response}, (error) => {
                    console.log(error);
                });
         }
    },
    computed: {
        notifications () {
        return this.$store.getters.notifications
        }
  },
  watch: {
    /* eslint-disable no-unused-vars */
    notifications (newNotis, oldNotis) {
        if(newNotis.length>0){
            this.show=false;
        }
        else{
            this.show=true;
        }
    }
    /* eslint-enable no-unused-vars */
  }
}

</script>

<style scoped>


.scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar
{
	width: 6px;
	background-color:  #F5F5F5;
}

.scroll::-webkit-scrollbar-thumb
{
	background-color: #C0C0C0;
}
</style>