<template>
    <b-tab :title="$t('analysis.profits')"  :active="active" v-on:click="load()">
        <template >
            <b-overlay :show="showOverlay" rounded="sm">
            <div role="tablist" ><!--v-if="show==true" -->
                <b-button v-if="cproject.archivado==false && showM == true" block variant="info" class="mb-1" v-b-modal.modal-pr1><i class="fas fa-plus"></i></b-button>
                <hr>
                <b-button block variant="light" class="mb-1" v-if="showprofits.length ==0">{{$t('analysis.noprof')}}</b-button>
                <div  v-for="ing in showprofits" v-bind:item="ing" :key="ing.id">
                    <b-card no-body class="mb-1">
                        <b-card-header header-tag="header" class="p-1" role="tab">
                            <div class="flexs frow">
                                <b-button block href="#" v-b-toggle="'accordion-'+ing.id" variant="light">
                                    {{ing.month }} {{ing.year}}
                                </b-button>
                                <b-button variant="warning" class=" ml-3" v-on:click="preedit(ing.id)" v-if="cproject.archivado==false && showM == true">{{$t('general.edit')}}</b-button>   
                                <b-button variant="danger" v-on:click="openWarning(ing.id)" class="ml-3" v-if="cproject.archivado==false && showM == true">{{$t('general.delete')}}</b-button>  
                            </div>
                                 
                        </b-card-header>
                        <b-collapse :id="'accordion-'+ing.id"  accordion="my-accordion" role="tabpanel"> 
                            <b-card-body>
                                <b-table striped hover v-bind:items="[profits.find(ingred => ingred.id === ing.id)]" :fields="fields" class="m-0 p-0">
                                </b-table>
                            </b-card-body>
                        </b-collapse>
                    </b-card>
                </div> 
            </div>
            </b-overlay>  
        </template>  
        <Modal  :id="'pr'+1" :Title="this.$t('analysis.addProf')" :submit="submit" :inputs="inputs" :variant="'info'" :btext="this.$t('general.save2')" :closebutton="this.$t('general.close')" /> 
        <Modal  :id="'pr'+2" :Title="this.$t('analysis.editProf')" :submit="editP" :inputs="inputs2" :variant="'info'" :btext="this.$t('general.save2')" :closebutton="this.$t('general.close')" />  
        <Modal  :id="'pr'+5" :Title="this.$t('warning.warning')" :submit="deleteP" :inputs="[]" :variant="'info'" :btext="this.$t('general.yes')" :message="warningDelete" :closebutton="this.$t('general.no')"/>                      
                      
    </b-tab>
    
</template>

<script>
import Modal from '../Subcomponents/Modal'
import api from '../../api/api'
import context from '../../utilities/ContextNotifications'
export default {
    props:[ 
        'archivado', 'cproject', 'active'
    ]
    ,components:{
       Modal
    },
    data(){
        return{
                profits: [],
                showprofits: [],
                inputs: [{id: 1,label:this.$t('analysis.month'),type: 'select',placeholder:'',model:null, text: 'text' ,options: [], rules: 'required'},
                        {id: 2,label:this.$t('analysis.year'),type: 'select',placeholder:'',model:null, text: 'text' ,options: [],rules: 'required'},
                        {id: 3,label:this.$t('analysis.quantity'),type: 'text',placeholder:'',model:null,rules: 'required|decimal'}],
                inputs2: [{id: 1,label:this.$t('analysis.month'),type: 'select',placeholder:'',model:null, text: 'text' ,options: [],rules: 'required'},
                        {id: 2,label:this.$t('analysis.year'),type: 'select',placeholder:'',model:null, text: 'text' ,options: [],rules: 'required'},
                        {id: 3,label:this.$t('analysis.quantity'),type: 'text',placeholder:'',model:null,rules: 'required|decimal'}],
                fields: [
                        {
                            key: 'fecha',
                            label: this.$t('analysis.date')
                        },
                        {
                            key: 'ganancia',
                            label: this.$t('analysis.prof')
                        }],
                months: [ {id:1,text:this.$t('analysis.months.jan'),number: '01'}, {id:2,text:this.$t('analysis.months.feb'), number: '02'},{id:3,text: this.$t('analysis.months.mar'), number: '03'},
                        {id:4,text:this.$t('analysis.months.apr'),number:'04'}, {id:5,text:this.$t('analysis.months.may'),number: '05'}, {id:6,text:this.$t('analysis.months.jun'),number:'06'}, {id:7,text:this.$t('analysis.months.jul'),number:'07'},
                        {id:8,text:this.$t('analysis.months.ago'),number:'08'},{id:9,text: this.$t('analysis.months.sep'),number:'09'},{id:10,text:this.$t('analysis.months.oct'),number:'10'},
                        {id:11,text:this.$t('analysis.months.nov'),number:'11'},{id:12,text:this.$t('analysis.months.dec'), number: '12'}],       
                units: this.$store.getters.units,
                years: [],
                usefulId: 0,
                show: false, //para no mostrar informacion al cliente
                showM: false,
                showOverlay: true,
                deleteid: -1,
                warningDelete: this.$t('warning.warningDel')

        }   

    },
    async created (){
        await this.load();
    },
    methods:{
        openWarning(id){
            this.deleteid=id;
            this.$bvModal.show('modal-pr5');
        },
        async load(){
            this.showOverlay=true;
            this.show=false;
            if(this.$store.getters.user.tipousuario == 4){
                this.showM=false;

            }
            else{
                this.showM=true;
            }
            this.inputs[0].options=this.months;
            this.inputs2[0].options=this.months;
            var currentTime = new Date();
            var year = currentTime.getFullYear();
            var i=0;
            this.years=[];
            for( i =0;i<6;i++){
                this.years.push({id: i+1, text: year});
                year=year-1;
            }
            this.inputs[1].options=this.years;
            this.inputs2[1].options=this.years;
            this.profits=[];
            this.showprofits=[];
            await this.getProfits(this.$store.getters.token, this.cproject.id);
            this.showprofits= JSON.parse(JSON.stringify(this.profits));
            for(i =0;i<this.showprofits.length;i++){
                var res = this.showprofits[i].fecha.split("/");
                    this.showprofits[i].month=this.getMonth(res[0]);
                    this.showprofits[i].year=res[1] ;
            }
            this.show=true;
            this.showOverlay=false;
        },
        getMonth(mont){
            var resp='';
            for(var j =0;j<this.months.length;j++){
                if(this.months[j].number == mont){
                    resp=this.months[j].text;
                }
            }
            return resp;

        },
        preedit(id){
            console.log(id);  
            this.usefulId=id; 
            var ing=this.showprofits.find(ing => ing.id ==  id);
            console.log(ing.ganancia);
            for(var i=0;i<this.months.length;i++){
                if(this.months[i].text == ing.month){
                    this.inputs2[0].model=this.months[i];
                }
            }
            for(i=0;i<this.years.length;i++){
                if(this.years[i].text == ing.year){
                    this.inputs2[1].model=this.years[i];
                }
            }

            this.inputs2[2].model=ing.ganancia;
            this.$bvModal.show('modal-pr2');
        },
        async submit(inputs){
            console.log(inputs);
            await this.addProfit(this.$store.getters.token, this.cproject.id, inputs[0].number,inputs[1].text,inputs[2]);
            await this.load();
        },
        async addProfit(itoken,pid,month,year,prof){//carga el proyecto actualizado a la memoria
            const token= 'Bearer '+itoken
            const url='/profits';
                        const headers={'headers':
                                    {
                                        'Content-Type': 'application/json',
                                        'Authorization': token
                                        
                                    }};
            return await api.post(url,
            {
                fecha: month+"/"+year,
                ganancia: prof,
                idProyecto: pid
            },headers).then((response) => 
            {
                context.success(this.$t('general.success'), this.$t('analysis.noti.addedP'));
                return response;
            }, (error) => 
            {
                console.log(error);
            });
         },
         async getProfits(itoken,id){//carga el proyecto actualizado a la memoria
            const token= 'Bearer '+itoken
            const url='/profits/fromProject/'+id;
                        const headers={'headers':
                                    {
                                        'Content-Type': 'application/json',
                                        'Authorization': token
                                        
                                    }};
            console.log('profits 2');
            return await api.get(url,headers).then((response) => 
            {
                this.profits= response.data;
            }, (error) => 
            {
                this.profits=[];
                context.warning(this.$t('analysis.profits'), error);
            });
            
         },
        async editP(inputs){
            console.log(inputs);
            console.log("aqui");
            console.log(inputs[0]);
            await this.editProfit(this.$store.getters.token, this.cproject.id,this.usefulId, inputs[0].number,inputs[1].text,inputs[2]);
            this.inputs2[0].model='';
            this.inputs2[1].model='';
            this.inputs2[2].model='';
            await this.load();
        },
        async editProfit(itoken,pid,id,month,year,prof){//carga el proyecto actualizado a la memoria
            const token= 'Bearer '+itoken
            const url='/profits/'+id;
                        const headers={'headers':
                                    {
                                        'Content-Type': 'application/json',
                                        'Authorization': token
                                        
                                    }};
            return await api.put(url,
            {
                fecha: month+"/"+year,
                ganancia: prof,
                idProyecto: pid
            },headers).then((response) => 
            {
                context.success(this.$t('general.success'), this.$t('analysis.noti.editedP'));
                return response;
            }, (error) => 
            {
                console.log(error);
            });
         },
         async deleteP(){
            await this.delProfit(this.$store.getters.token, this.cproject.id,this.deleteid);
            await this.load();
        },
        async delProfit(itoken,pid,id){
            const token= 'Bearer '+itoken
            const url='/profits/'+id;
                        const headers={'headers':
                                    {
                                        'Content-Type': 'application/json',
                                        'Authorization': token
                                        
                                    }};
            return await api.delete(url,headers).then((response) => 
            {
                context.success(this.$t('general.success'), this.$t('analysis.noti.deletedP'));
                return response;
            }, (error) => 
            {
                console.log(error);
            });
         }
    }
 
}
</script>