<template>
  <b-container fluid>
    <transition-group
      name="flip-list"
      class="flexs frow centerr maxHeight wrappp"
    >
      <b-button
        class="shadow p-0 m-3"
        variant="light"
        v-on:click="openproject(pro)"
        v-for="pro in projects"
        v-bind:item="pro"
        :key="pro.id"
      >
        <b-card no-body class="border-0 size" tag="article">
          <b-card-img
            :src="pro.imagen"
            v-bind="mainProps"
            alt="Image"
            top
          ></b-card-img>
          <b-card-body>
            <b-card-title>{{ pro.nombre }}</b-card-title>
            <b-card-sub-title class="mb-2">{{ pro.cliente }}</b-card-sub-title>
            <b-card-text>
              <div class="pb-2 maxxx">
                {{ pro.descripcion }}
              </div>
            </b-card-text>
          </b-card-body>
        </b-card>
      </b-button>
    </transition-group>
  </b-container>
</template>

<script>
//import axios from 'axios'
export default {
  props: ["projects"],
  data() {
    return {
      mainProps: { width: 200, height: 250 },
    };
  },
  created() {},
  methods: {
    openproject(proy) {
      console.log(proy);
      this.$store.commit("setCurrProject", proy);
      this.$router.push({
        name: "projectinfo",
        params: { lang: this.$i18n.locale },
      });
    },
  },
};
</script>

<style>
.size {
  width: 20rem;
  height: 23rem;
}
.wrappp {
  flex-wrap: wrap;
}
.maxxx {
  display: block;
  width: 16rem;
  height: 3rem;
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
}
</style>
