<template>
    <b-container fluid >
    <h2 class="text-center border-bottom" >{{proyname}}</h2>
                    <div class="mt-5 shadow rounded">
                        <b-card no-body>
                            <b-tabs card content-class="mt-3" justified  >
                                <Ingredients :cproject="cproject" :archivado="false"/> 
                                <Recipes :active="true" :cproject="cproject"  />
                                <SubRecipes :cproject="cproject" />
                            </b-tabs>
                        </b-card>
                    </div>
    </b-container>
</template>

<script> //terminar la configuracion de tabs activas (esto implica modificar los bomponentes hijos)
import Ingredients from "../Subcomponents/Ingredients"
import Recipes from "../Subcomponents/Recipes"
//import api from '../../api/api'
import SubRecipes from "../Subcomponents/SubRecipes"

export default {
    components:{
        Ingredients,Recipes,SubRecipes
    },
    props:[
            'cproject','proyname','archived'
    ],
    data(){
        return{
 
        }
    },
    methods:{

    }
}
</script>