<template>
    <b-container>
        <div class="text-center border-bottom m-3"><h2>{{$t('info.project')}}: {{projname}}</h2></div>
        <InfoCard :projname="projname" :projdesc="projdesc" :cproj="cproj" :infoclient="infoclient" :projtime="projtime"/>
       <!-- <AnalysisCard/> -->
    </b-container>
</template>

<script>

import InfoCard from './InfoCard'
//import AnalysisCard from './AnalysisCard'
export default {
    components:{
        InfoCard,
       // AnalysisCard
    },
    data(){
        return{
            projname: this.$store.getters.currentProject.nombre,
            projdesc: this.$store.getters.currentProject.descripcion,
            projtime: this.$store.getters.currentProject.duracion,
            infoclient: this.$store.getters.currentProject.infoCliente,
            cproj: this.$store.getters.currentProject
        }
    },
    
}
</script>