<template>
    <b-container fluid >
    <h2 class="text-center border-bottom" >{{proyname}}</h2>
                    <div class="mt-5 shadow rounded">
                        <b-card no-body>
                            <b-tabs card content-class="mt-3" justified  >
                                <FixedCosts :cproject="cproject" />
                                <Profits :cproject="cproject" />
                            </b-tabs>
                        </b-card>
                    </div>
    </b-container>
</template>

<script> //terminar la configuracion de tabs activas (esto implica modificar los bomponentes hijos)

import Profits from "../Subcomponents/Profits"
import FixedCosts from "../Subcomponents/FixedCosts"
export default {
    components:{
        Profits,FixedCosts
    },
    props:[
            'cproject','proyname'
    ],
    data(){
        return{
 
        }
    },
    methods:{

    }
}
</script>