<template>
    <b-container fluid >
    <h2 class="text-center border-bottom" >{{projname}}</h2>
                    <div class="mt-5 shadow rounded">
                        <b-card no-body>
                            <b-tabs card content-class="mt-3" justified >
                                <Suppliers :cproject="cproject"/> 
                                <Supplies :cproject="cproject"/> 
                                <ServiceCosts :cproject="cproject"/>
                            </b-tabs>
                        </b-card>
                    </div>
    </b-container>
</template>

<script>
//import api from '../../api/api'
import Suppliers from "../Subcomponents/Suppliers"
import Supplies from "../Subcomponents/Supplies"
import ServiceCosts from "../Subcomponents/ServiceCosts"
export default {
    components:{ Suppliers, Supplies, ServiceCosts },
    data(){
        return{
            cproject: this.$store.getters.currentProject,
            projname: this.$store.getters.currentProject.nombre,
        }
    }
}
</script>