<template>
    <b-container  fluid class="flexs fcolumn ml-2 mr-2" >
        <div class="text-center">
                <h2>{{$t('settings.title')}}</h2>
        </div>
        
        <div class="flexs frow border-top">
            <div class="flexs blockk aligstart m-2  p-2">
                    <h4>{{$t('settings.subtitle1')}}</h4>
            </div>
            <div class="flexs blockk alignend m-2 p-2">
                    <b-button v-b-toggle.collapse-1 variant="dark" v-on:click="changeButton(1)">{{btn1}}</b-button>
            </div>
        </div>
        <GeneralCard :visible="true"/>


        <div class="flexs frow border-top mt-3">
            <div class="flexs blockk aligstart m-2 p-2">
                    <h4>{{$t('settings.subtitle2')}}</h4>
            </div>
            <div class="flexs blockk alignend m-2  p-2">
                <b-button v-b-toggle.collapse-2 variant="dark" v-on:click="changeButton(2)">{{btn2}}</b-button>       
            </div>
        </div>
        <MemberCard :cproj="project"/>


        <div class="flexs frow border-top mt-3">
            <div class="flexs blockk aligstart m-2 p-2">
                    <h4>{{$t('settings.subtitle3')}}</h4>
            </div>
            <div class="flexs blockk alignend m-2  p-2">
                <b-button v-b-toggle.collapse-3 variant="dark" v-on:click="changeButton(3)">{{btn3}}</b-button>       
            </div>
        </div>
        <ExtrasCard :cproj="project"/>


        <div v-if="project.archivado==true" class="text-center abajo  flexs frow">
            <div class="flexs blockk aligstart m-2  p-2">
                    <b-button variant="success" class=" mt-3 pl-5 pr-5" v-b-modal.modal-3>{{$t('settings.btnResu')}}</b-button>
            </div>
            <div class="flexs blockk alignend m-2 p-2">
                    <b-button variant="danger" class=" mt-3 pl-5 pr-5" v-b-modal.modal-5>{{$t('settings.btnDel')}}</b-button>
            </div>
        </div> 
        <div v-if="project.archivado==false" class="text-center abajo ">
            <b-button variant="warning" class=" mt-3 pl-5 pr-5" v-b-modal.modal-2>{{$t('settings.btnArch')}}</b-button>
        </div>    
       <!-- <Modal :key="1" :id="1" :Title="this.$t('warning.warning')" :submit="finproy" :inputs="[]" :variant="'danger'" :btext="'Delete'" :message="messageDel"/> -->
        <Modal :key="2" :id="2" :Title="this.$t('warning.warning')" :submit="archproy" :inputs="[]" :variant="'warning'" :btext="'Archive'" :message="messageArch"/>    
        <Modal :key="3" :id="3" :Title="this.$t('warning.warning')" :submit="resproy" :inputs="[]" :variant="'success'" :btext="'Resume'" :message="messageRes"/>    
        <Modal :key="1" :id="5" :Title="this.$t('warning.securityConf')" :submit="finproy" :inputs="inputs2" :variant="'danger'" :btext="this.$t('general.delete')" :closebutton="this.$t('general.cancel')">                      
                <template v-slot:middle>
                    <div v-if="errormessage != null">
                        <span style="color: #dc3545;" ><i class="fas fa-exclamation-circle"></i> {{errormessage}} </span>
                    </div>
                </template>
            </Modal>  
    </b-container>
</template>

<script>
import Modal from '../Subcomponents/Modal'
import MemberCard from '../Subcomponents/MemberCard'
import GeneralCard from '../Subcomponents/GeneralCard'
import ExtrasCard from '../Subcomponents/ExtrasCard'
import api from '../../api/api'
export default {
    components:{
        Modal,GeneralCard,MemberCard,ExtrasCard
    },
 data(){
     return{
         project: this.$store.getters.currentProject,
         messageDel: this.$t('settings.messageDel'),
         messageArch: this.$t('settings.messageArch'),
         messageRes: this.$t('settings.messageRes'),
         btn1: this.$t('settings.btnHide'),
         btn2: this.$t('settings.btnShow'),
         btn3: this.$t('settings.btnShow'),
         errormessage: null,
         inputs2: [{id: 10,label:this.$t('accountgeneral.pass'),type: 'password',placeholder:'',model:''}],
     }
 },
 methods:{
     changeButton(btn){
         switch(btn){
            case 1:
                if(this.btn1 == this.$t('settings.btnShow')){
                    this.btn1=this.$t('settings.btnHide');
                }
                else{
                    this.btn1=this.$t('settings.btnShow');
                }
                break;
            case 2:
                if(this.btn2 == this.$t('settings.btnShow')){
                    this.btn2=this.$t('settings.btnHide');
                }
                else{
                    this.btn2=this.$t('settings.btnShow');
                }
                break;
            case 3:
                if(this.btn3 == this.$t('settings.btnShow')){
                    this.btn3=this.$t('settings.btnHide');
                }
                else{
                    this.btn3=this.$t('settings.btnShow');
                }
                break;
            default:
                break;
         }
     },
     async finproy(inputs){
        //alert("Are you sure you want to delete this project?"); 
        const response = await this.delProject(this.$store.getters.token,this.project.id, this.$store.getters.user.id,inputs[0]);
        console.log(response);
        if(this.errormessage ==null ){
            this.$router.push({ name: 'projects', params: { lang: this.$i18n.locale }});
        }
        
     },
     async delProject(itoken, pid, uid, pass){//id proy, id usuario y contrasenia
            console.log("entro!");
            const token= 'Bearer '+itoken
            const url='/projects/delete';
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                    return await api.post(
                        url,
                        {
                            idProyecto: pid,
                            idUsuario: uid,
                            password: pass
                        },headers).then((response) => 
                    {
                        this.errormessage=null;
                        return response
                    },(error) => {
                        this.errormessage=error.response.data;
                        this.$bvModal.hide('modal-5');
                        this.$bvModal.show('modal-5');
                        console.log(error);
                    });
         },
        async archproy(){
            //alert("Are you sure you want to delete this project?"); 
            const response=await this.arhiveProject(this.$store.getters.token,this.project.id);
            this.hideModal();
            console.log(response.data);
            this.$router.push({ name: 'projects', params: { lang: this.$i18n.locale }});
        },
        arhiveProject: async (itoken,id) => {
        const token= 'Bearer '+itoken
        const url='/projects/archiveProject/'+id;
        const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token
                        
                    }};
        return await api.delete(url,headers).then((response) => {return response}, (error) => {
                console.log(error);
            });
        },
      hideModal() {
        this.$bvModal.hide('modal-danger');
      },
      cambio(){
          console.log("se realizo el cambio");
          this.disabled=true;
      },
       async resproy(){
            //alert("Are you sure you want to delete this project?"); 
            await this.resumeProject(this.$store.getters.token,this.project.id);
            //this.hideModal();
            this.$router.push({ name: 'projects', params: { lang: this.$i18n.locale }});
        },
        resumeProject: async (itoken,id) => {
        const token= 'Bearer '+itoken
        const url='/projects/resumeProject/'+id;
        const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token
                        
                    }};
        return await api.get(url,headers).then((response) => {return response}, (error) => {
                console.log(error);
            });
        },
        
 }  
}
</script>

<style>
.abajo{
    margin-top: auto;
    margin-bottom: 1%;
}
.blockk{
    width: 50%;
}

</style>


