<template>
  <b-tab :title="$t('content.recipes')" v-on:click="load()" :active="active">
    <template>
      <b-overlay :show="showOverlay" rounded="sm">
        <div role="tablist">
          <b-button
            v-if="cproject.archivado == false && show == true"
            block
            variant="info"
            class="mb-1"
            v-on:click="open('projectnew_recipe')"
            ><i class="fas fa-plus"></i
          ></b-button>
        </div>
        <hr />
        <div>
          <b-card no-body :class="cardprops1">
            <b-card-header header-tag="header" class="p-0" role="tab">
              <div class="flexs frow">
                <b-button
                  block
                  squared
                  href="#"
                  v-b-toggle="'accordion-c' + 1"
                  v-on:click="changeState(1)"
                  :variant="button1"
                >
                  <h5>
                    {{ $t('content.recipes') }}
                  </h5>
                </b-button>
              </div>
            </b-card-header>
            <b-collapse
              :id="'accordion-c' + 1"
              accordion="my-accordion"
              role="tabpanel"
            >
              <b-card-body>
                <b-button
                  block
                  variant="light"
                  class="mb-1"
                  v-if="recipes.length == 0"
                  >{{ $t('content.norec') }}</b-button
                >
                <b-card
                  no-body
                  class="mb-1"
                  v-for="re in menuRecipes"
                  v-bind:item="re"
                  :key="re.id"
                >
                  <b-card-header header-tag="header" class="p-1" role="tab">
                    <div class="flexs frow">
                      <b-button
                        block
                        href="#"
                        variant="light"
                        v-on:click="showinfo(1, re.id)"
                      >
                        {{ re.nombre }}
                      </b-button>
                      <b-button
                        v-if="cproject.archivado == false && show == true"
                        variant="warning"
                        class="ml-3"
                        v-on:click="showinfo(2, re.id)"
                        >{{ $t('general.edit') }}</b-button
                      >
                      <b-button
                        v-if="cproject.archivado == false && show == true"
                        variant="danger"
                        v-on:click="openWarning(re.id)"
                        class="ml-3"
                        >{{ $t('general.delete') }}</b-button
                      >
                    </div>
                  </b-card-header>
                </b-card>
              </b-card-body>
            </b-collapse>
          </b-card>
          <b-card no-body :class="cardprops2">
            <b-card-header header-tag="header" class="p-0" role="tab">
              <div class="flexs frow">
                <b-button
                  block
                  squared
                  href="#"
                  v-b-toggle="'accordion-c' + 2"
                  v-on:click="changeState(2)"
                  :variant="button2"
                >
                  <h5>
                    {{ $t('content.drinks') }}
                  </h5>
                </b-button>
              </div>
            </b-card-header>
            <b-collapse
              :id="'accordion-c' + 2"
              accordion="my-accordion"
              role="tabpanel"
            >
              <b-card-body>
                <b-button
                  block
                  variant="light"
                  class="mb-1"
                  v-if="recipes.length == 0"
                  >{{ $t('content.norec') }}</b-button
                >
                <b-card
                  no-body
                  class="mb-1"
                  v-for="re in menuDrinks"
                  v-bind:item="re"
                  :key="re.id"
                >
                  <b-card-header header-tag="header" class="p-1" role="tab">
                    <div class="flexs frow">
                      <b-button
                        block
                        href="#"
                        variant="light"
                        v-on:click="showinfo(1, re.id)"
                      >
                        {{ re.nombre }}
                      </b-button>
                      <b-button
                        v-if="cproject.archivado == false && show == true"
                        variant="warning"
                        class="ml-3"
                        v-on:click="showinfo(2, re.id)"
                        >{{ $t('general.edit') }}</b-button
                      >
                      <b-button
                        v-if="cproject.archivado == false && show == true"
                        variant="danger"
                        v-on:click="openWarning(re.id)"
                        class="ml-3"
                        >{{ $t('general.delete') }}</b-button
                      >
                    </div>
                  </b-card-header>
                </b-card>
              </b-card-body>
            </b-collapse>
          </b-card>
        </div>
      </b-overlay>
    </template>

    <!--   Inicia maquetado  para el modal de informacion           -->
    <Modal
      :id="'r' + 1"
      :Title="'Info: ' + title"
      :inputs="null"
      :variant="'info'"
      :btext="null"
      :disabled="true"
      :size="'xl'"
      :closebutton="'close'"
    >
      <template v-slot:above>
        <div class="flexs frow stretch mb-3">
          <div class="blockk pr-3 border-right">
            <div v-for="inp in inputs" v-bind:item="inp" :key="inp.id">
              <b-form-group
                label-cols="4"
                label-cols-lg="2"
                :id="'input-' + inp.id"
                :label="inp.label"
                :label-for="'input-' + inp.id"
              >
                <div v-if="inp.type == 'textarea'">
                  <b-form-textarea :disabled="true" v-model="inp.model">
                  </b-form-textarea>
                </div>
                <div v-else-if="inp.type == 'select'">
                  <v-select
                    :id="'select-' + inp.id"
                    :options="categories"
                    label="nombre"
                    v-model="inp.model"
                    disabled
                    ><!-- select para las categorias -->
                    <template #search="{ attributes, events }">
                      <input
                        class="vs__search"
                        :required="!inp.model"
                        v-bind="attributes"
                        v-on="events"
                      />
                    </template>
                  </v-select>
                </div>
                <div v-else>
                  <b-form-input
                    :disabled="true"
                    v-model="inp.model"
                  ></b-form-input>
                </div>
              </b-form-group>
            </div>
            <div class="text-center">
              <b-img
                :src="imagen"
                rounded
                fluid
                alt="Responsive image"
                class="mb-2"
                v-bind="mainProps"
              ></b-img>
            </div>
            <div class="text-center">
              <b-button
                variant="info"
                class="ml-1"
                v-on:click="generateRecipePdf"
                >Generar pdf</b-button
              >
            </div>
          </div>
          <div class="blockk pl-3 border-left">
            <label>{{ $t('content.recprop.ingred') }}</label>
            <div class="">
              <div v-for="sel in ingredRecipe" v-bind:item="sel" :key="sel.id">
                <b-card no-body class="mb-1">
                  <b-card-header header-tag="header" class="p-1" role="tab">
                    <div class="flexs frow">
                      <b-button
                        block
                        href="#"
                        v-b-toggle="'accordion-' + sel.idIngrediente"
                        variant="light"
                      >
                        {{ sel.nombre }}
                      </b-button>
                    </div>
                  </b-card-header>
                  <b-collapse
                    :id="'accordion-' + sel.idIngrediente"
                    accordion="my-accordion"
                    role="tabpanel"
                  >
                    <b-card-body>
                      <b-table
                        striped
                        hover
                        v-bind:items="[
                          ingredRecipe.find(
                            (ingred) =>
                              ingred.idIngrediente === sel.idIngrediente
                          ),
                        ]"
                        :fields="fields"
                        class="m-0 p-0"
                      >
                        <template v-slot:cell(tipoReceta)="data">
                          <div
                            v-for="un in types"
                            v-bind:item="un"
                            :key="un.id"
                          >
                            <div v-if="un.id == data.item.tipoReceta">
                              {{ un.nombre }}
                            </div>
                          </div>
                        </template>
                      </b-table>
                    </b-card-body>
                  </b-collapse>
                </b-card>
              </div>
            </div>
            <div v-if="ingredRecipe.length == 0" class="text-center">
              <h4 class="mt-5 mb-5">
                {{ $t('content.recprop.adds') }}
              </h4>
            </div>
          </div>
          <b-overlay :show="busy" no-wrap> </b-overlay>
        </div>
      </template>
    </Modal>
    <!--   Inicia maquetado  para el modal de edicion           -->
    <Modal
      :id="'r' + 2"
      :Title="this.$t('content.recprop.editrec') + title"
      :inputs="null"
      :variant="'info'"
      :btext="null"
      :disabled="true"
      :size="'xl'"
      :closebutton="'close'"
    >
      <template v-slot:above>
        <div class="flexs frow stretch mb-3">
          <!-- columna izquierda que muestra los valores de la receta -->
          <div class="blockk pr-3 border-right">
            <ValidationObserver ref="form" v-slot="{ handleSubmit }">
              <b-form @submit.prevent="handleSubmit(preedit)">
                <div
                  id="form"
                  v-for="inp in inputs"
                  v-bind:item="inp"
                  :key="inp.id"
                >
                  <ValidationProvider
                    name="Value"
                    :vid="'v' + inp.id"
                    :rules="inp.rules"
                    v-slot="validationContext"
                  >
                    <b-form-group
                      :id="'input-group-' + inp.id"
                      :label="inp.label"
                      :label-for="'input-' + inp.id"
                      label-cols="4"
                      label-cols-lg="2"
                    >
                      <div v-if="inp.id > 7">
                        <b-form-input
                          :type="inp.type"
                          :placeholder="inp.placeholder"
                          v-model="inp.model"
                          disabled
                        >
                        </b-form-input>
                      </div>
                      <div v-else>
                        <div v-if="inp.type == 'textarea'">
                          <b-form-textarea
                            :placeholder="inp.placeholder"
                            v-model="inp.model"
                            :id="'input-' + inp.id"
                            :name="'input-' + inp.id"
                            :state="getValidationState(validationContext)"
                            :aria-describedby="
                              'input-' + inp.id + '-live-feedback'
                            "
                          >
                          </b-form-textarea>
                          <b-form-invalid-feedback
                            :id="'input-' + inp.id + '-live-feedback'"
                            >{{
                              validationContext.errors[0]
                            }}</b-form-invalid-feedback
                          >
                        </div>
                        <div v-else-if="inp.type == 'select'">
                          <v-select
                            :id="'select-' + inp.id"
                            :options="categories"
                            label="nombre"
                            v-model="inp.model"
                            ><!-- select para las categorias -->
                            <template #search="{ attributes, events }">
                              <input
                                class="vs__search"
                                :required="!inp.model"
                                v-bind="attributes"
                                v-on="events"
                              />
                            </template>
                          </v-select>
                        </div>
                        <div v-else>
                          <b-form-input
                            :type="inp.type"
                            :placeholder="inp.placeholder"
                            v-model="inp.model"
                            label-cols="4"
                            label-cols-lg="2"
                            :id="'input-' + inp.id"
                            :name="'input-' + inp.id"
                            :state="getValidationState(validationContext)"
                            :aria-describedby="
                              'input-' + inp.id + '-live-feedback'
                            "
                          ></b-form-input>
                          <b-form-invalid-feedback
                            :id="'input-' + inp.id + '-live-feedback'"
                            >{{
                              validationContext.errors[0]
                            }}</b-form-invalid-feedback
                          >
                        </div>
                      </div>
                    </b-form-group>
                  </ValidationProvider>
                </div>
                <div class="text-center mb-2">
                  <b-button variant="light" v-on:click="beforeOpenImage">
                    <b-img
                      :src="imagen"
                      rounded
                      fluid
                      alt="Responsive image"
                      v-bind="mainProps"
                    ></b-img>
                  </b-button>
                </div>

                <div class="text-center">
                  <b-button variant="info" class="ml-1" type="submit">{{
                    $t('general.save1')
                  }}</b-button>
                </div>
              </b-form>
            </ValidationObserver>
          </div>
          <div class="blockk pl-3 border-left">
            <!-- columna derecha que muestra los ingredientes agregados -->
            <label>{{ $t('content.recprop.ingred') }}</label>
            <div class="overflow-auto">
              <b-button
                block
                variant="info"
                class="mb-1"
                v-on:click="openadds()"
                >+</b-button
              >
              <b-button
                block
                variant="light"
                class="mb-1"
                v-if="ingredRecipe.length == 0"
                >{{ $t('content.recprop.noing') }}</b-button
              >
              <draggable v-model="ingredRecipe" @change="changeList">
                <transition-group>
                  <div
                    v-for="sel in ingredRecipe"
                    v-bind:item="sel"
                    :key="sel.idIngrediente"
                  >
                    <b-card no-body class="mb-1">
                      <b-card-header header-tag="header" class="p-1" role="tab">
                        <div class="flexs frow">
                          <b-button
                            block
                            href="#"
                            v-b-toggle="'accordion-' + sel.idIngrediente"
                            variant="light"
                          >
                            {{ sel.nombre }}
                          </b-button>
                          <b-button
                            variant="warning"
                            class="ml-3"
                            v-on:click="preeditIngredient(sel)"
                            ><i class="fas fa-edit"></i
                          ></b-button>
                          <b-button
                            variant="danger"
                            class="ml-3"
                            v-on:click="openWarning2(sel)"
                            ><i class="fas fa-trash-alt"></i
                          ></b-button>
                        </div>
                      </b-card-header>
                      <b-collapse
                        :id="'accordion-' + sel.idIngrediente"
                        accordion="my-accordion"
                        role="tabpanel"
                      >
                        <b-card-body>
                          <b-table
                            striped
                            hover
                            v-bind:items="[
                              ingredRecipe.find(
                                (ingred) =>
                                  ingred.idIngrediente === sel.idIngrediente
                              ),
                            ]"
                            :fields="fields"
                            class="m-0 p-0"
                          >
                            <template v-slot:cell(tipoReceta)="data">
                              <div
                                v-for="un in types"
                                v-bind:item="un"
                                :key="un.id"
                              >
                                <div v-if="un.id == data.item.tipoReceta">
                                  {{ un.nombre }}
                                </div>
                              </div>
                            </template>
                          </b-table>
                        </b-card-body>
                      </b-collapse>
                    </b-card>
                  </div>
                </transition-group>
              </draggable>
            </div>
          </div>
          <b-overlay :show="busy" no-wrap> </b-overlay>
        </div>
      </template>
    </Modal>
    <Modal
      :id="'r' + 4"
      :Title="'Add ingredients'"
      :inputs="null"
      :variant="'info'"
      :btext="null"
      :disabled="true"
    >
      <template v-slot:above>
        <div>
          <ValidationObserver ref="form" v-slot="{ handleSubmit }">
            <b-form id="Form1" @submit.prevent="handleSubmit(add)">
              <b-form-group
                :label="$t('content.recprop.seling')"
                label-for="select-1"
              >
                <v-select
                  id="select-1"
                  :options="filtereddata"
                  label="nombre"
                  v-model="ingred"
                  ><!-- select para los ingredientes -->
                  <template #search="{ attributes, events }">
                    <input
                      class="vs__search"
                      :required="!ingred"
                      v-bind="attributes"
                      v-on="events"
                    />
                  </template>
                </v-select>
              </b-form-group>

              <ValidationProvider
                name="Value"
                rules="required|min_value:0"
                v-slot="validationContext"
              >
                <b-form-group
                  id="input-group-1"
                  :label="$t('content.recprop.quant')"
                  label-for="input-quantity"
                >
                  <b-form-input
                    id="input-quantity"
                    type="text"
                    placeholder="0"
                    v-model="quantity"
                    :state="getValidationState(validationContext)"
                    aria-describedby="input-quantity-live-feedback"
                  ></b-form-input>
                  <b-form-invalid-feedback id="input-quantity-live-feedback">{{
                    validationContext.errors[0]
                  }}</b-form-invalid-feedback>
                </b-form-group>
              </ValidationProvider>

              <b-form-group
                :label="$t('content.recprop.uom')"
                label-for="select-2"
              >
                <v-select
                  id="select-2"
                  :options="unidades"
                  label="unidad"
                  v-model="unidadselec"
                  :disabled="blockUnits"
                  ><!-- select para las unidades de medida -->
                  <template #search="{ attributes, events }">
                    <input
                      class="vs__search"
                      :required="!unidadselec"
                      v-bind="attributes"
                      v-on="events"
                    />
                  </template>
                </v-select>
              </b-form-group>

              <div class="flexs frow alignend">
                <b-button
                  variant="secondary"
                  class="ml-1"
                  v-on:click="close()"
                  >{{ $t('general.cancel') }}</b-button
                >
                <b-button
                  variant="outline-info"
                  class="ml-1"
                  type="submit"
                  form="Form1"
                  >{{ $t('general.add') }}</b-button
                >
              </div>
            </b-form>
          </ValidationObserver>
        </div>
      </template>
    </Modal>
    <Modal
      :id="'r' + 5"
      :Title="this.$t('content.t2') + subtitle"
      :submit="calledit"
      :inputs="inputs2"
      :variant="'info'"
      :btext="this.$t('general.save2')"
      :disabled="false"
    />
    <Modal
      :id="'r' + 6"
      :Title="'Warning'"
      :submit="deleteRecipe"
      :inputs="[]"
      :variant="'info'"
      :btext="this.$t('general.yes')"
      :message="warningDelete"
      :closebutton="this.$t('general.no')"
    />
    <Modal
      :id="'r' + 7"
      :Title="'Warning'"
      :submit="deleteIng"
      :inputs="[]"
      :variant="'info'"
      :btext="this.$t('general.yes')"
      :message="warningDelete"
      :closebutton="this.$t('general.no')"
    />

    <Modal
      :id="'r' + 8"
      :Title="this.$t('content.recprop.changeImg')"
      :variant="'info'"
      :btext="'Upload'"
      :closebutton="'close'"
      :size="'lg'"
      :backdrop="true"
    >
      <template v-slot:above>
        <b-form>
          <b-form-group
            :label="$t('content.recprop.image')"
            label-for="file-default"
            label-cols-sm="2"
          >
            <b-form-file
              id="file-default"
              accept="image/*"
              v-on:change="changeFile"
              v-model="file"
              :placeholder="$t('content.recprop.imageplace')"
            ></b-form-file>
          </b-form-group>
          <Cropper
            :baseimage="imagecode"
            v-on:changesMade="changesMade($event)"
          />
          <div v-if="imageWarning != null">
            <span style="color: #dc3545"
              ><i class="fas fa-exclamation-circle"></i> {{ imageWarning }}
            </span>
          </div>
          <div class="text-right">
            <b-button class="m-1" variant="secondary" v-on:click="closeImage">{{
              $t('general.close')
            }}</b-button>
            <b-button class="m-1" variant="info" v-on:click="submitImage">{{
              $t('general.save2')
            }}</b-button>
          </div>
          <b-overlay :show="busy" no-wrap> </b-overlay>
        </b-form>
      </template>
    </Modal>

    <div v-show="!alpha" class="float">
      <b-button class="round shadow" variant="info" v-on:click="changesorted">
        <i class="fas fa-sort-alpha-up fa-3x"></i>
      </b-button>
    </div>
    <div v-show="alpha" class="float">
      <b-button class="round shadow" variant="info" v-on:click="changesorted">
        <i class="fas fa-sort-alpha-down fa-3x"></i>
      </b-button>
    </div>
  </b-tab>
</template>

<script>
import jsPDF from 'jspdf';
import 'jspdf-autotable';
import api from '../../api/api';
import Modal from '../Subcomponents/Modal';
import Cropper from '../Subcomponents/Cropper';
import vSelect from 'vue-select';
import 'vue-select/dist/vue-select.css';
import context from '../../utilities/ContextNotifications';
import draggable from 'vuedraggable';
export default {
  props: ['cproject', 'archived', 'active'],
  components: {
    Modal,
    vSelect,
    Cropper,
    draggable,
  },
  data() {
    return {
      //Ordenamiento
      alpha: false,
      sortedMenu: [],
      //otras cosas
      cardprops1: 'mb-1',
      button1: 'light',
      cardprops2: 'mb-1',
      button2: 'light',
      recipes: [],
      subrecipes: [],
      ingredients: [],
      ingredRecipe: [],
      title: '',
      subtitle: '',
      inputs: [
        {
          id: 1,
          label: this.$t('content.recprop.name'),
          type: 'text',
          placeholder: 'Recipe name',
          model: '',
          rules: 'required',
        },
        {
          id: 2,
          label: this.$t('content.recprop.tecn'),
          type: 'text',
          placeholder: '',
          model: '',
          rules: 'required',
        },
        {
          id: 3,
          label: this.$t('content.recprop.time'),
          type: 'text',
          placeholder: '',
          model: '',
          rules: 'required',
        },
        {
          id: 4,
          label: this.$t('content.recprop.proc'),
          type: 'textarea',
          placeholder: '',
          model: '',
          rules: 'required',
        },
        {
          id: 5,
          label: this.$t('content.recprop.assem'),
          type: 'textarea',
          placeholder: '',
          model: '',
          rules: 'required',
        },
        {
          id: 6,
          label: 'Cuberteria',
          type: 'text',
          placeholder: '',
          model: '',
          rules: 'required',
        },
        {
          id: 7,
          label: 'Category',
          type: 'select',
          placeholder: '',
          model: '',
          rules: 'required',
        },
        {
          id: 8,
          label: this.$t('content.recprop.total'),
          type: 'text',
          placeholder: '',
          model: '',
          rules: 'required',
        },
      ],
      inputs2: [
        {
          id: 1,
          label: this.$t('content.recprop.quant'),
          type: 'text',
          placeholder: 'Recipe name',
          model: '',
          rules: 'required|min_value:0',
        },
        {
          id: 2,
          label: this.$t('content.recprop.uom'),
          type: 'select',
          placeholder: '',
          model: 0,
          text: 'unidad',
          options: [],
          rules: 'required',
        },
      ],
      data: [],
      filtereddata: [],
      fields: [
        {
          key: 'nombre',
          label: this.$t('content.recprop.name'),
        },
        {
          key: 'cantidad',
          label: this.$t('content.recprop.quant'),
        },
        {
          key: 'tipoReceta',
          label: this.$t('content.recprop.type'),
        },
      ],
      usefulId: 0,
      types: this.$store.getters.types,
      categories: null,
      selcat: '',
      blockUnits: false, // Variable para bloquear las unidades de seleccion
      //comienzan variables de seleccion de ingredientes
      ingred: '',
      quantity: '',
      unidadselec: '',
      unidades: this.$store.getters.units,
      show: false, //Para no mostrar info al usuario equivocado
      showOverlay: false,
      deleteid: -1,
      warningDelete: this.$t('warning.warningDel'),
      //Gestionar imagenes de receta
      imagen: 'https://picsum.photos/1024/400/?image=41',
      mainProps: { width: 250, height: 250 },
      imageWarning: null,
      imagecode: null,
      file: null,
      busy: false,
    };
  },
  async created() {
    await this.load();
  },
  computed: {
    menuRecipes() {
      return this.sortedMenu.filter((x) => x.tipoReceta == 1);
    },
    menuDrinks() {
      return this.sortedMenu.filter((x) => x.tipoReceta == 3);
    },
    sortedMenuAscend() {
      //var ing=JSON.parse(JSON.stringify(this.menu));
      var x = this.recipes;
      return x.sort((a, b) =>
        a.nombre > b.nombre ? 1 : b.nombre > a.nombre ? -1 : 0
      );
    },
    sortedMenuDescend() {
      //var ing=JSON.parse(JSON.stringify(this.menu));
      var x = this.recipes;
      return x.sort((a, b) =>
        a.nombre < b.nombre ? 1 : b.nombre < a.nombre ? -1 : 0
      );
    },
  },
  watch: {
    /* eslint-disable no-unused-vars */
    ingred: function (newVal, oldVal) {
      if (newVal != null && newVal != undefined) {
        console.log('SE modifico el ingrediente');
        console.log(newVal);
        if (newVal.tipo != 2) {
          this.unidadselec = this.unidades.find(
            (x) => x.id == newVal.unidadMedida
          );
          this.blockUnits = true;
        } else {
          this.unidadselec = null;
          this.blockUnits = false;
        }
      } else {
        this.unidadselec = null;
        this.blockUnits = false;
      }
    },
    /* eslint-enable no-unused-vars */
  },
  methods: {
    async changeList(evt) {
      console.log(evt);
      if (evt.moved.oldIndex != evt.moved.newIndex) {
        this.busy = true;
        var newing = this.noNameIng(this.ingredRecipe);
        //llamada
        await this.changeOrder(
          this.$store.getters.token,
          this.usefulId.id,
          newing
        );
        this.busy = false;
      }
    },
    noNameIng(ing) {
      var ningred = [];
      for (var i = 0; i < ing.length; i++) {
        ningred.push({
          idIngrediente: ing[i].idIngrediente,
          cantidad: ing[i].cantidad,
          unidadMedida: ing[i].unidadMedida,
          tipoReceta: ing[i].tipoReceta,
        });
      }
      return ningred;
    },
    async changeOrder(itoken, rid, ingred) {
      //console.log(itoken);
      const token = 'Bearer ' + itoken;
      const url = '/recipes/updatePos/' + rid;
      const headers = {
        headers: {
          'Content-Type': 'application/json',
          Authorization: token,
        },
      };
      return await api
        .put(
          url,
          {
            ingredientes: ingred,
          },
          headers
        )
        .then(
          (response) => {
            console.log('Se cambio el orden!');
            return response;
          },
          (error) => {
            console.log(error);
          }
        );
    },
    changesorted() {
      if (this.alpha) {
        this.sortedMenu = this.sortedMenuAscend;
      } else {
        this.sortedMenu = this.sortedMenuDescend;
      }
      this.alpha = !this.alpha;
    },
    loadSorted() {
      if (!this.alpha) {
        this.sortedMenu = this.sortedMenuAscend;
      } else {
        this.sortedMenu = this.sortedMenuDescend;
      }
    },
    changeState(n) {
      if (n == 1) {
        if (this.cardprops1.includes('activecard')) {
          this.cardprops1 = 'mb-1';
          this.button1 = 'light';
        } else {
          this.cardprops1 = 'mb-1 activecard';
          this.button1 = 'info';
          this.cardprops2 = 'mb-1';
          this.button2 = 'light';
        }
      } else {
        if (this.cardprops2.includes('activecard')) {
          this.cardprops2 = 'mb-1';
          this.button2 = 'light';
        } else {
          this.cardprops2 = 'mb-1 activecard';
          this.button2 = 'info';
          this.cardprops1 = 'mb-1';
          this.button1 = 'light';
        }
      }
    },
    closeImage() {
      this.$bvModal.hide('modal-r8');
    },
    beforeOpenImage() {
      this.file = null;
      this.imagecode = null;
      this.imageWarning = null;
      this.$bvModal.show('modal-r8');
    },
    async submitImage() {
      if (this.croppedImage != null) {
        this.busy = true;
        this.warning = null;
        await this.changeImageRec(
          this.$store.getters.token,
          this.usefulId.id,
          this.croppedImage
        );
        await this.load();
        this.selectedFile = null;
        this.croppedImage = null;
        this.busy = false;
        this.closeImage();
        this.showinfo(3, this.usefulId.id);
      } else {
        this.imageWarning = this.$t('warning.emptyfile');
      }
    },
    async changeImageRec(itoken, rid, img) {
      const token = 'Bearer ' + itoken;
      const url = '/recipes/updateImage/' + rid;
      const headers = {
        headers: {
          'Content-Type': 'application/json',
          Authorization: token,
        },
      };
      //const response =
      return await api
        .put(
          url,
          {
            base64: img,
          },
          headers
        )
        .then(
          (response) => {
            console.log('TODO BIEN POR AQUI');
            context.success(
              this.$t('general.success'),
              this.$t('content.noti.addedImg')
            );
            return response;
          },
          (error) => {
            console.log(error);
          }
        );
    },
    changesMade(image) {
      this.croppedImage = image.split(',')[1];
    },
    async changeFile(event) {
      if (event.target.files[0] != undefined) {
        this.selectedFile = event.target.files[0];
        //this.imagecode=event.target.files[0];
        this.busy = true;
        this.warning = null;
        await this.encodeImageFileAsURL(this.selectedFile);
      } else {
        this.warning = this.$t('warning.emptyfile');
      }
    },
    async encodeImageFileAsURL(element) {
      var file = element;
      var reader = new FileReader();
      const t = this;
      reader.onloadend = async function () {
        t.imagecode = reader.result;
        console.log('algo');
        t.busy = false;
        t.uploaddisable = false;
      };
      reader.readAsDataURL(file);
    },
    openWarning(id) {
      this.deleteid = id;
      this.$bvModal.show('modal-r6');
    },
    openWarning2(id) {
      this.deleteid = id;
      this.$bvModal.show('modal-r7');
    },
    getValidationState({ dirty, validated, valid = null }) {
      return dirty || validated ? valid : null;
    },
    async load() {
      this.showOverlay = true;
      if (this.$store.getters.user.tipousuario == 4) {
        this.show = false;
      } else {
        this.show = true;
      }
      this.inputs2[1].options = this.$store.getters.units;
      await this.getRecipes(this.$store.getters.token);
      await this.getIngredients(this.$store.getters.token);
      await this.getSubRecipes(this.$store.getters.token);
      await this.getCategories(this.$store.getters.token);
      this.modify();
      if (this.subrecipes.length > 0 && this.ingredients.length > 0) {
        this.data = this.ingredients.concat(this.subrecipes);
      } else if (this.subrecipes.length > 0 && this.ingredients.length == 0) {
        this.data = this.subrecipes;
      } else if (this.ingredients.length > 0 && this.subrecipes.length == 0) {
        this.data = this.ingredients;
      }
      for (var i = 0; i < this.data.length; i++) {
        this.data[i].idReal = this.data[i].id;
        this.data[i].id = i;
      }
      this.loadSorted();
      console.log(this.recipes);
      this.showOverlay = false;
    },
    async getCategories(itoken) {
      const token = 'Bearer ' + itoken;
      const url = '/categories';
      const headers = {
        headers: {
          'Content-Type': 'application/json',
          Authorization: token,
        },
      };
      //const response =
      return await api.get(url, headers).then(
        (response) => {
          this.categories = response.data;
        },
        (error) => {
          console.log(error);
        }
      );
    },
    close() {
      this.$bvModal.hide('modal-r' + 4);
      this.$bvModal.show('modal-r' + 2);
    },
    openadds() {
      this.$bvModal.hide('modal-r' + 2);
      this.$bvModal.show('modal-r' + 4);
    },
    open(route) {
      this.$router.push({ name: route, params: { lang: this.$i18n.locale } });
    },
    modify() {
      var i = 0;
      for (i = 0; i < this.recipes.length; i++) {
        // hace un loop en recipes
        var ing = this.recipes[i].ingredientes;
        for (var k = 0; k < ing.length; k++) {
          //hace un loop por los ingredientes de la subreceta
          for (var j = 0; j < this.ingredients.length; j++) {
            if (
              ing[k].idIngrediente == this.ingredients[j].id &&
              ing[k].tipoReceta == 5
            ) {
              ing[k].nombre = this.ingredients[j].nombre;
            }
          }
          for (j = 0; j < this.subrecipes.length; j++) {
            if (
              ing[k].idIngrediente == this.subrecipes[j].id &&
              ing[k].tipoReceta == 2
            ) {
              ing[k].nombre = this.subrecipes[j].nombre;
            }
          }
        }
      }
      for (i = 0; i < this.ingredients.length; i++) {
        this.ingredients[i].tipo = 5;
      }
      for (i = 0; i < this.recipes.length; i++) {
        this.recipes[i].tipo = 2;
      }
      for (i = 0; i < this.subrecipes.length; i++) {
        this.subrecipes[i].tipo = 2;
      }
    },

    showinfo(mid, id) {
      var re = this.recipes.find((rep) => rep.id == id);
      var cat = this.categories.find((catt) => catt.id == re.categoria);
      this.usefulId = re;
      console.log(re);
      var ing = re.ingredientes;
      this.title = re.nombre;
      this.inputs[0].model = re.nombre;
      this.inputs[1].model = re.tecnica;
      this.inputs[2].model = re.tiempoPreparacion;
      this.inputs[3].model = re.procedimiento;
      this.inputs[4].model = re.montaje;
      this.inputs[5].model = re.cuberteria;
      this.inputs[6].model = cat;
      this.inputs[7].model = re.costoTotal;
      var dat = JSON.parse(JSON.stringify(this.data));
      this.imagen = null;
      this.imagen = re.imagen;
      if (ing.length > 0) {
        for (var i = 0; i < ing.length; i++) {
          //filtra los datos que pueden seleccionarse al usar el add ingredient
          for (var ii = 0; ii < dat.length; ii++) {
            //filtra los datos que pueden seleccionarse al usar el add ingredient
            if (
              dat[ii].idReal == ing[i].idIngrediente &&
              dat[ii].tipo == ing[i].tipoReceta
            ) {
              dat.splice(ii, 1);
            }
          }
        }
        this.filtereddata = dat; //[1,2]
        this.ingredRecipe = ing;
      } else {
        this.filtereddata = this.data;
        this.ingredRecipe = ing;
      }

      this.$bvModal.show('modal-r' + mid);
    },
    async deleteRecipe() {
      await this.delRecipe(this.$store.getters.token, this.deleteid);
      await this.load();
    },
    async delRecipe(itoken, id) {
      const token = 'Bearer ' + itoken;
      const url = '/recipes/' + id;
      const headers = {
        headers: {
          'Content-Type': 'application/json',
          Authorization: token,
        },
      };
      //const response =
      return await api.delete(url, headers).then(
        (response) => {
          context.success(
            this.$t('general.success'),
            this.$t('content.noti.deletedRec')
          );
          return response;
        },
        (error) => {
          console.log(error);
        }
      );
    },
    async getRecipes(itoken) {
      const token = 'Bearer ' + itoken;
      const url = '/recipes/fromProject/' + this.cproject.id;
      const headers = {
        headers: {
          'Content-Type': 'application/json',
          Authorization: token,
        },
      };
      //const response =
      return await api
        .get(url, headers)
        .then((response) => {
          this.recipes = response.data;
          //console.log(this.recipes);
        })
        .catch((error) => {
          context.warning(this.$t('content.recipes'), error);
          /* eslint-disable no-unused-vars */
          this.recipes = [];
          const mute = error;
          /* eslint-enable no-unused-vars */
        });
    },
    // Inicia seccion de codigo para editar recetas
    async preedit() {
      console.log(this.usefulId);

      await this.editRecipe(
        this.$store.getters.token,
        this.cproject.id,
        this.usefulId.id,
        this.inputs[0].model,
        this.inputs[1].model,
        this.inputs[2].model,
        this.inputs[3].model,
        this.inputs[4].model,
        this.inputs[5].model,
        this.inputs[6].model.id,
        this.usefulId.tipoReceta,
        this.usefulId.costoServicio
      );
      await this.load();
      this.$bvModal.hide('modal-r' + 2);
    },
    async editRecipe(
      itoken,
      pid,
      rid,
      name,
      technique,
      time,
      assem,
      proc,
      cub,
      cat,
      type,
      cost
    ) {
      //console.log(itoken);
      const token = 'Bearer ' + itoken;
      const url = '/recipes/' + rid;
      const headers = {
        headers: {
          'Content-Type': 'application/json',
          Authorization: token,
        },
      };
      return await api
        .put(
          url,
          {
            nombre: name,
            categoria: cat,
            tecnica: technique,
            tiempoPreparacion: time,
            procedimiento: proc,
            montaje: assem,
            cuberteria: cub,
            imagen: 'No hay imagen compa.png',
            tipoReceta: type,
            costoServicio: cost,
            idProyecto: pid,
          },
          headers
        )
        .then(
          (response) => {
            context.success(
              this.$t('general.success'),
              this.$t('content.noti.editedRec')
            );
            return response;
          },
          (error) => {
            console.log(error);
          }
        );
    },
    async getIngredients(itoken) {
      const token = 'Bearer ' + itoken;
      const url = '/ingredients/searchByProject/' + this.cproject.id;
      const headers = {
        headers: {
          'Content-Type': 'application/json',
          Authorization: token,
        },
      };
      //const response =
      return await api.get(url, headers).then(
        (response) => {
          this.ingredients = response.data;
        },
        (error) => {
          this.ingredients = [];
          console.log(error);
        }
      );
    },
    async getSubRecipes(itoken) {
      //obtiene las subrecetas
      const token = 'Bearer ' + itoken;
      const url = '/subrecipes/fromProject/' + this.cproject.id;
      const headers = {
        headers: {
          'Content-Type': 'application/json',
          Authorization: token,
        },
      };
      //const response =
      return await api.get(url, headers).then(
        (response) => {
          this.subrecipes = response.data;
        },
        (error) => {
          this.subrecipes = [];
          console.log(error);
        }
      );
    },
    preeditIngredient(ing) {
      ///asigna los valores al modal de edicion de ingrediente de subreceta
      this.usefulId = { recipe: this.usefulId, ingredient: ing };
      this.subtitle = ing.nombre;
      this.inputs2[0].model = ing.cantidad;
      var unidad = this.$store.getters.units.find(
        (rep) => rep.id == ing.unidadMedida
      );
      this.inputs2[1].model = unidad;
      this.$bvModal.show('modal-r' + 5);
    },
    async calledit(inputs) {
      //gestiona la edicion del ingredientee
      const recipe = this.usefulId.recipe; //id receta
      const ing = this.usefulId.ingredient;
      console.log('id receta');
      await this.editIng(
        this.$store.getters.token,
        recipe.id,
        ing.idIngrediente,
        inputs[0],
        inputs[1].id,
        ing.tipoReceta
      );
      await this.load();

      this.showinfo(3, recipe.id);
    },
    async editIng(itoken, sid, ingid, quant, uom, type) {
      //editar ingrediente
      const token = 'Bearer ' + itoken;
      const url = '/recipes/ingredientFromRecipe/' + sid;
      const headers = {
        headers: {
          'Content-Type': 'application/json',
          Authorization: token,
        },
      };
      //const response =
      return await api
        .put(
          url,
          {
            idIngrediente: ingid,
            cantidad: quant,
            unidadMedida: uom,
            tipoReceta: type,
          },
          headers
        )
        .then(
          (response) => {
            context.success(
              this.$t('general.success'),
              this.$t('content.noti.editedIng')
            );
            return response;
          },
          (error) => {
            console.log(error);
          }
        );
    },
    async add() {
      console.log('Receta');
      console.log(this.usefulId);
      console.log('SubReceta');
      console.log(this.ingred);
      var ing = {
        idIngrediente: this.ingred.idReal,
        cantidad: this.quantity,
        unidadMedida: this.unidadselec.id,
        tipoReceta: this.ingred.tipo,
      };
      await this.addRecIng(this.$store.getters.token, this.usefulId.id, ing);
      this.$bvModal.hide('modal-r' + 4);
      await this.load();
      this.ingred = '';
      this.quantity = '';
      this.unidadselec = '';
      this.showinfo(2, this.usefulId.id);
    },
    async addRecIng(itoken, sid, ingredient) {
      //metodo para agregar ingredientes a subreceta
      const token = 'Bearer ' + itoken;
      const url = '/recipes/addToRecipe/' + sid;
      const headers = {
        headers: {
          'Content-Type': 'application/json',
          Authorization: token,
        },
      };
      //const response =
      return await api
        .post(
          url,
          {
            ingredientes: [ingredient],
          },
          headers
        )
        .then(
          (response) => {
            context.success(
              this.$t('general.success'),
              this.$t('content.noti.addedIng')
            );

            return response;
          },
          (error) => {
            console.log(error.response.data);
            console.log(error.response.status);
            console.log(error.response.headers);
            console.log(error);
          }
        );
    },
    async deleteIng() {
      var ing = this.deleteid;
      await this.delIngredientSub(
        this.$store.getters.token,
        this.usefulId.id,
        ing.idIngrediente,
        ing.tipoReceta
      );
      await this.load();
      this.$bvModal.hide('modal-r3');
      this.showinfo(2, this.usefulId.id);
    },
    async delIngredientSub(itoken, rid, ingid, type) {
      const token = 'Bearer ' + itoken;
      const url = '/recipes/oneIngFromRecipe/' + rid + '/' + ingid + '/' + type;
      const headers = {
        headers: {
          'Content-Type': 'application/json',
          Authorization: token,
        },
      };
      //const response =
      return await api.delete(url, headers).then(
        (response) => {
          context.success(
            this.$t('general.success'),
            this.$t('content.noti.deletedIng')
          );
          return response;
        },
        (error) => {
          console.log(error);
        }
      );
    },
    async getTemplate(itoken, pid) {
      const token = 'Bearer ' + itoken;
      const url = '/projects/getTemplate/' + pid;
      const headers = {
        headers: {
          'Content-Type': 'application/json',
          Authorization: token,
        },
      };
      //const response =
      return await api.get(url, headers).then(
        (response) => {
          //var base='data:image/png;base64,';
          return 'data:image/png;base64,' + response.data.base64;
        },
        (error) => {
          console.log(error);
        }
      );
    },
    async generateRecipePdf() {
      this.busy = true;

      var base64 = await this.getPicture(
        this.$store.getters.token,
        this.usefulId.id
      );
      var img = await this.getTemplate(
        this.$store.getters.token,
        this.cproject.id
      );
      var doc = new jsPDF({
        orientation: 'p',
        format: 'letter',
        unit: 'mm',
      });

      //const img = require('../../assets/recetapdf.png');
      var imgTemplate = new Image();
      imgTemplate.src = img;
      doc.addImage(imgTemplate, 'PNG', 0, 0, 216, 280);
      // Titulo de la receta
      doc.setTextColor(255, 255, 255);
      doc.setFontSize(15);
      var totalpx = (this.usefulId.nombre.length * 125) / 29;
      var centerpx = 67 + (62.5 - totalpx / 2);
      doc.text(this.usefulId.nombre, centerpx, 20.5);

      // Titulo de la receta
      doc.setTextColor(255, 255, 255);
      doc.setFontSize(20);

      if (this.usefulId.tipoReceta == 1) {
        doc.text('RECETA', 17, 42);
      } else {
        doc.text('BEBIDA', 17, 42);
      }

      //Id de la receta
      doc.text(this.usefulId.id.toString(), 182, 42);

      //Tecnica aplicada
      doc.setTextColor(0, 0, 0);
      doc.setFontSize(9);
      doc.text(this.usefulId.tecnica, 38, 154.5);
      doc.text(this.usefulId.tecnica, 42, 159);

      //Foto de la receta
      //const imgRecipe = require('../assets/platillo.png');
      var recipeImg = new Image();
      recipeImg.src = `data:image/png;base64, ${base64.data.base64}`;

      doc.addImage(recipeImg, 'PNG', 9, 47, 80, 80);

      doc.setTextColor(0, 0, 0);
      doc.setFontSize(10);
      var explodedText = this.usefulId.procedimiento.split('!');
      var completeProcedure = '';
      for (var x = 0; x < explodedText.length; x++) {
        completeProcedure =
          completeProcedure + (x + 1) + '.- ' + explodedText[x] + '\n';
      }

      //Texto de procedimiento
      var splitProcedure = doc.splitTextToSize(completeProcedure, 98);
      doc.text(8, 179, splitProcedure);

      var explodedAssembly = this.usefulId.montaje.split('!');
      var completeAssembly = '';
      for (var y = 0; y < explodedAssembly.length; y++) {
        completeAssembly =
          completeAssembly + (y + 1) + '.- ' + explodedAssembly[y] + '\n';
        console.log(completeAssembly);
      }
      //Texto de Montaje
      var splitAssembly = doc.splitTextToSize(completeAssembly, 98);
      doc.text(113, 179, splitAssembly);

      doc.autoTable({
        startY: 47,
        headStyles: {
          fillColor: [0, 0, 0],
        },
        margin: {
          left: 102,
        },
        styles: { cellPadding: 0.7, fontSize: 9 },
        tableWidth: 105,
        columns: [
          { dataKey: 'nombre', header: 'Nombre' },
          { dataKey: 'cantidad', header: 'Cantidad' },
          { dataKey: 'unidadMedida', header: 'Unidad' },
        ],
        body: this.usefulId.ingredientes,
      });

      doc.save(
        'Receta_' +
          this.usefulId.nombre +
          '_' +
          this.cproject.nombre +
          this.cproject.id +
          '.pdf'
      );
      this.busy = false;
    },
    async getPicture(itoken, rid) {
      const token = 'Bearer ' + itoken;
      const url = '/recipes/getPicture/' + rid;
      const headers = {
        headers: {
          'Content-Type': 'application/json',
          Authorization: token,
        },
      };
      return await api.get(url, headers).then(
        (response) => {
          console.log(response);
          return response;
        },
        (error) => {
          console.log(error);
        }
      );
    },
    clean() {
      this.inputs2[0].model = '';
      this.inputs2[1].model = '';
      this.inputs2[2].model = '';
      this.inputs2[3].model = '';
      this.inputs2[4].model = '';
      this.selected = [];
      this.show = [];
    },
    notify(title, text) {
      this.$notify({
        group: 'foo',
        title: title,
        text: text,
        type: 'error',
      });
    },
  },
};
</script>

<style scoped>
.blockk {
  width: 50%;
  height: 75vh;
  overflow: auto;
}
.activecard {
  border: 1px solid #5bc0de;
}
</style>
