<template>
    <div class=" ">
        <scatter v-if="ready" :chart-data="datacollection" :chart-options="options"></scatter>
    </div> 
</template>

<script>
  import Scatter from './Scatter.js'

  export default {
    props: ['data'],
    components: {
      Scatter
    },
    data () {
      return {
        ready: false,
        datacollection: {datasets: []},
        options: {
          responsive:true,
          maintainAspectRatio: true
        },
        template:  {
                    label: '',
                    borderColor: 'rgba(47, 152, 208, 0.2)',
                    showLine: true,
                    fill:false,
                    lineTension: 0,
                    backgroundColor: ['rgba(47, 152, 208, 0.2)',],
                    data: []
                }
      }
    },
    mounted () {
      //this.fillData();
      this.fetchData();
    },
    methods: {
        fetchData(){
            this.set1();
            this.set2();
            this.set3();
            this.set4();

            this.ready=true;
        },
        set1(){
            //Primer dataset
            var temp=JSON.parse(JSON.stringify(this.template));//     \
            temp.borderColor= 'rgba(47, 152, 208, 0.6)'    
            temp.label=this.$t('tools.balanceprops.graph.income');
            var time=this.data[1];
            var ing=this.data[2];
            console.log(ing);
            for(var i=0;i<5;i++){
               console.log(ing[i]);
               console.log(time[2]);
               temp.data.push({y: ing[i],x: time[2]});
            }
            this.datacollection.datasets.push(temp);
        },
        set2(){
            //segundo dataset
            var temp2=JSON.parse(JSON.stringify(this.template));
            temp2.label=this.$t('tools.balanceprops.graph.tinc');
            temp2.borderColor='rgba(133, 222, 119, 0.6)';
            var time=this.data[1];
            var ing=this.data[2];
            
            console.log(ing);
            for(var i=0;i<5;i++){
               temp2.data.push({y: ing[i],x: time[i]});
            }
            console.log(temp2);
            this.datacollection.datasets.push(temp2);
        },
        set3(){
            //segundo dataset
            var temp2=JSON.parse(JSON.stringify(this.template));
            temp2.label=this.$t('tools.balanceprops.graph.fcost');
            temp2.borderColor='rgba(220, 69, 61, 0.6)';
            var time=this.data[1];
            var ing=this.data[3];
            
            console.log(ing);
            for(var i=0;i<5;i++){
               temp2.data.push({y: ing[i],x: time[i]});
            }
            console.log(temp2);
            this.datacollection.datasets.push(temp2);
        },
        set4(){
            //cuarto dataset
            var temp2=JSON.parse(JSON.stringify(this.template));
            temp2.label=this.$t('tools.balanceprops.graph.tcost');
            temp2.borderColor='rgba(255, 253, 150, 1)';
            var time=this.data[1];
            var ing=this.data[6];
            
            console.log(ing);
            for(var i=0;i<5;i++){
               temp2.data.push({y: ing[i],x: time[i]});
            }
            console.log(temp2);
            this.datacollection.datasets.push(temp2);
        },
        fillData () {
            this.datacollection = {
                datasets: [
                    {
                        label: 'Something',
                        borderColor: 'rgba(47, 152, 208, 0.2)',
                        showLine: true,
                        fill:false,
                        lineTension: 0,
                        backgroundColor: ['rgba(47, 152, 208, 0.2)',],
                        data: [{
                            x: 3,
                            y: 3,
                        }, {
                            x: 2,
                            y: 2
                        }, {
                            x: 1,
                            y: 1
                        }]
                    }]
        }
            console.log(this.datacollection);
        }

    }
  }
</script>

<style>
  .wrapper {
    width: 100%;
    height: 100%;
  }
.chart-container {
  position:relative;
  margin: auto;
  height: 30vh;
  width: 30vw;
}

</style>