<template>
    <div  class="m-1" >
        <b-form-input :placeholder="placeholder" v-model="search" v-on:input="changeList"></b-form-input>
    </div>
</template>

<script>
export default {
    props:  [
        'placeholder','data','method','searchtype'
    ],
    data(){
        return{
            search:'',

        }
    },
    methods:{
        changeList(){

            this.$emit('changeList',this.filteredList());
        },
        filteredList: function() {
            
            if (this.searchtype==1)
            {   
                
                return this.filteredListName;
            }
            else
            {
               return this.filteredListEmail;
            }


            },
    },
    computed: {

        filteredListName: function() {
            return this.data.filter(proy => {
                return proy.nombre.toLowerCase().includes(this.search.toLowerCase())
            })
            },
        filteredListEmail: function() {
            return this.data.filter(proy => {
                return proy.correo.toLowerCase().includes(this.search.toLowerCase())
            })
            }
    }

}
</script>