<template>
    <b-tab :title="$t('management.serv')" v-on:click="loadData()">
        <template>
             <b-overlay :show="showOverlay" rounded="sm">
            <div role="tablist">
                <b-button v-if="cproject.archivado==false && show == true" block variant="info" class="mb-1" v-b-modal.modal-sc1><i class="fas fa-plus"></i></b-button>
                <hr>
                <b-button block variant="light" class="mb-1" v-if="costs.length ==0">{{$t('management.servprop.noserv')}}</b-button>
                <div  v-for="sup in costs" v-bind:item="sup" :key="sup.id">
                    <b-card no-body class="mb-1">
                        <b-card-header header-tag="header" class="p-1" role="tab">
                            <div class="flexs frow">
                                <b-button block href="#" v-on:click="showinfo(2,sup.id)" variant="light">
                                            {{sup.nombre}}
                                </b-button>
                                <b-button v-if="cproject.archivado==false && show == true" variant="warning" class=" ml-3" v-on:click="showinfo(3,sup.id)" >{{$t('general.edit')}}</b-button>   
                                <b-button v-if="cproject.archivado==false && show == true" variant="danger" v-on:click="openWarning(sup.id,5)" class="ml-3">{{$t('general.delete')}}</b-button>  
                            </div>          
                        </b-card-header>
                    </b-card>
                </div> 
            </div>
            </b-overlay>
        </template>
        <Modal  :id="'sc'+1" :Title="this.$t('management.servprop.newserv')" :submit="submitCost" :inputs="inputs2" :variant="'info'" :btext="this.$t('general.add')" :closebutton="this.$t('general.close')" /> 

        <!--   Inicia maquetado  para el modal de informacion           -->    
        <Modal  :id="'sc'+2" :Title="this.$t('management.servprop.infoserv')"  :inputs="null" :variant="'info'" :btext="null" :disabled="true" :size="'xl'" :closebutton="this.$t('general.close')">
            <template v-slot:above>
                <div class="flexs frow stretch mb-3">
                    <div class="blockk pr-3 border-right">
                        <div v-for="inp in inputs" v-bind:item="inp" :key="inp.id">
                            <b-form-group label-cols="4" label-cols-lg="2" 
                                :id="'input-'+inp.id"
                                :label="inp.label"
                                :label-for="'input-'+inp.id"
                            >
                                <b-form-input :type="inp.type" :placeholder="inp.placeholder" v-model="inp.model" :disabled="true" >
                                    
                                </b-form-input>
                            </b-form-group>
                        </div>
                    </div> 
                    <div class="blockk pl-3 border-left ">
                        <label >{{$t('management.servprop.cons')}}</label>
                        <div class="overflow-auto">
                            <b-button block variant="light" class="mb-1" v-if="costsupplies.length ==0">{{$t('management.servprop.nocons')}}</b-button>
                             <div  v-for="sup in costsupplies" v-bind:item="sup" :key="sup.id">
                                <b-card no-body class="mb-1">
                                    <b-card-header header-tag="header" class="p-1" role="tab">
                                        <div class="flexs frow">
                                            <b-button block href="#" v-b-toggle="'accordion-'+sup.id" variant="light">
                                                        {{sup.nombre}}
                                            </b-button>
                                        </div>       
                                    </b-card-header>
                                    <b-collapse :id="'accordion-'+sup.id"  accordion="my-accordion" role="tabpanel"> 
                                        <b-card-body>
                                            <b-table striped hover v-bind:items="[costsupplies.find(show => show.id === sup.id)]" :fields="fields" class="m-0 p-0"></b-table>
                                        </b-card-body>
                                    </b-collapse>
                                </b-card>
                            </div>
                        </div>
                    </div>
                </div>
            </template>   
        </Modal>
    <!--   Inicia maquetado  para el modal de edicion           -->
        <Modal :id="'sc'+3" :Title="this.$t('management.servprop.editserv')" :inputs="null" :variant="'info'" :btext="null"  :size="'xl'" :closebutton="this.$t('general.close')">
            <template v-slot:above>
                 <b-overlay :show="showOverlayModal1" rounded="sm">
                    <div class="flexs frow stretch mb-3">
                    <div class="blockk pr-3 border-right">
                        <ValidationObserver ref="formval"  v-slot="{ handleSubmit }">
                        <b-form id="Form-1"  @submit.prevent="handleSubmit(preedit)">
                            <ValidationProvider name="Name"
                            :rules="inputs[0].rules" 
                            v-slot="validationContext">
                                <b-form-group id="input-group-1" label="Name" :label-for="'input-'+inputs[0].id">
                                <b-form-input 
                                    :id="'input-1'+inputs[0].id" 
                                    :name="'input-s'+inputs[0].id" 
                                    :type="inputs[0].type" 
                                    :placeholder="inputs[0].placeholder" 
                                    v-model="inputs[0].model" 
                                    :state="getValidationState(validationContext)"
                                    :aria-describedby="'input-'+inputs[0].id+'-live-feedback'"></b-form-input>
                                <b-form-invalid-feedback :id="'input-'+inputs[0].id+'-live-feedback'">{{ validationContext.errors[0] }}</b-form-invalid-feedback>
                            </b-form-group>
                            </ValidationProvider>
                            <ValidationProvider name="E-mail"
                            :rules="inputs[1].rules" 
                            v-slot="validationContext">
                                <b-form-group id="input-group-1" label="Description" :label-for="'input-'+inputs[1].id">
                                <b-form-input 
                                    :id="'input-1'+inputs[1].id" 
                                    :name="'input-s'+inputs[1].id" 
                                    :type="inputs[1].type" 
                                    :placeholder="inputs[1].placeholder" 
                                    v-model="inputs[1].model" 
                                    :state="getValidationState(validationContext)"
                                    :aria-describedby="'input-'+inputs[1].id+'-live-feedback'"></b-form-input>
                                <b-form-invalid-feedback :id="'input-'+inputs[1].id+'-live-feedback'">{{ validationContext.errors[0] }}</b-form-invalid-feedback>
                            </b-form-group>
                            </ValidationProvider>
                        
                                <b-form-group id="input-group-1" label="Cost" :label-for="'input-'+inputs[2].id">
                                <b-form-input disabled
                                    :id="'input-1'+inputs[2].id" 
                                    :name="'input-s'+inputs[2].id" 
                                    :type="inputs[2].type" 
                                    :placeholder="inputs[2].placeholder" 
                                    v-model="inputs[2].model"></b-form-input>
                            </b-form-group>

                            <div class="text-center">
                                    <b-button variant="info" class="ml-1" type="submit" form="Form-1">{{$t('general.save1')}}</b-button>
                            </div>
                        </b-form>
                        </ValidationObserver>
                    </div>
                    <div class="blockk pl-3 border-left ">
                        <label >{{$t('management.servprop.cons')}}</label>
                        <div class="overflow-auto">
                            <b-button block variant="info" class="mb-1" v-on:click="openadd()">+</b-button>
                            <b-button block variant="light" class="mb-1" v-if="costsupplies.length ==0">{{$t('management.servprop.nocons')}}</b-button>
                             <div  v-for="sup in costsupplies" v-bind:item="sup" :key="sup.id">
                                <b-card no-body class="mb-1">
                                    <b-card-header header-tag="header" class="p-1" role="tab">
                                        <div class="flexs frow">
                                            <b-button block href="#" v-b-toggle="'accordion-'+sup.id" variant="light">
                                                        {{sup.nombre}}
                                            </b-button>  
                                            <b-button variant="danger"  class="ml-3" v-on:click="openWarning(sup.idInsumo,6)"><i class="fas fa-trash-alt"></i></b-button> 
                                        </div>       
                                    </b-card-header>
                                    <b-collapse :id="'accordion-'+sup.id"  accordion="my-accordion" role="tabpanel"> 
                                        <b-card-body>
                                            <b-table striped hover v-bind:items="[costsupplies.find(show => show.id === sup.id)]" :fields="fields" class="m-0 p-0"></b-table>
                                        </b-card-body>
                                    </b-collapse>
                                </b-card>
                            </div>
                        </div>
                    </div>
                </div>
                 </b-overlay>
            </template>   
        </Modal> 
        <Modal  :id="'sc'+4" :Title="this.$t('management.servprop.addcons')"  :inputs="null" :variant="'info'" :btext="null" :disabled="true"  >
            <template v-slot:above>
                <b-overlay :show="showOverlayModal2" rounded="sm">
                <b-form  id="Form-2" @submit.prevent="addSupppp" action="add" >
                        <b-form-group
                            :label="$t('management.servprop.selcons')"
                            label-for="select-2"
                        >
                        <v-select id="select-2" :options="filtereddata" label="nombre" v-model="supplieSel"><!-- select para las unidades de medida -->
                            <template #search="{attributes, events}">
                                <input
                                class="vs__search"
                                :required="!supplieSel"
                                v-bind="attributes"
                                v-on="events"
                                />
                            </template>
                        </v-select> 
                    <div class="flexs frow alignend mt-2">
                        <b-button variant="secondary" class="m-1 " v-on:click="closemodal(4)">{{$t('general.close')}}</b-button>
                        <b-button variant="outline-info" class="m-1" type="submit" form="Form-2">{{$t('general.add')}}</b-button>
                    </div>
                    </b-form-group>
                </b-form>
                </b-overlay>
            </template>   
        </Modal>  
        <Modal  :id="'sc'+5" :Title="this.$t('warning.warning')" :submit="deleteCost" :inputs="[]" :variant="'info'" :btext="this.$t('general.yes')" :message="warningDelete" :closebutton="this.$t('general.no')"/>                      
        <Modal  :id="'sc'+6" :Title="this.$t('warning.warning')" :submit="deleteSup" :inputs="[]" :variant="'info'" :btext="this.$t('general.yes')" :message="warningDelete" :closebutton="this.$t('general.no')"/>     


    </b-tab>

</template>

<script>
import Modal from '../Subcomponents/Modal'
import vSelect from 'vue-select'
import 'vue-select/dist/vue-select.css';
import api from '../../api/api'
import context from '../../utilities/ContextNotifications'
export default { 
    props:[ 
        'cproject'
    ]
    ,components:{
        Modal,vSelect
    },
    data(){
        return{
            title:'',
            costs: [],  //todos los costos de servicio en el proyecto
            costsupplies: [], //arreglo de insumos para generar show supplies
            consumable: [],  //obtiene todos los insumos disponibles en el proyecto
            inputs: [{id: 1,label: this.$t('management.servprop.name'),type: 'text',placeholder:'',model:null, rules: 'required'},
                    {id: 2,label:this.$t('management.servprop.desc'),type: 'text',placeholder:null,model:'', rules: 'required'},
                    {id: 3,label:this.$t('management.servprop.cost'),type: 'text',placeholder:'',model:null, rules: 'required|min_value:0'}],
            inputs2: [{id: 1,label:this.$t('management.servprop.name'),type: 'text',placeholder:'',model:null, rules: 'required'},
                    {id: 2,label:this.$t('management.servprop.desc'),type: 'text',placeholder:'',model:null, rules: 'required'}],
            fields: [
                    {
                        key: 'nombre',
                        label: this.$t('management.servprop.name')
                    },
                    {
                        key: 'costo',
                        label: this.$t('management.servprop.cost')
                    }],
            filtereddata: [],
            usefulId: 0, //variable para pasar id de costos,
            show: false,
            showOverlay: false,
            supplieSel: null,
            showOverlayModal1: false,
            showOverlayModal2:false,
            deleteid: -1,
            warningDelete: this.$t('warning.warningDel')     
        }   

    },
    async created(){
        await this.loadData();
    },

    methods:{
        openWarning(id,mid){
            this.deleteid=id;
            this.$bvModal.show('modal-sc'+mid);
        },
        getValidationState({ dirty, validated, valid = null }) {
        return dirty || validated ? valid : null;
        },  
        closemodal(){
            this.$bvModal.hide('modal-sc'+4);
            this.$bvModal.show('modal-sc'+3);
        },
        openadd(){
            this.$bvModal.hide('modal-sc'+3);
            this.$bvModal.show('modal-sc'+4);
        },
        async addSupppp(){
            this.showOverlayModal2=true;
            console.log(this.supplieSel);
            await this.addSupply(this.$store.getters.token,this.supplieSel.id,this.usefulId);
            await this.loadData();
            this.$bvModal.hide('modal-sc'+4);
            this.showOverlayModal2=false;
            this.showinfo(3,this.usefulId);

        },
        async loadData(){
            this.showOverlay=true;
            await this.getCosts(this.$store.getters.token);
            await this.getSupplies(this.$store.getters.token);
            await this.fetch();
            if(this.$store.getters.user.tipousuario ==4){
                this.show = false;
            } 
            else{
                this.show=true;
            }
            this.showOverlay=false;
        },
        async fetch(){
            const token =this.$store.getters.token;
            for(var i=0;i<this.costs.length ;i++){
                var response=await this.getCostsContent(token,this.costs[i].id);
                this.costs[i].insumos=[];
                if(response != 0){
                    for(var j=0; j<this.consumable.length; j++){
                        for(var k=0; k<response.length; k++){
                            if(this.consumable[j].id == response[k].idInsumo ){
                                response[k].nombre=this.consumable[j].nombre;
                                response[k].costo= this.consumable[j].costo;
                                this.costs[i].insumos.push(response[k]); 
                            }
                        }
                    }
                    
                }
                    
            }
            
        },
        async showinfo(mid,id){ 
            var cos=this.costs.find(rep => rep.id ==  id);
            this.costsupplies=cos.insumos;
            this.usefulId=id;
            //obtener insumos de costo de servicio
            this.title=cos.nombre;
            this.inputs[0].model=cos.nombre;
            this.inputs[1].model=cos.descripcion;
            this.inputs[2].model=cos.costo;
            var ing=cos.insumos;
            console.log(ing);
            var dat=JSON.parse(JSON.stringify(this.consumable));
            console.log(dat);
            if(ing.length >0){
                for(var i=0;i< ing.length;i++){ //filtra los datos que pueden seleccionarse al usar el add ingredient
                    for(var ii=0;ii< dat.length;ii++){ //filtra los datos que pueden seleccionarse al usar el add ingredient
                        if(dat[ii].id == ing[i].idInsumo ){
                            dat.splice(ii, 1); 
                        }
                    }
                }
                this.filtereddata=dat;//[1,2]
            }
            else{
                this.filtereddata=this.consumable;
            }
            this.$bvModal.show('modal-sc'+mid);   

        },
        async preedit(){
            await this.editCost(this.$store.getters.token,this.cproject.id,this.usefulId,this.inputs[0].model,this.inputs[1].model);
            await this.loadData();
            //this.$bvModal.hide('modal-r'+mid);
            this.$store.commit("setUseful",2);
            this.$bvModal.hide('modal-sc3');
        },
        async editCost(itoken,pid,cid, name,desc){ //Edita los datos generales del costo de servicio
            const token= 'Bearer '+itoken
            const url='/servicecosts/'+cid;
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};  
                    return await api.put(
                        url,
                        {
                            nombre: name,
                            descripcion: desc,
                            idProyecto: pid
                        },
                        headers).then((response) => 
                    {
                        context.success(this.$t('general.success'), this.$t('management.noti.editedServ'));
                        return response
                     },(error) => {
                    console.log(error);
                     });
 
        },
        async getSupplies(itoken){
            const token= 'Bearer '+itoken
            const url='/consumables/fromProject/'+this.cproject.id;
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                    return await api.get(url,headers).then((response) => 
                    {
                            this.consumable= response.data;
                     })
                    .catch((error) => {      
                        /* eslint-disable no-unused-vars */
                        this.consumable=[];
                        const mute = error;
                        //console.log(error);
                        /* eslint-enable no-unused-vars */
                     });

         },
        async getCosts(itoken){
            const token= 'Bearer '+itoken
            const url='servicecosts/fromProject/'+this.cproject.id;
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                    return await api.get(url,headers).then((response) => 
                    {
                        this.costs=response.data;
                     })
                    .catch((error) => {      
                        /* eslint-disable no-unused-vars */
                        this.costs=[];
                        const mute = error;
                        context.warning(this.$t('management.serv'), error);
                        /* eslint-enable no-unused-vars */
                     });

         },
         async getCostsContent(itoken,id){
            const token= 'Bearer '+itoken
            const url='servicecosts/consumablesFromService/'+id;
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                    return await api.get(url,headers).then((response) => 
                    {
                        return response.data;
                     })
                    .catch((error) => {     
                        /* eslint-disable no-unused-vars */
                        //this.costsupplies=[];
                        const mute = error;
                        return 0;
                        /* eslint-enable no-unused-vars */
                     });

         },
         async addSupply(itoken,sid, idcost ){
            const token= 'Bearer '+itoken
            const url='/servicecosts/addConsumable';
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                    return await api.post(
                        url,
                        {
                            idInsumo: sid,
                            idCostoServicio: idcost
                        },
                        headers).then((response) => 
                    {
                        context.success(this.$t('general.success'), this.$t('management.noti.addedCons'));
                        return response
                     },(error) => {
                    console.log(error);
                     });
         },
        
         async deleteSup(){
            this.showOverlayModal1=true;
            await this.delSupply(this.$store.getters.token, this.deleteid,this.usefulId);
            await this.loadData();
            this.showinfo(3,this.usefulId);
            this.showOverlayModal1=false;
        },
         async delSupply(itoken, sid, costid){
            const token= 'Bearer '+itoken
            const url='servicecosts/removeConsumable/'+costid+'/'+sid;
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                    return await api.delete(
                        url,headers).then((response) => 
                    {
                        context.success(this.$t('general.success'), this.$t('management.noti.deletedCons'));
                        return response
                     },(error) => {
                    console.log(error);
                     });
         },
        async deleteCost(){
            await this.delCost(this.$store.getters.token, this.deleteid);
            await this.loadData();
        },
         async delCost(itoken, costid){
            const token= 'Bearer '+itoken
            const url='servicecosts/'+costid;
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                    return await api.delete(
                        url,headers).then((response) => 
                    {
                        context.success(this.$t('general.success'), this.$t('management.noti.deletedServ'));
                        return response
                     },(error) => {
                    console.log(error);
                     });
         },
        async submitCost(inputs){
            console.log(inputs);
            const response = await this.addCost(this.$store.getters.token, this.cproject.id,inputs[0], inputs[1]);
            console.log(response);
            await this.loadData();
            this.$bvModal.hide('modal-sc1');
            //this.$bvModal.hide('modal-sc1');
            //this.showinfo(3,);
        },
        async addCost(itoken,pid, name, desc ){
            const token= 'Bearer '+itoken
            const url='/servicecosts';
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                    return await api.post(
                        url,
                        {
                            nombre: name,
                            descripcion: desc,
                            idProyecto: pid
                        },
                        headers).then((response) => 
                    {
                        context.success(this.$t('general.success'), this.$t('management.noti.addedServ'));
                        return response
                     },(error) => {
                    console.log(error);
                     });
         },
    },
 
}
</script>
