<template>
    <div class="stickyy">
        <div v-if="mobile !=true">
            <b-navbar sticky toggleable="lg" type="dark" variant="info" id="ofst"  class="rounded min shadow">
                    <b-navbar-nav id="lst" >
                        <b-nav-item v-on:click="open(op.route)"  v-for="op in options" :key="op.id" :active="op.active">
                            <i :class="op.icon"></i>     {{op.name}}
                        </b-nav-item>
                    </b-navbar-nav>
            </b-navbar>
        </div>
        <div v-if="mobile ==true">
            <b-navbar sticky type="dark"  variant="info"  class="shadow ">
                    <b-navbar-nav fill class="width100">
                            <b-nav-item v-on:click="open(op.route)"  v-for="op in options" :key="op.id" :active="op.active" >
                                <i :class="op.icon"></i> 
                            </b-nav-item>
                    </b-navbar-nav>
            </b-navbar>
        </div>
    </div>       
</template>

<script>
export default {
    props:[
        'options', 'mobile'
    ],
    methods:{
        open(route){
            var path=(this.$router.currentRoute).name;
            if(route != path){
                this.$router.push({ name: route, params: { lang: this.$i18n.locale }});
            }
        }
    }
}

</script>

<style >

#lst{
    display:inline-block;
}
.whitetext{
    text-decoration: none;
    color: white;
}
.min{
    min-width: 170px;
    width: 200px;
}
.mobilenav{
    display: flex;
    flex-flow: row;
}
.width100{
    width: 100%;
}
.space{
    justify-content: space-between;
}
.stickyy{
    position: sticky;
    top: 0;
}
</style>




