<template>
    
    <b-tab :title="$t('content.subrec')" v-on:click="load()">
            <template>
                <b-overlay :show="showOverlay" rounded="sm">
                <div role="tablist"> 
                    <b-button v-if="cproject.archivado==false && show == true" block variant="info" class="mb-1" v-on:click="open('projectnew_subrecipe')"><i class="fas fa-plus"></i></b-button>
                    <hr>
                    <b-button block variant="light" class="mb-1" v-if="subrecipes.length ==0">{{$t('content.nosub')}}</b-button>
                    <b-card no-body class="mb-1" v-for="re in sortedMenu" v-bind:item="re" :key="re.id">
                        <b-card-header header-tag="header" class="p-1" role="tab">
                                <div class="flexs frow">
                                    <b-button block href="#" variant="light" v-on:click="showinfo(2,re.idReal)">
                                                {{re.nombre}}
                                    </b-button>
                                    <b-button v-if="cproject.archivado==false && show == true" variant="warning" class=" ml-3" v-on:click="showinfo(3,re.idReal)">{{$t('general.edit')}}</b-button>   
                                    <b-button v-if="cproject.archivado==false && show == true" variant="danger"  class="ml-3" v-on:click="openWarning(re.idReal)">{{$t('general.delete')}}</b-button>  
                                </div>           
                        </b-card-header>
                    </b-card>
                </div>
                </b-overlay >
            </template>
        <!-- Inicia el maquetado del modal de informacion de subrecetas -->
        <Modal  :id="'sr'+2" :Title="'Info sub-Recipe: '+title"  :inputs="null" :variant="'info'" :btext="null" :disabled="true" :size="'xl'" :closebutton="'close'">
            <template v-slot:above>
                <div class="flexs frow stretch mb-3"> <!-- columna izquierda que muestra los valores de la receta -->
                    <div class="resto pr-3 border-right">
                        <div v-for="inp in inputs" v-bind:item="inp" :key="inp.id">
                            <b-form-group label-cols="4" label-cols-lg="4" 
                                :id="'input-'+inp.id"
                                :label="inp.label"
                                :label-for="'input-'+inp.id"
                            >
                                <div v-if ="inp.type == 'textarea'">
                                        <b-form-textarea :disabled="true"  v-model="inp.model">
                                        </b-form-textarea>
                                </div>
                                <div v-else>
                                    <b-form-input :disabled="true" v-model="inp.model" ></b-form-input>
                                </div>
                            </b-form-group>
                        </div>
                        <div class="text-center">
                                <b-img :src="imagen" rounded fluid alt="Responsive image" class="mb-2" v-bind="mainProps"></b-img>                      
                        </div>
                        <div class="text-center">
                                <b-button variant="info" class="ml-1" v-on:click="generateSubRecipePdf">Generar pdf</b-button>
                        </div>
                    </div> 
                    <div class="tercio pl-3 border-left "> <!-- columna derecha que muestra los ingredientes agregados -->
                        <label >{{$t('content.subprop.ingred')}}</label>
                        <div class="overflow-auto">
                            <b-button block variant="light" class="mb-1" v-if="ingredSubRecipes.length ==0">{{$t('content.subprop.noing')}}</b-button>
                             <div  v-for="sel in ingredSubRecipes" v-bind:item="sel" :key="sel.id">
                                <b-card no-body class="mb-1">
                                    <b-card-header header-tag="header" class="p-1" role="tab">
                                        <div class="flexs frow">
                                            <b-button block href="#" v-b-toggle="'accordion-'+sel.idIngrediente" variant="light">
                                                        {{sel.nombre}}
                                            </b-button>  
                                        </div>       
                                    </b-card-header>
                                    <b-collapse :id="'accordion-'+sel.idIngrediente"  accordion="my-accordion" role="tabpanel"> 
                                        <b-card-body>
                                            <b-table striped hover v-bind:items="[ingredSubRecipes.find(ingred => ingred.idIngrediente === sel.idIngrediente)]" :fields="fields" class="m-0 p-0">
                                                <template v-slot:cell(tipoReceta)="data" >
                                                    <div v-for="un in types" v-bind:item="un" :key="un.id">
                                                        <div v-if="un.id == data.item.tipoReceta">
                                                            {{un.nombre}}
                                                        </div>
                                                    </div>
                                                </template>
                                                <template v-slot:cell(unidadMedida)="data" >
                                                    <div v-for="un in unidades" v-bind:item="un" :key="un.id">
                                                        <div v-if="un.id == data.item.unidadMedida">
                                                            {{un.abreviacion}}
                                                        </div>
                                                    </div>
                                                </template>
                                            </b-table>
                                        </b-card-body>
                                    </b-collapse>
                                </b-card>
                            </div>
                        </div>
                    </div>
                </div>
            </template>   
        </Modal> 
        <!-- Inicia el maquetado del modal de edicion de subrecetas -->
        <Modal  :id="'sr'+3" :Title="this.$t('content.subprop.editsub')+title"  :inputs="null" :variant="'info'" :btext="null" :disabled="true" :size="'xl'" :closebutton="'close'">
            <template v-slot:above>
                <div class="flexs frow stretch mb-3"> <!-- columna izquierda que muestra los valores de la receta -->
                    <div class="resto pr-3 border-right">
                    <ValidationObserver ref="form"  v-slot="{ handleSubmit }">
                    <b-form  @submit.prevent="handleSubmit(preedit)">
                        <div id="form" v-for="inp in inputs" v-bind:item="inp" :key="inp.id">
                            <ValidationProvider name="Value" :vid="'v'+inp.id"
                                                :rules="inp.rules" 
                                                v-slot="validationContext">
                                <b-form-group :id="'input-group-'+inp.id" :label="inp.label" :label-for="'input-'+inp.id" label-cols="4" label-cols-lg="2" >
                                    <div v-if="inp.id > 6">
                                        <b-form-input :type="inp.type" :placeholder="inp.placeholder" v-model="inp.model"  disabled>
                                            
                                        </b-form-input>
                                    </div>
                                    <div v-else>
                                        <div v-if ="inp.type == 'textarea'">
                                                <b-form-textarea :placeholder="inp.placeholder" v-model="inp.model"
                                                :id="'input-'+inp.id" 
                                                :name="'input-'+inp.id" 
                                                :state="getValidationState(validationContext)"
                                                :aria-describedby="'input-'+inp.id+'-live-feedback'">
                                                </b-form-textarea>
                                                <b-form-invalid-feedback :id="'input-'+inp.id+'-live-feedback'">{{ validationContext.errors[0] }}</b-form-invalid-feedback>
                                        </div>
                                        <div v-else>
                                            <b-form-input :type="inp.type" :placeholder="inp.placeholder" v-model="inp.model" label-cols="4" label-cols-lg="2" 
                                            :id="'input-'+inp.id" 
                                            :name="'input-'+inp.id" 
                                            :state="getValidationState(validationContext)"
                                            :aria-describedby="'input-'+inp.id+'-live-feedback'"></b-form-input>
                                            <b-form-invalid-feedback :id="'input-'+inp.id+'-live-feedback'">{{ validationContext.errors[0] }}</b-form-invalid-feedback>
                                        </div>
                                    </div>
                                </b-form-group>
                            </ValidationProvider>
                        </div>
                        <div class="text-center mb-2">
                            <b-button variant="light" v-on:click="beforeOpenImage">
                                <b-img :src="imagen" rounded fluid alt="Responsive image" v-bind="mainProps"></b-img>
                            </b-button>
                        </div>

                        <div class="text-center">
                                <b-button variant="info" class="ml-1" type="submit">{{$t('general.save1')}}</b-button>
                        </div>
                    </b-form> 
                    </ValidationObserver>
                    </div> 
                    <div class="tercio pl-3 border-left "> <!-- columna derecha que muestra los ingredientes agregados -->
                        <label >{{$t('content.subprop.ingred')}}</label>
                        <div class="overflow-auto">
                            <b-button block variant="info" class="mb-1" v-on:click="openadd()">+</b-button>
                            <b-button block variant="light" class="mb-1" v-if="ingredSubRecipes.length ==0">{{$t('content.subprop.noing')}}</b-button>
                            <draggable v-model="ingredSubRecipes" @change="changeList">
                                <transition-group>
                                    <div  v-for="sel in ingredSubRecipes" v-bind:item="sel" :key="sel.idIngrediente">
                                        <b-card no-body class="mb-1">
                                            <b-card-header header-tag="header" class="p-1" role="tab">
                                                <div class="flexs frow">
                                                    <b-button block href="#" v-b-toggle="'accordion-'+sel.idIngrediente" variant="light">
                                                                {{sel.nombre}}
                                                    </b-button>
                                                    <b-button variant="warning" class=" ml-3" v-on:click="preeditIngredient(sel)" ><i class="fas fa-edit"></i></b-button>   
                                                    <b-button variant="danger"  class="ml-3" v-on:click="openWarning2(sel)" ><i class="fas fa-trash-alt"></i></b-button>  
                                                </div>       
                                            </b-card-header>
                                            <b-collapse :id="'accordion-'+sel.idIngrediente"  accordion="my-accordion" role="tabpanel"> 
                                                <b-card-body>
                                                    <b-table striped hover v-bind:items="[ingredSubRecipes.find(ingred => ingred.idIngrediente === sel.idIngrediente)]" :fields="fields" class="m-0 p-0">
                                                        <template v-slot:cell(tipoReceta)="data" >
                                                            <div v-for="un in types" v-bind:item="un" :key="un.id">
                                                                <div v-if="un.id == data.item.tipoReceta">
                                                                    {{un.nombre}}
                                                                </div>
                                                            </div>
                                                        </template>
                                                        <template v-slot:cell(unidadMedida)="data" >
                                                            <div v-for="un in unidades" v-bind:item="un" :key="un.id">
                                                                <div v-if="un.id == data.item.unidadMedida">
                                                                    {{un.abreviacion}}
                                                                </div>
                                                            </div>
                                                        </template>
                                                    </b-table>
                                                </b-card-body>
                                            </b-collapse>
                                        </b-card>
                                    </div>
                                </transition-group>
                            </draggable>
                        </div>
                    </div>
                    <b-overlay :show="busy" no-wrap>

                    </b-overlay>
                </div>
            </template>   
        </Modal> 
        <Modal  :id="'sr'+4" :Title="this.$t('content.subprop.adding')"  :inputs="null" :variant="'info'" :btext="null" :disabled="true"  >
            <template v-slot:above>
                <div>
                    <ValidationObserver ref="form"  v-slot="{ handleSubmit }">
                        <b-form id="Form1" @submit.prevent="handleSubmit(add)">
                            <b-form-group 
                                    :label="$t('content.subprop.seling')"
                                    label-for="select-1"
                                >
                            <v-select id="select-1" :options="filtereddata" label="nombre" v-model="ingred"><!-- select para los ingredientes -->
                                <template #search="{attributes, events}">
                                    <input
                                    class="vs__search"
                                    :required="!ingred"
                                    v-bind="attributes"
                                    v-on="events"
                                    />
                                </template>
                            </v-select> 
                            </b-form-group>
                            
                            <ValidationProvider name="Value"
                            rules="required|min_value:0" 
                            v-slot="validationContext">
                            <b-form-group 
                                id="input-group-1"
                                :label="$t('content.subprop.quant')"
                                label-for="input-quantity"
                            >
                                <b-form-input id="input-quantity" type="text" placeholder="0" v-model="quantity"
                                :state="getValidationState(validationContext)"
                                aria-describedby="input-quantity-live-feedback"></b-form-input>
                                <b-form-invalid-feedback id="input-quantity-live-feedback">{{ validationContext.errors[0] }}</b-form-invalid-feedback>
                            </b-form-group>
                            </ValidationProvider>

                            <b-form-group
                                    :label="$t('content.subprop.uom')"
                                    label-for="select-2"
                                >
                                <v-select id="select-2" :options="unidades" label="unidad" v-model="unidadselec" :disabled="blockUnits"><!-- select para las unidades de medida -->
                                    <template #search="{attributes, events}">
                                        <input
                                        class="vs__search"
                                        :required="!unidadselec"
                                        v-bind="attributes"
                                        v-on="events"
                                        />
                                    </template>
                                </v-select> 
                            </b-form-group>
                            
                            <div class="flexs frow alignend">
                                <b-button variant="secondary" class="ml-1" v-on:click="close()">{{$t('general.close')}}</b-button>
                                <b-button variant="outline-info" class="ml-1" type="submit" form="Form1">{{$t('general.add')}}</b-button>
                            </div>
                        </b-form>
                    </ValidationObserver>
                </div>
            </template>   
        </Modal>
        <Modal  :id="'sr'+5" :Title="this.$t('content.t2')+title"  :submit="calledit" :inputs="inputs2" :variant="'info'" :btext="this.$t('general.save2')" :disabled="false" />
        <Modal  :id="'sr'+6" :Title="this.$t('warning.warning')" :submit="deleteSubRecipe" :inputs="[]" :variant="'info'" :btext="this.$t('general.yes')" :message="warningDelete" :closebutton="this.$t('general.no')"/>                      
        <Modal  :id="'sr'+7" :Title="this.$t('warning.warning')" :submit="deleteIng" :inputs="[]" :variant="'info'" :btext="this.$t('general.yes')" :message="warningDelete" :closebutton="this.$t('general.no')"/>                      
  
        <Modal :id="'sr'+8" :Title="this.$t('content.recprop.changeImg')" :variant="'info'" :btext="'Upload'" :closebutton="'close'" :size="'lg'" :backdrop="true">
            <template v-slot:above>
                <b-form>
                    <b-form-group :label="$t('content.recprop.image')" label-for="file-default" label-cols-sm="2">
                        <b-form-file id="file-default" accept="image/*" v-on:change="changeFile" v-model="file" :placeholder="$t('content.recprop.imageplace')"></b-form-file>    
                    </b-form-group>
                    <Cropper :baseimage="imagecode" v-on:changesMade="changesMade($event)" />
                    <div v-if="imageWarning != null">
                        <span style="color: #dc3545;" ><i class="fas fa-exclamation-circle"></i> {{imageWarning}} </span>
                    </div>
                    <div class="text-right">
                        <b-button class="m-1" variant="secondary" v-on:click="closeImage" >{{$t('general.close')}}</b-button> 
                        <b-button  class="m-1" variant="info" v-on:click="submitImage">{{$t('general.save2')}}</b-button> 
                    </div>
                    <b-overlay :show="busy" no-wrap>

                    </b-overlay>
                </b-form>
               
            </template>
        </Modal>

            <div v-show="!alpha" class="float " >
                <b-button class="round shadow " variant="info" v-on:click="changesorted">
                    <i class=" fas fa-sort-alpha-up fa-3x "></i>   
                </b-button>
            </div>
            <div v-show="alpha" class="float " >
                <b-button class="round shadow " variant="info" v-on:click="changesorted">
                    <i class=" fas fa-sort-alpha-down fa-3x "></i>   
                </b-button>
            </div>
    </b-tab>
    
</template>

<script>
import jsPDF from 'jspdf';
import 'jspdf-autotable';
import api from '../../api/api'
import Modal from '../Subcomponents/Modal'
import vSelect from 'vue-select'
import 'vue-select/dist/vue-select.css';
import context from '../../utilities/ContextNotifications'
import Cropper from '../Subcomponents/Cropper'
import draggable from 'vuedraggable'
export default {
    props:[
            'cproject','proyname'
    ],
    components:{
        Modal, vSelect, Cropper, draggable
    },
    data(){
        return{
             //Ordenamiento
            alpha: false,
            sortedMenu: [], 
            //otras cosas
            title: '',
            subrecipes: [],
            ingredients: [],
            ingredSubRecipes: [],
            inputs: [{id: 1,label: this.$t('content.subprop.name'),type: 'text',placeholder:'Recipe name',model:'', rules: 'required'},
                        {id: 2,label:this.$t('content.subprop.tecn'),type: 'text',placeholder:'',model:'', rules: 'required'},
                        {id: 3,label:this.$t('content.subprop.time'),type: 'text',placeholder:'',model:'', rules: 'required'},
                        {id: 4,label:this.$t('content.subprop.proc'),type: 'textarea',placeholder:'',model:'', rules: 'required'},
                        {id: 5,label:this.$t('content.subprop.assem'),type: 'textarea',placeholder:'',model:'', rules: 'required'},
                        {id: 6,label:this.$t('content.subprop.unitsprod'),type: 'text',placeholder:'',model:'', rules: 'required'},
                        {id: 7,label:this.$t('content.subprop.total'),type: 'text',placeholder:'',model:'', rules: 'required'},
                        {id: 8,label:this.$t('content.subprop.unitcost'),type: 'text',placeholder:'',model:'', rules: 'required'}],
            inputs2: [{id: 1,label:this.$t('content.subprop.quant'),type: 'text',placeholder:'Recipe name',model:'', rules: 'required|min_value:0'},
                        {id: 2,label:this.$t('content.subprop.uom'),type: 'select',placeholder:'',model:0, text: 'unidad' ,options: [], rules: 'required'}],
            data:[],
            filtereddata:[],
            fields: [
                    {
                        key: 'nombre',
                        label: this.$t('content.subprop.name')
                    },
                    {
                        key: 'cantidad',
                        label: this.$t('content.subprop.quant')
                    }, /*
                    {
                        key: 'unidadMedida',
                        label: this.$t('content.subprop.uom')
                    },*/
                    {
                        key: 'tipoReceta',
                        label: this.$t('content.subprop.type')
                    }],
            usefulId: 0,
            blockUnits:false, //lo mismo
            //comienzan variables de seleccion de ingredientes
            ingred: '',
            quantity: '',
            unidadselec: '',
            unidades: this.$store.getters.units,
            types: this.$store.getters.types,
            show: false,
            showOverlay: false,
            deleteid: -1,
            warningDelete: this.$t('warning.warningDel'),
            //gestionar imagenes de sub receta
            mainProps: { width: 250, height: 250,  },
            imagen: "https://picsum.photos/1024/400/?image=41",
            imageWarning: null,
            imagecode: null,
            file: null,
            busy: false
        }
    },
    async created(){
        await this.load();
    },
    computed:{
        sortedMenuAscend(){
            //var ing=JSON.parse(JSON.stringify(this.menu));
            var x=this.subrecipes;
            return x.sort((a,b) => (a.nombre > b.nombre) ? 1 : ((b.nombre > a.nombre) ? -1 : 0)); 
        },
        sortedMenuDescend(){
            //var ing=JSON.parse(JSON.stringify(this.menu));
            var x=this.subrecipes;
            return x.sort((a,b) => (a.nombre < b.nombre) ? 1 : ((b.nombre < a.nombre) ? -1 : 0)); 
        }
    },
    watch: { 
        /* eslint-disable no-unused-vars */
        ingred: function(newVal, oldVal) {
            if(newVal != null && newVal != undefined){
                console.log("SE modifico el ingrediente");
                console.log(newVal);
                if(newVal.tipo != 2){
                    this.unidadselec=this.unidades.find(x =>x.id == newVal.unidadMedida);
                    this.blockUnits=true;
                }
                else{
                    this.unidadselec=null;
                    this.blockUnits=false;
                }
            }
            else{
                this.unidadselec=null;
                this.blockUnits=false;
            }
        }
        /* eslint-enable no-unused-vars */
    },
    methods:{
        async changeList(evt){
            console.log(evt);
            if(evt.moved.oldIndex != evt.moved.newIndex){
                this.busy =true;
                var newing=this.noNameIng(this.ingredSubRecipes);
                //llamada
                await this.changeOrder(this.$store.getters.token, this.usefulId, newing);
                this.busy=false;
            }
        },
        noNameIng(ing){
            var ningred=[];
            for(var i=0; i<ing.length;i++){
                ningred.push({idIngrediente: ing[i].idIngrediente, cantidad: ing[i].cantidad, unidadMedida: ing[i].unidadMedida, tipoReceta: ing[i].tipoReceta});
            }
            return ningred;
        },
        async changeOrder(itoken,rid,ingred){
            //console.log(itoken);
            const token= 'Bearer '+itoken
            const url='/subrecipes/updatePos/'+rid;
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};  
                    return await api.put(
                        url,
                        {
                            ingredientes: ingred
                        },
                        headers).then((response) => 
                    {
                        console.log("Se cambio el orden!");
                        return response
                     },(error) => {
                        console.log(error);
                    });
 
        },
        changesorted(){
            if(this.alpha){
                this.sortedMenu=this.sortedMenuAscend;
            }
            else{
                this.sortedMenu=this.sortedMenuDescend;
            }
            this.alpha=!this.alpha;   
        },
        loadSorted(){
            if(!this.alpha){
                this.sortedMenu=this.sortedMenuAscend;
            }
            else{
                this.sortedMenu=this.sortedMenuDescend;
            }
        },
        closeImage(){
            this.$bvModal.hide('modal-sr8');
        },
        beforeOpenImage(){
            this.file =null;
            this.imagecode=null;
            this.imageWarning=null;
            this.$bvModal.show('modal-sr8');
        },
        async submitImage(){
            if(this.croppedImage != null){
                this.busy=true;
                this.warning=null;
                await this.changeImageRec(this.$store.getters.token, this.usefulId, this.croppedImage);
                await this.load();
                this.selectedFile=null;
                this.croppedImage=null;
                this.busy=false;
                this.closeImage();
                this.showinfo(3,this.usefulId);
                
            }
            else{
                this.imageWarning= this.$t('warning.emptyfile');
            }
        },
        async changeImageRec(itoken,rid,img){

            const token= 'Bearer '+itoken
            const url='/subrecipes/updateImage/'+rid;
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                    return await api.put(
                        url,
                        {
                            base64: img,   
                        },
                        headers).then((response) => 
                    {
                        console.log("TODO BIEN POR AQUI");
                        context.success(this.$t('general.success'), this.$t('content.noti.addedImg'));
                        return response
                     },(error) => {
                        console.log(error);
                     });
         },
        changesMade(image){
            this.croppedImage=image.split(',')[1];
        },
        async changeFile(event){
            if(event.target.files[0] != undefined){
                this.selectedFile=event.target.files[0];
                //this.imagecode=event.target.files[0];
                this.busy=true;
                this.warning=null;
                await this.encodeImageFileAsURL(this.selectedFile);
                
            }
            else{
                this.warning= this.$t('warning.emptyfile');
            }

        },
        async encodeImageFileAsURL(element) {
            var file = element;
            var reader = new FileReader();
            const t=this;
            reader.onloadend = async function() {
                t.imagecode=reader.result;
                console.log("algo");
                t.busy=false;
                t.uploaddisable=false;
            }
            reader.readAsDataURL(file);
        },
        openWarning(id){
            this.deleteid=id;
            this.$bvModal.show('modal-sr6');
        },
        openWarning2(id){
            this.deleteid=id;
            this.$bvModal.show('modal-sr7');
        },
        getValidationState({ dirty, validated, valid = null }) {
            return dirty || validated ? valid : null;
            },  
        close(){
            this.$bvModal.hide('modal-sr'+4);
            this.$bvModal.show('modal-sr'+3);
        },
        async calledit(inputs){
            const recipe =this.usefulId.recipe; //id receta
            const ing=this.usefulId.ingredient;
            await this.editIng(this.$store.getters.token,recipe, ing.idIngrediente,inputs[0],inputs[1].id,ing.tipoReceta);
            await this.load();
            this.showinfo(3,recipe);
        },
        async editIng(itoken,sid,ingid, quant,uom,type){
            const token= 'Bearer '+itoken
            const url='/subrecipes/ingredientFromSubRecipe/'+sid;
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                    return await api.put(url,
                    {
                        idIngrediente: ingid,
                        cantidad: quant,
                        unidadMedida: uom,
                        tipoReceta: type,
                    },
                    headers).then((response) => 
                    {
                        context.success(this.$t('general.success'), this.$t('content.noti.editedIng'));
                        return response
                     },(error) => {
                         console.log(error.response.data);
                            console.log(error.response.status);
                            console.log(error.response.headers);
                        console.log(error);
                     });
        },
        preeditIngredient(ing){
            this.usefulId={recipe: this.usefulId,ingredient: ing};
            this.title=ing.nombre;
            this.inputs2[0].model=ing.cantidad;
            var unidad=this.$store.getters.units.find(rep => rep.id ==  ing.unidadMedida);
            this.inputs2[1].model=unidad;
            this.$bvModal.show('modal-sr'+5);
        },
        openadd(){
            this.$bvModal.hide('modal-sr'+3);
            this.$bvModal.show('modal-sr'+4);
        },
        open(route){
            this.$router.push({ name: route, params: { lang: this.$i18n.locale }});
        },
        async load(){
            this.showOverlay=true;
            if(this.$store.getters.user.tipousuario ==4){
                this.show=false;
            }
            else{
                this.show=true;
            }
            this.inputs2[1].options=this.$store.getters.units;
            await this.getIngredients(this.$store.getters.token);
            await this.getSubRecipes(this.$store.getters.token);
            this.modify();
            if(this.subrecipes.length >0 && this.ingredients.length >0){
                this.data = this.ingredients.concat(this.subrecipes);
            }
            else if(this.subrecipes.length >0 && this.ingredients.length ==0){
                this.data = this.subrecipes;
            }
            else if( this.ingredients.length >0 && this.subrecipes.length ==0 ){
                this.data = this.ingredients;
            }
            
            for(var i=0;i<this.data.length;i++){
                this.data[i].idReal = this.data[i].id;
                this.data[i].id=i;
                //console.log("id: "+this.data[i].id);
                //console.log("id receta"+this.data[i].idReal);
            }
            this.loadSorted();
            this.showOverlay=false;
        },
        modify(){
            var i=0;
            for( i=0;i<this.subrecipes.length;i++){// hace un loop en subrecipes
                var ing=this.subrecipes[i].ingredientes;
                for(var k=0;k<ing.length;k++){//hace un loop por los ingredientes de la subreceta
                    for(var j=0;j<this.ingredients.length;j++){
                        if(ing[k].idIngrediente == this.ingredients[j].id && ing[k].tipoReceta == 5 ){
                            ing[k].nombre=this.ingredients[j].nombre;
                        }
                    }
                    for(j=0;j<this.subrecipes.length;j++){
                        if(ing[k].idIngrediente == this.subrecipes[j].id && ing[k].tipoReceta == 2 ){
        
                            ing[k].nombre=this.subrecipes[j].nombre;
                        }
                    }
                }  
            }
            for( i=0;i<this.ingredients.length;i++){
                this.ingredients[i].tipo=5;
            }
            for( i=0;i<this.subrecipes.length;i++){
                this.subrecipes[i].tipo=2;
            }
        },
        showinfo(mid,rid){
            
            var re=this.subrecipes.find(rep => rep.idReal ==  rid);
            this.usefulId=re.idReal;
            re.tipo=2;
            var ing=re.ingredientes;
            console.log(ing);
            this.title=re.nombre;
            this.inputs[0].model=re.nombre;
            this.inputs[1].model=re.tecnica;
            this.inputs[2].model=re.tiempoPreparacion;
            this.inputs[3].model=re.procedimiento;
            this.inputs[4].model=re.montaje;
            this.inputs[5].model=re.unidadesProducidas;
            this.inputs[6].model=re.costoTotal;
            this.inputs[7].model=re.costoSubrecetaUnidad;
            var dat=JSON.parse(JSON.stringify(this.data));
            this.imagen=null;
            this.imagen=re.imagen;
            for(var k=0;k< dat.length;k++){ //Elimina a la subreceta seleccionada de la lista  !!!Falta probrarlo 
                    if(dat[k].idReal == re.idReal && dat[k].tipo == re.tipo){
                        dat.splice(k, 1); 
                    }
                }
            if(ing.length >0){
                for(var i=0;i< ing.length;i++){ //filtra los datos que pueden seleccionarse al usar el add ingredient
                    for(var ii=0;ii< dat.length;ii++){ //filtra los datos que pueden seleccionarse al usar el add ingredient
                        if(dat[ii].idReal == ing[i].idIngrediente && dat[ii].tipo == ing[i].tipoReceta){
                            dat.splice(ii, 1); 
                        }
                    }
                }
                this.filtereddata=dat;//[1,2]
                this.ingredSubRecipes=ing;
            }
            else{
                this.filtereddata=this.data;
                this.ingredSubRecipes=ing;
            }
 
            this.$bvModal.show('modal-sr'+mid);    
        },
        async getSubRecipes(itoken){
            const token= 'Bearer '+itoken
            const url='/subrecipes/fromProject/'+this.cproject.id;
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                    return await api.get(url,headers).then((response) => 
                    {
                        this.subrecipes=response.data;
                     },(error) => {
                        this.subrecipes=[];
                        console.log(error);
                        context.warning(this.$t('content.subrec'), error);
                     });
         },
        async preedit(){
            await this.editSubRecipe(this.$store.getters.token,this.cproject.id,this.usefulId,this.inputs[0].model,this.inputs[1].model,
                                        this.inputs[2].model,this.inputs[3].model,this.inputs[4].model,this.inputs[5].model);
            await this.load();
            this.$bvModal.hide('modal-sr'+3);
        },
        async editSubRecipe(itoken,pid,sid,name, tech,time,pro,ass,units){
            const token= 'Bearer '+itoken
            const url='/subrecipes/'+sid;
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                    return await api.put(url,
                    {
                        nombre: name,
                        tecnica: tech,
                        tiempoPreparacion: time,
                        procedimiento: pro,
                        montaje: ass,
                        imagen:"crepaPrueba2.png",
                        unidadesProducidas: units,
                        idProyecto: pid,
                    },
                    headers).then((response) => 
                    {
                        context.success(this.$t('general.success'), this.$t('content.noti.editedSubRec'));
                        this.subrecipes=response.data; 
                     },(error) => {
                        this.subrecipes=[];
                        console.log(error);
                     });
         },
         async deleteSubRecipe(){
            await this.delSRecipe(this.$store.getters.token, this.deleteid);
            //this.$bvModal.hide('modal-1');
            await this.load();
        },
         async delSRecipe(itoken, id){
            const token= 'Bearer '+itoken
            const url='/subrecipes/'+id;
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                    return await api.delete(
                        url,headers).then((response) => 
                    {
                        context.success(this.$t('general.success'), this.$t('content.noti.deletedSubRec'));
                        return response
                     },(error) => {
                    console.log(error);
                     });
         },
         async getIngredients(itoken){
            const token= 'Bearer '+itoken
            const url='/ingredients/searchByProject/'+this.cproject.id;
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                    return await api.get(url,headers).then((response) => 
                    {
                        this.ingredients=response.data;
                     },(error) => {
                        this.ingredients=[];
                        console.log(error);
                     });
         },
         async deleteIng(){
            // console.log(ing);
            var ing=this.deleteid;
            await this.delIngredientSub(this.$store.getters.token,this.usefulId, ing.idIngrediente ,ing.tipoReceta);
            await this.load();
            this.$bvModal.hide('modal-sr3');
            this.showinfo(3,this.usefulId);
        },
         async delIngredientSub(itoken, rid, ingid, type){
            const token= 'Bearer '+itoken
            const url='/subrecipes/oneIngFromSubRecipe/'+rid+'/'+ingid+'/'+type;
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                    return await api.delete(
                        url,headers).then((response) => 
                    {
                        context.success(this.$t('general.success'), this.$t('content.noti.deletedIng'));
                        return response
                     },(error) => {
                    console.log(error);
                     });
         },
        async add(){
            //console.log(this.ingred);
            var ing ={idIngrediente: this.ingred.idReal, cantidad: this.quantity, unidadMedida: this.unidadselec.id, tipoReceta:this.ingred.tipo}
            await this.addSubrecIng(this.$store.getters.token,this.usefulId,ing);
            this.$bvModal.hide('modal-sr'+4);
            await this.load();
            this.ingred= '';
            this.quantity= '';
            this.unidadselec= '';
            this.showinfo(3,this.usefulId);  
        },
         async addSubrecIng(itoken,sid,ingredient){ //metodo para agregar ingredientes a subreceta
            const token= 'Bearer '+itoken
            const url='/subrecipes/addToSubRecipe/'+sid;
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                    return await api.post(url,
                    {
                        ingredientes: [ingredient]
                    },
                    headers).then((response) => 
                    {
                        context.success(this.$t('general.success'), this.$t('content.noti.addedIng'));
                        return response;
                     },(error) => {
                                                  console.log(error.response.data);
                            console.log(error.response.status);
                            console.log(error.response.headers);
                        console.log(error);
                     });
         },
            async getTemplate(itoken,pid){
            const token= 'Bearer '+itoken
            const url='/projects/getTemplate/'+pid;
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                    return await api.get(
                        url,
                        headers).then((response) => 
                    {
                        //var base='data:image/png;base64,';
                        return 'data:image/png;base64,'+response.data.base64;
                     },(error) => {
                        console.log(error);
                     });
         },
         async generateSubRecipePdf(){
            this.busy=true;
            var re=this.subrecipes.find(rep => rep.idReal ==  this.usefulId);
            console.log(re)
            var img=await this.getTemplate(this.$store.getters.token, this.cproject.id);
            var doc = new jsPDF({
                orientation:'p',
                format:'letter',
                unit: 'mm'
            });

            //const img = require('../../assets/recetapdf.png');
            var imgTemplate = new Image();
            imgTemplate.src = img;
            doc.addImage(imgTemplate, 'PNG', 0,0, 216,280);
            // Titulo de la receta
            doc.setTextColor(255,255,255);
            doc.setFontSize(15);
            var totalpx = (re.nombre.length * 125) / 29;
            var centerpx = (67 + (62.5 - (totalpx/2)));
            doc.text(re.nombre, centerpx, 20.5);
            

            // Titulo de la receta
            doc.setTextColor(255,255,255);
            doc.setFontSize(20);
            // checar qe es sub recete y subbebida ..............................
            if(re.tipo == 2){
                doc.text("SUB-RECETA", 17, 42);
            }else{
                doc.text("SUB-BEBIDA", 17, 42);
            }

            //Id de la receta
            doc.text(re.id.toString(), 182, 42);

            //Tecnica aplicada
            doc.setTextColor(0,0,0)
            doc.setFontSize(9)
            doc.text(re.tecnica, 38, 154.5)
            doc.text(re.tecnica, 42, 159)
            
            //Foto de la receta
            //const imgRecipe = require('../assets/platillo.png');
            var recipeImg = new Image();
            var base64=await this.getPicture(this.$store.getters.token,this.usefulId);
            console.log(base64)
            recipeImg.src = `data:image/png;base64, ${base64.data.base64}`;
            
        
            doc.addImage(recipeImg, 'PNG', 9, 47, 80, 80);

            doc.setTextColor(0,0,0);
            doc.setFontSize(10);
            var explodedText = re.procedimiento.split("!");
            var completeProcedure = "";
            console.log("antes del for")
            for(var x = 0; x<explodedText.length; x++){
                completeProcedure = completeProcedure + (x+1) +".- " + explodedText[x]+"\n";
            }
             console.log("despues del for")


            //Texto de procedimiento
            var splitProcedure = doc.splitTextToSize(completeProcedure, 98);
            doc.text(8, 179, splitProcedure);



            var explodedAssembly = re.montaje.split("!");
            var completeAssembly = "";
            for(var y = 0; y<explodedAssembly.length; y++){
                completeAssembly = completeAssembly + (y+1) +".- " + explodedAssembly[y]+"\n";
                console.log(completeAssembly);
            }
            //Texto de Montaje
            var splitAssembly = doc.splitTextToSize(completeAssembly, 98);
            doc.text(113, 179, splitAssembly);

            doc.autoTable({
                startY: 47,
                headStyles:{
                    fillColor: [0,0,0]
                },
                margin:{
                    left:102
                },
                styles: { cellPadding: 0.7, fontSize: 9 },
                tableWidth:105,
                columns: [
                        { dataKey: 'nombre', header: 'Nombre' },
                        { dataKey: 'cantidad', header: 'Cantidad' },
                        { dataKey: 'unidadMedida', header: 'Unidad' }
                    ],
                body: re.ingredientes
            })
        //RUTA PDF ............................
        doc.save('SubReceta_'+re.nombre+'_'+this.cproject.nombre+this.cproject.id+'.pdf');
        this.busy=false;
            
        },
        async getPicture(itoken, rid){
            const token= 'Bearer '+itoken
            //cambiar ruta aqi ? -------------------------------- subrecipes
            const url='/subrecipes/getPicture/'+rid;
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};  
                    return await api.get(
                        url,
                        headers).then((response) => 
                    {
                        console.log(response);  
                        return response
                     },(error) => {
                        console.log(error);
                    });
        },
        clean(){
            this.inputs2[0].model='';
            this.inputs2[1].model='';
            this.inputs2[2].model='';
            this.inputs2[3].model='';
            this.inputs2[4].model='';
            this.selected=[];
            this.show=[];
         },
        notify(title,text){
                this.$notify({
                    group: 'foo',
                    title: title,
                    text: text,
                    type: 'error'
            });
        },
    }
}
</script>

<style scoped>
.tercio{
    width: 40%;
}
.resto{
    width: 60%;
}
</style>