<template>
    <b-tab :title="$t('management.cons')" v-on:click="load()">
        <template>
             <b-overlay :show="showOverlay" rounded="sm">
            <div role="tablist">
                <b-button v-if="cproject.archivado==false && show == true" block variant="info" class="mb-1" v-b-modal.modal-sp1><i class="fas fa-plus"></i></b-button>
                <hr>
                <b-button block variant="light" class="mb-1" v-if="supplies.length ==0">{{$t('management.consprop.nocons')}}</b-button>
                <div  v-for="sup in supplies" v-bind:item="sup" :key="sup.id">
                    <b-card no-body class="mb-1">
                        <b-card-header header-tag="header" class="p-1" role="tab">
                            <div class="flexs frow">
                                <b-button block href="#" v-b-toggle="'accordion-'+sup.id" variant="light">
                                            {{sup.nombre}}
                                </b-button>
                                <b-button v-if="cproject.archivado==false && show == true" variant="warning" class=" ml-3" v-on:click="preedit(sup.id)" >{{$t('general.edit')}}</b-button>   
                                <b-button v-if="cproject.archivado==false && show == true" variant="danger" v-on:click="openWarning(sup.id)" class="ml-3">{{$t('general.delete')}}</b-button>  
                            </div>
                                 
                        </b-card-header>
                        <b-collapse :id="'accordion-'+sup.id"  accordion="my-accordion" role="tabpanel"> 
                            <b-card-body>
                                <b-table striped hover v-bind:items="[supplies.find(supp => supp.id === sup.id)]" :fields="fields" class="m-0 p-0"></b-table>
                            </b-card-body>
                        </b-collapse>
                    </b-card>
                </div> 
            </div>
            </b-overlay>
        </template>
            <Modal  :id="'sp'+1" :Title="this.$t('management.consprop.newcons')" :submit="submitSupp" :inputs="inputs2" :variant="'info'" :btext="this.$t('general.add')" :closebutton="this.$t('general.close')" />   
            <Modal  :id="'sp'+2" :Title="this.$t('management.consprop.editcons')" :submit="editSupp" :inputs="inputs" :variant="'info'" :btext="this.$t('general.save2')" :closebutton="this.$t('general.close')" /> 
            <Modal  :id="'sp'+5" :Title="this.$t('warning.warning')" :submit="deleteSup" :inputs="[]" :variant="'info'" :btext="this.$t('general.yes')" :message="warningDelete" :closebutton="this.$t('general.no')"/>                      
                                   
    </b-tab>
     
</template>

<script>
import Modal from '../Subcomponents/Modal'
import api from '../../api/api'
import context from '../../utilities/ContextNotifications'
export default {
    props:[    
        'cproject'
    ]
    ,components:{
        Modal
    },
    data(){
        return{
            supplies: [],
            inputs: [{id: 1,label:this.$t('management.consprop.name'),type: 'text',placeholder:'',model:'', rules: 'required'},
                    {id: 2,label:this.$t('management.consprop.cost'),type: 'text',placeholder:'',model:'', rules: 'required|min_value:0'}],
            inputs2: [{id: 1,label:this.$t('management.consprop.name'),type: 'text',placeholder:'',model:'', rules: 'required'},
                    {id: 2,label:this.$t('management.consprop.cost'),type: 'text',placeholder:'',model:'', rules: 'required|min_value:0'}],
            fields: [
                    {
                        key: 'nombre',
                        label: this.$t('management.consprop.name')
                    },
                    {
                        key: 'costo',
                        label: this.$t('management.consprop.cost')
                    }],
            show: false,
            showOverlay: false,
            deleteid: -1,
            warningDelete: this.$t('warning.warningDel')    
        }   

    },
    async created(){
        await this.load();
        if(this.$store.getters.user.tipousuario ==4){
            this.show = false;
        } 
        else{
            this.show=true;
        }
    },
    methods:{
        openWarning(id){
            this.deleteid=id;
            this.$bvModal.show('modal-sp5');
        },
        async load(){
            this.showOverlay=true;
            await this.getSupplies(this.$store.getters.token);
            this.showOverlay=false;
        },
        preedit(id){
            var ing=this.supplies.find(sup => sup.id ==  id);
            this.inputs[0].model=ing.nombre;
            this.inputs[1].model=ing.costo;
            this.$store.commit("setUseful",id);
            this.$bvModal.show('modal-sp2');
        },
        async getSupplies(itoken){
            const token= 'Bearer '+itoken
            const url='/consumables/fromProject/'+this.cproject.id;
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                    return await api.get(url,headers).then((response) => 
                    {
                        this.supplies=response.data;
                    })
                    .catch((error) => {      
                        /* eslint-disable no-unused-vars */
                        this.supplies=[];
                        const mute = error;
                        context.warning(this.$t('management.cons'), error);
                        /* eslint-enable no-unused-vars */
                     });

         },
         async addSupply(itoken, pid,name, cost ){
            const token= 'Bearer '+itoken
            const url='/consumables';
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                    return await api.post(
                        url,
                        {
                            nombre: name,
                            costo: cost,
                            idProyecto: pid
                        },
                        headers).then((response) => 
                    {
                        context.success(this.$t('general.success'), this.$t('management.noti.addedCons'));
                        return response
                     },(error) => {
                    console.log(error);
                     });
         },
         async editSupply(itoken, pid,name, cost,id){
            const token= 'Bearer '+itoken
            const url='/consumables/'+id;
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                    return await api.put(
                        url,
                        {
                            nombre: name,
                            costo: cost,
                            idProyecto: pid
                        },
                        headers).then((response) => 
                    {
                        context.success(this.$t('general.success'), this.$t('management.noti.editedCons'));
                        return response
                     },(error) => {
                    console.log(error);
                     });
         },
         async deleteSup(){
            const response = await this.delSupply(this.$store.getters.token, this.deleteid);
            console.log(response);
            await this.load();
        },
         async delSupply(itoken, id){
            const token= 'Bearer '+itoken
            const url='/consumables/'+id;
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                    return await api.delete(
                        url,headers).then((response) => 
                    {
                        context.success(this.$t('general.success'),  this.$t('management.noti.deletedCons'));
                        return response
                     },(error) => {
                    console.log(error);
                     });
         },
         async editSupp(inputs){
            const id=this.$store.getters.useful;
            console.log(id);
            const response = await this.editSupply(this.$store.getters.token, this.cproject.id,inputs[0], inputs[1],id);
            console.log(response);
            this.$bvModal.hide('modal-sp2');
            await this.load();
        },
        async submitSupp(inputs){
            console.log(inputs);
            const response = await this.addSupply(this.$store.getters.token, this.cproject.id,inputs[0], inputs[1]);
            console.log(response);
            this.$bvModal.hide('modal-s1');
            await this.load();
        }
    }
 
}
</script>