<template>
    <b-tab :title="$t('management.supp')" v-on:click="load()">
        <template>
            <b-overlay :show="showOverlay" rounded="sm">
            <div role="tablist">
                <b-button v-if="cproject.archivado==false && show == true" block variant="info" class="mb-1" v-b-modal.modal-s1><i class="fas fa-plus"></i></b-button>
                <hr>
                <b-button block variant="light" class="mb-1" v-if="suppliers.length ==0">{{$t('management.supprop.nosupp')}}</b-button>
                <b-card no-body class="mb-1" v-for="sup in suppliers" v-bind:item="sup" :key="sup.id">
                    <b-card-header header-tag="header" class="p-1" role="tab">
                        <div class="flexs frow">
                                <b-button block href="#" v-b-toggle="'accordion-'+sup.id" variant="light">
                                    {{sup.nombre}}
                                </b-button>
                                <b-button v-if="cproject.archivado==false && show == true" variant="warning" class=" ml-3" v-on:click="preedit(sup.id)">{{$t('general.edit')}}</b-button>   
                                <b-button v-if="cproject.archivado==false && show == true" variant="danger" v-on:click="openWarning(sup.id)" class="ml-3">{{$t('general.delete')}}</b-button> 
                        </div>
                    </b-card-header>
                <b-collapse :id="'accordion-'+sup.id"  accordion="my-accordion" role="tabpanel">
                    <b-card-body>
                        <b-table striped hover v-bind:items="[suppliers.find(supp => supp.id === sup.id)]" :fields="fields"></b-table>
                    </b-card-body>
                </b-collapse>
                </b-card>
                </div>
                </b-overlay>
            </template>
            <Modal  :id="'s'+1" :Title="this.$t('management.supprop.news')" :submit="submitSupp" :inputs="inputs2" :variant="'info'" :btext="this.$t('general.add')" :closebutton="this.$t('general.close')"/>   
            <Modal  :id="'s'+2" :Title="this.$t('management.supprop.edits')" :submit="editSupp" :inputs="inputs" :variant="'info'" :btext="this.$t('general.save2')" :closebutton="this.$t('general.close')"/>
            <Modal  :id="'s'+5" :Title="this.$t('warning.warning')" :submit="deleteSup" :inputs="[]" :variant="'info'" :btext="this.$t('general.yes')" :message="warningDelete" :closebutton="this.$t('general.no')"/>                      

    </b-tab>
    
</template>

<script>
import Modal from '../Subcomponents/Modal'
import api from '../../api/api'
import context from '../../utilities/ContextNotifications'
export default {///Checar problemas de post con alger, no se puede agregar 
    props:[
        'cproject'
    ],
    components:{
        Modal
    },
    data(){
        return{
                inputs: [{id: 1,label:this.$t('management.supprop.name'),type: 'text',placeholder:'',model:'', rules: 'required'},
                        {id: 2,label:this.$t('management.supprop.addr'),type: 'text',placeholder:'',model:'', rules: 'required'},
                        {id: 3,label:this.$t('management.supprop.phone'),type: 'text',placeholder:'',model:'', rules: 'required|integer'}],
                inputs2: [{id: 1,label:this.$t('management.supprop.name'),type: 'text',placeholder:'',model:'', rules: 'required'},
                        {id: 2,label:this.$t('management.supprop.addr'),type: 'text',placeholder:'',model:'', rules: 'required'},
                        {id: 3,label:this.$t('management.supprop.phone'),type: 'text',placeholder:'',model:'', rules: 'required|integer'}],
                fields: [
                        {
                            key: 'nombre',
                            label: this.$t('management.supprop.name')
                        },
                        {
                            key: 'domicilio',
                            label: this.$t('management.supprop.addr')
                        },
                        {
                            key: 'telefono',
                            label: this.$t('management.supprop.phone')
                        }],
                suppliers: [],
                show: false,
                showOverlay: false,
                deleteid: -1,
                warningDelete: this.$t('warning.warningDel')
        }
    },
    async created(){
        await this.load();
        if(this.$store.getters.user.tipousuario ==4){
            this.show = false;
        } 
        else{
            this.show=true;
        }
    },
    methods:{
        openWarning(id){
            this.deleteid=id;
            this.$bvModal.show('modal-s5');
        },
        async load(){
            this.showOverlay=true;
            await this.getProjectSuppliers(this.$store.getters.token,this.cproject.id); 
            this.showOverlay=false;
        },
        preedit(id){
            var sup=this.suppliers.find(sup => sup.id ==  id);
                this.inputs[0].model=sup.nombre;
                this.inputs[1].model=sup.domicilio;
                this.inputs[2].model=sup.telefono;

            console.log(id);
            this.$store.commit("setUseful",id);
            this.$bvModal.show('modal-s2');
        },
        async getProjectSuppliers(itoken,pid){
            const token= 'Bearer '+itoken
            const url='/suppliers/fromProject/'+pid;
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                    return await api.get(url,headers).then((response) => 
                    {
                        this.suppliers=response.data;
                     },(error) => {
                        this.suppliers=[];
                        context.warning(this.$t('management.supp'), error);
                     });
        },
        async addSupplier(itoken, pid,name, address, phone ){
            const token= 'Bearer '+itoken
            const url='/suppliers';
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                    return await api.post(
                        url,
                        {
                            nombre: name,
                            domicilio: address,
                            telefono: phone,
                            idProyecto: pid
                        },
                        headers).then((response) => 
                    {
                        context.success(this.$t('general.success'), this.$t('management.noti.addedSup'));
                        return response
                     },(error) => {
                    console.log(error);
                     });
         },
         async editSupplier(itoken, pid,name, address, phone,id){
            const token= 'Bearer '+itoken
            const url='/suppliers/'+id;
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                    return await api.put(
                        url,
                        {
                            nombre: name,
                            domicilio: address,
                            telefono: phone,
                            idProyecto: pid
                        },
                        headers).then((response) => 
                    {
                        context.success(this.$t('general.success'), this.$t('management.noti.editedSup'));
                        return response
                     },(error) => {
                    console.log(error);
                     });
         },
         async deleteSup(){
            const response = await this.delSupplier(this.$store.getters.token, this.deleteid);
            console.log(response);
            //this.$bvModal.hide('modal-1');
            await this.load();
        },
         async delSupplier(itoken, id){
            const token= 'Bearer '+itoken
            const url='/suppliers/'+id;
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                    return await api.delete(
                        url,headers).then((response) => 
                    {
                        context.success(this.$t('general.success'), this.$t('management.noti.deletedSup'));
                        return response
                     },(error) => {
                    console.log(error);
                     });
         },
         async editSupp(inputs){
            const id=this.$store.getters.useful;
            console.log(id);
            const response = await this.editSupplier(this.$store.getters.token, this.cproject.id,inputs[0], inputs[1], inputs[2],id);
            console.log(response);
            this.$bvModal.hide('modal-s2');
            await this.load();
        },
        async submitSupp(inputs){
            console.log(inputs);
            const response = await this.addSupplier(this.$store.getters.token, this.cproject.id,inputs[0], inputs[1], inputs[2]);
            console.log(response);
            this.$bvModal.hide('modal-s1');
            await this.load();
        }
    }      
}
</script>