<template>
<!-- 
    Este componente ha sido descontinuado, en proximas actualizaciones sera eliminado del sistema,
    favor de no utilizarlo de ahora en adelante, gracias.
-->
   <b-form  label-for="tag-search-input"  >
       <b-form-group class="flexs frow" :label="label">
                    <b-form-input
                    v-model="search"
                    id="tag-search-input"
                    list="input-list"
                    autocomplete="off"
                    :placeholder="placeholder"
                    > </b-form-input>
                <b-form-datalist id="input-list" >
                    <option v-for="option in availableOptions" v-bind:item="option" :key="option.id">{{ option.nombre }}</option>
                </b-form-datalist>
       </b-form-group>
       <div class="flexs frow alignend">
            <b-button variant="secondary" class="ml-1" v-on:click="close();">Cancel</b-button>
            <b-button variant="outline-info" class="ml-1" :disabled="disabled" v-on:click="add();">Add</b-button>
       </div>
    </b-form>
</template>

<script>
export default {
    props:  [
        'placeholder','data', 'label', 'modalid', 'selected'
    ],
    data(){
        return{
            search:'',
            newdata: [],
            disabled: false
        }
    },
    created(){
        if(this.selected.length >0){
            for(var i=0;i<this.selected.length ;i++){
                for(var j=0;j<this.data.length;j++){
                    if(this.data[j].id == this.selected[i].idInsumo){
                        this.data.splice(j, 1); 
                    }
                }
            }
            this.newdata=this.data;
        }
        else{
            this.newdata =this.data;
        }
    },
    methods:{
        close(){
            this.$bvModal.hide('modal-'+this.modalid);
            this.$bvModal.show('modal-sc'+3);
        },
        add() {  
            this.disabled=true; 
            var nmember=this.searchOption();
            if(nmember !=undefined){
                this.$emit('changesMade',nmember[0].id);
                this.search = ''; 
            }
            this.disabled=false; 
      },
        searchOption: function() {
                return this.newdata.filter(dat => {
                    return dat.nombre.toLowerCase().includes(this.search.toLowerCase())});  
        }
    },
    computed: {
        availableOptions: function() {
                return this.newdata.filter(dat => {
                    return dat.nombre.toLowerCase().includes(this.search.toLowerCase())});
        }
    },

}
</script>

