<template>
    <b-container fluid  class="flexs fcolumn  p-0 m-0 abs maxHeight fondo1" >
        <Menu/>
            <b-container id="cnt" class="flexs fcolumn stretch maxHeight">
                <div>
                    <b-img center  fluid v-bind="mainProps"  rounded src='../assets/GProGLogo.png' ></b-img>
                    <h2 class="text-center">About GProG</h2>
                    <hr>
                    <b-container class=" flexs centerr wrapp">
                        <div>
                            GProG is a web app developed by students from TECNM campus Culiacan designed specifically to be used by 'Consultoria SM'. It was concieved as a 
                            project for the last 2 subjects of the university degree. The main purpose of the web app is to facilitate and streamline the processes within the company, to help 
                            increase work efficiency and decrease the time needed to get a new team member in SM up and running.
                            <hr>
                            The GProG project was developed within a 4 month span with active feedback from SM.
                        </div>
                    </b-container> 
                </div>

                <div>
                    <h2 class="text-center">Team members</h2>
                    <hr>
                    <b-container class=" flexs centerr wrapp">
                        <div v-for="dude in teammembers" v-bind:item="dude" :key="dude.id" class="m-3">
                            <b-card no-body  class="border-0 sizeT shadow"  tag="article"  >
                                <b-card-body>
                                    
                                    <b-card-title>{{dude.nombre}}</b-card-title>
                                    <b-card-text>
                                        <div class="pb-2  maxxx">
                                            {{dude.rol}}
                                        </div>
                                    </b-card-text>
                                </b-card-body>
                            </b-card>
                        </div>
                    </b-container>
                </div>
                <div>
                    <h2 class="text-center">Technologies</h2>
                    <hr>
                    <b-container class=" flexs centerr wrapp">
                        <div>
                            VueJS, JavaScript, HTML, CSS, Bootstrap Vue, .NET core, MongoDB, JSPdf, SignalR, Docker, GitLab, Nginx etc...
                        </div>
                    </b-container> 
                </div>
            </b-container>      
    </b-container> 
</template>

<script>
import Menu from "./Subcomponents/Menu"
export default {
    data(){
        return{
                teammembers: [ {id: 1, nombre: 'Angel Martin Gomez Beltran', rol: 'Lead Front-End Developer & Designer'},
                                {id: 2, nombre: 'Alger Ivan Zamudio Montanio', rol: 'Lead Back-End Developer & Server Genius'},
                                {id: 3, nombre: 'Cesar Eduardo Ponce Lopez', rol: 'Mobile Developer'},
                                //{id: 4, nombre: 'Diego Armando Mendez Niebla', rol: 'Designed 3 components pretty badly but functional'},
                                // {id: 5, nombre: 'Jesus Alfredo Silvas Zamudio ', rol: 'Documentation'},
                                // {id: 6, nombre: 'Jose Alfredo', rol: 'Did nothing'}
                                ],
                mainProps: { width: 100, height: 100,  },
        }
    },
    components:{
        Menu,

    },
    methods:{

    },


}
</script>

<style scoped>
.sizeT{
    width: 18rem; 
    height: 18rem;
}
.wrapp{
        flex-wrap: wrap;
}
</style>
