<template>
    <b-container fluid   class="flexs fcolumn  p-0 m-0 abs maxHeight fondo1">
        <Menu/>
        <b-container  class="flexs frow stretch maxHeight ">
            <b-container   class="flexs frow stretch  p-0 m-0">
                <NewSideMenu v-bind:options="options" :title="$t('menu.profile')"/>
                 <AccPrefCont />
            </b-container>
        </b-container>
    </b-container>

</template>

<script>
import Menu from './Subcomponents/Menu'
import NewSideMenu from './Subcomponents/NewSideMenu'
import AccPrefCont from './Subcomponents/AccPrefCont'

export default {
    components: { Menu, NewSideMenu, AccPrefCont}
    ,
    data(){
        return{
            options: this.$store.getters.actsideA,

    
        }
    },
}
</script>

