<template>
    <b-container fluid   class="flexs fcolumn  p-0 m-0 abs maxHeight fondo1">
        <Menu/>
        <b-container  class="flexs frow stretch maxHeight ">
            <b-container   class="flexs frow stretch  p-0 m-0">
                <NewSideMenu v-bind:options="options" :title="$t('menu.profile')"/>
                <AccStatscont/>
            </b-container>
        </b-container>
    </b-container>
</template>


<script>
import Menu from './Subcomponents/Menu'
import NewSideMenu from './Subcomponents/NewSideMenu'
import AccStatscont from './Subcomponents/AccStatsCont'


export default {
    components: { Menu, NewSideMenu, AccStatscont
    },
    data(){
        return{
            options: this.$store.getters.actsideA,
            
        }
    },
    
    
}
</script>