<template>
    <b-container fluid  class="flexs fcolumn  p-0 m-0 abs maxHeight fondo1">
        <Menu/>
        <b-container id="cnt" class="flexs fcolumn stretch maxHeight">
                <h2 class="text-center border-bottom">{{$t('projects.title2')}}</h2>
                <Search :placeholder="$t('projects.placeholder')" :data="projects" v-on:changeList="changeList($event)" :searchtype="1"></Search>
<b-overlay :show="showOverlay" rounded="lg">   
                <Projectpv :projects="filteredproy"/>
 </b-overlay>
        </b-container>
                       
    </b-container> 
 
</template>

<script>
/**esta seria la pantalla que muestra los proyectos, cuenta con varios
componentes, como el menu y los proyectos que se van a mostrar
**/
import Menu from "./Subcomponents/Menu"
import Projectpv from "./Subcomponents/ProjectPv"
import Search from './Subcomponents/Search'
import { mapGetters } from 'vuex'
//import Velocity from 'velocity-animate'
import api from '../api/api'
export default {
    data(){
        return{
            teammembers: [],
            projects:  [],
            inputs: [{id: 1,label:'Project Name',type: 'text',placeholder:'',model:''},
                    {id: 2,label:'Description',type: 'text',placeholder:'',model:''},
                    {id: 3,label:'Time',type: 'text',placeholder:'',model:''}
            ],
            buttons:[{id:1,variant:'info',text:'Add'},{id:2,variant:'secondary',text:'close'}],
            text:'',
            filteredproy: [],
            userid: '',
            notitext: 'this is a notification',
            showOverlay: false
         
        }
    },
    components:{
        Menu,
        Projectpv,
        Search
    },
     async mounted(){
        console.log("Mounted");
        this.userid=this.$store.getters.user.id;
        console.log(this.userid);
        await this.load();
    },
    methods:{
        ...mapGetters([
      'user',
        ]),
        addnoti(){
            this.$store.commit('addNoti',this.notitext);
        },
        async load(){
            this.showOverlay=true;
            if(this.$store.getters.user.tipousuario < 3){
                await this.getProjectsA(this.$store.getters.token);
            }
            else{
                await this.getProjects(this.$store.getters.token,this.userid);
            }
             this.showOverlay=false;
            
        },
        async submit(inputs){
            var response = await this.addProject(inputs[0],inputs[1],inputs[2],this.$store.getters.token);
            console.log(response.data);
            var proj=response.data;
            response = await this.adduser(proj.id,this.userid,this.$store.getters.token);
            console.log(response.data);
            this.$bvModal.hide('modal-1');
            await this.getProjects(this.$store.getters.token,this.userid);
            this.$store.commit('setCurrProject',proj);
            this.$router.push({ name: 'projectsettings', params: { lang: this.$i18n.locale }})
        },
        async addProject  (name,description,time,itoken) {
            const token= 'Bearer '+itoken
            const url='/projects';
                        const headers={'headers':
                                    {
                                        'Content-Type': 'application/json',
                                        'Authorization': token
                                        
                                    }};
            return await api.post(url,
                {
                    nombre: name,
                    duracion: time,
                    descripcion: description
                },headers).then((response) => {return response}, (error) => {
                    console.log(error);
                });
         },
        async adduser(proyid,users,itoken){
            const token= 'Bearer '+itoken
            const url='/projects/userToProject';
                        const headers={'headers':
                                    {
                                        'Content-Type': 'application/json',
                                        'Authorization': token
                                        
                                    }};
            return await api.post(url,
                {
                    idProyecto: proyid,
                    usuarios: [users]
                },headers).then((response) => {return response}, (error) => {
                    console.log(error);
                });
        },
        async getProjects  (itoken,userid){
            console.log(userid);
            const token= 'Bearer '+itoken
            const url='/projects/getArchivedProjectsOfUser/'+userid;
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                     await api.get(url,headers).then( (response) => 
                    {
                        this.projects= response.data;
                        this.filteredproy=response.data; 
                     }, (error) =>{
                            console.log('abajo error:')
                            console.log(error.response.data);
                            console.log(error.response.status);
                            console.log(error.response.headers);
                            this.projects= [];
                            this.filteredproy=[]; 
                            this.notify('Error: '+error.response.status,'couldnt find any projects :c');
                     });
          },
        async getProjectsA (itoken){
            const token= 'Bearer '+itoken
            const url='/projects/getAllArchivedProjects';
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                     await api.get(url,headers).then( (response) => 
                    {
                        this.projects= response.data;
                        this.filteredproy=response.data; 
                     }, (error) =>{
                            console.log('abajo error:')
                            console.log(error.response.data);
                            console.log(error.response.status);
                            console.log(error.response.headers);
                            this.projects= [];
                            this.filteredproy=[]; 
                            this.notify('Error: '+error.response.status,'couldnt find any projects :c');
                     });
          },
         showprojects(response){
            var resp;
            for(resp of response.data){
                this.projects.push(resp);
                console.log(resp);
            }
        },
        changeList: function(update){
            this.filteredproy=update;
        },
        notify(title,text){
                this.$notify({
                    group: 'foo',
                    title: title,
                    text: text,
                    type: 'error'
            });
        }
    },


}
</script>

<style>

h2{
    padding: 1%;

}
.round{
    border-radius: 50%;
    padding-left: 20px;
    padding-right: 20px;
}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;

}
</style>