<template>
    <b-container fluid   class="flexs fcolumn  p-0 m-0 abs maxHeight fondo1">
        <Menu class=""/>
        <b-container  class="flexs frow stretch maxHeight ">
            <b-container   class="flexs frow stretch  p-0 m-0">
                <NewSideMenu :options="options" :title="proyname"/>
                <b-container   class="flexs fcolumn stretch    p-0 m-0">
                    <Modal  :id="1" :Title="this.$t('warning.warning')" :submit="getOut" :inputs="[]" :variant="'info'" :btext="$t('general.fine')" :message="message" :esc="true" :backdrop="true" :hideclose="true"/> 
                    <b-container>
                        <div id="row" class="border-bottom mb-3 "> <!-- renglon del titulo de la pantalla -->
                            <div id="left" class="text-left" >
                                <b-button variant="transparent" style="color: black;" v-on:click="open()" >
                                    <i class="fas fa-angle-left fa-2x"></i>                    
                                </b-button>                
                            </div>  
                            <div style="white-space: nowrap;">
                                <h2>{{$t('tools.balance')}}</h2> 
                            </div>
                              
                        </div>
                        <div v-if="ready">
                        <div class="flexs frow">
                            <b-card no-body class="blockk border-1 p-0 mb-3 mt-3 mr-1 shadow" header-tag="header">
                                <template v-slot:header >
                                    <b-card-title class="text-center">{{$t('tools.balanceprops.tab1.title')}}</b-card-title>
                                </template>
                                <b-card-body >
                                    <b-table outlined hover :items="tab1show" :fields="fields1"></b-table>
                                </b-card-body>
                            </b-card>
                            <b-card no-body class="blockk border-1 p-0 mb-3 mt-3 ml-1 shadow" header-tag="header">
                                <template v-slot:header>
                                    <b-card-title class="text-center">{{$t('tools.balanceprops.tab2.title')}}</b-card-title>
                                </template>
                                <b-card-body>
                                    <b-table outlined hover :items="tab2show" :fields="fields2"></b-table>
                                </b-card-body>
                            </b-card>
                        </div>

                        <b-card no-body style="block" class="border-1 p-0 mb-3 mt-3 shadow" header-tag="header">
                            <template v-slot:header>
                                <b-card-title class="text-center">{{$t('tools.balanceprops.tab3.title')}}</b-card-title>
                            </template>
                            <b-card-body>
                                <b-table outlined hover :items="tab3show" :fields="fields3">
                                </b-table>
                            </b-card-body>
                        </b-card>
                        <div class="flexs centerr">
                            <b-card no-body  class="dynamic border-1 p-0 mb-5 mt-3 shadow sizeChart" header-tag="header">
                                <template v-slot:header>
                                    <b-card-title class="text-center">{{$t('tools.balanceprops.graph.title')}}</b-card-title>
                                </template>
                                <b-card-body v-if="ready">
                                    <ScatterChart :data="datasets"/>
                                </b-card-body>
                            </b-card>
                        </div>         
                        </div>
                        
                    </b-container>
                </b-container>
            </b-container>
        </b-container>
    </b-container>
</template>

<script>
import Menu from  "./Subcomponents/Menu"
import Modal from './Subcomponents/Modal'
//import SideMenu from  "./Subcomponents/SideMenu"
import api from '../api/api'
import ScatterChart from './Subcomponents/ScatterChart'
import NewSideMenu from "./Subcomponents/NewSideMenu"
export default {
    components:{
        Menu,ScatterChart,Modal,NewSideMenu
    },
    data(){
        return{
            message: this.$t('warning.progresswarning'),
            cproject: this.$store.getters.currentProject,
            proyname: this.$store.getters.currentProject.nombre,
            options: this.$store.getters.actsideP,
            tab1: [],
            tab1show: [],
            fields1:[{key: 'name',label: this.$t('tools.balanceprops.tab1.spend')},{key: 'quantity',label: this.$t('tools.balanceprops.tab1.quant')}],
            fields2:[{key: 'name',label: this.$t('tools.balanceprops.tab2.conc')},{key: 'quantity',label: this.$t('tools.balanceprops.tab2.base')}],
            fields3: [{key: '5',thStyle: {display: 'none'}},{key: '0',thStyle: {display: 'none'}},{key: '1',thStyle: {display: 'none'}},
                    {key: '2',thStyle: {display: 'none'}},{key: '3',thStyle: {display: 'none'}},{key: '4',thStyle: {display: 'none'}}],
            tab2: [],
            tab2show: [],
            tab3: [],
            tab3show: [],
            resp: [],
            datasets: [],
            ready: false,
            error: false,
        }
    },
    async created(){
        await this.load();
    },
    methods:{
        open(){
            this.$router.push({ name: 'projecttools', params: { lang: this.$i18n.locale }});
        },
        async load(){
            await this.getTabs(this.$store.getters.token, this.cproject.id);
            if(this.error ==false){
                this.tab1show.push({id:1,quantity: this.tab1.ingresoVenta, name: this.$t('tools.balanceprops.tab1.sale')});
                this.tab1show.push({id:2,quantity: this.tab1.costosFijos, name: this.$t('tools.balanceprops.tab1.fcost')});
                this.tab1show.push({id:3,quantity: this.tab1.costosVariables,name: this.$t('tools.balanceprops.tab1.vcost') });
                this.tab1show.push({id:4,quantity: this.tab1.utilidadNeta , name: this.$t('tools.balanceprops.tab1.netprof')});

                this.tab2show.push({id:1,quantity: this.tab2.ticketPromedio, name: this.$t('tools.balanceprops.tab2.tprom')});
                this.tab2show.push({id:2,quantity: this.tab2.costoVariable,name: this.$t('tools.balanceprops.tab2.vcost') });
                this.tab2show.push({id:3,quantity: this.tab2.utilidadBruta, name: this.$t('tools.balanceprops.tab2.butil')});
                this.tab2show.push({id:4,quantity: this.tab2.costosFijos , name: this.$t('tools.balanceprops.tab2.fcost')});
                this.tab2show.push({id:5,quantity: this.tab2.unidadesRequeridas , name: this.$t('tools.balanceprops.tab2.runits')});
                this.tab2show.push({id:6,quantity: this.tab2.ingresoUnidades , name: this.$t('tools.balanceprops.tab2.ingunit')});
                this.transformData();
                this.transformTable();
                this.ready=true;
            }


        },
        transformTable(){
            this.datasets.push(this.tab3.precioVenta);
            this.datasets.push(this.tab3.unidades);
            this.datasets.push(this.tab3.ingresoTotal);
            this.datasets.push(this.tab3.costosFijos);
            this.datasets.push(this.tab3.costoVariableUnitario);
            this.datasets.push(this.tab3.costoVariableTotal);    
            this.datasets.push(this.tab3.costoTotal);
            this.datasets.push(this.tab3.utilidadNeta);
            
        },
        transformData(){
            var transform=JSON.parse(JSON.stringify(this.tab3));
            for(var i=0;i<5;i++){
                transform.costoTotal[i]=(Math.round(transform.costoTotal[i] * 100) / 100).toFixed(2);
                transform.costoVariableTotal[i]=(Math.round(transform.costoVariableTotal[i] * 100) / 100).toFixed(2);
                transform.costosFijos[i]=(Math.round(transform.costosFijos[i] * 100) / 100).toFixed(2);
                transform.ingresoTotal[i]=(Math.round(transform.ingresoTotal[i] * 100) / 100).toFixed(2);
                transform.precioVenta[i]=(Math.round(transform.precioVenta[i] * 100) / 100).toFixed(2);
                transform.unidades[i]=(Math.round(transform.unidades[i] * 100) / 100).toFixed(2);
                transform.utilidadNeta[i]=(Math.round(transform.utilidadNeta[i] * 100) / 100).toFixed(2);
                transform.costoVariableUnitario[i]=(Math.round(transform.costoVariableUnitario[i] * 100) / 100).toFixed(2);
            }
            transform.costoTotal.push(this.$t('tools.balanceprops.tab3.tcost'));
            transform.costoVariableTotal.push(this.$t('tools.balanceprops.tab3.vtcost'));
            transform.costosFijos.push(this.$t('tools.balanceprops.tab3.fcost'));
            transform.ingresoTotal.push(this.$t('tools.balanceprops.tab3.ting'));
            transform.precioVenta.push(this.$t('tools.balanceprops.tab3.sprice'));
            transform.unidades.push(this.$t('tools.balanceprops.tab3.units'));
            transform.utilidadNeta.push(this.$t('tools.balanceprops.tab3.netgain'));
            transform.costoVariableUnitario.push(this.$t('tools.balanceprops.tab3.vucost'));
            this.tab3show.push(Object.assign({}, transform.precioVenta));
            this.tab3show.push(Object.assign({}, transform.unidades));
            this.tab3show.push(Object.assign({}, transform.ingresoTotal));
            this.tab3show.push(Object.assign({}, transform.costosFijos));
            this.tab3show.push(Object.assign({}, transform.costoVariableUnitario));
            this.tab3show.push(Object.assign({}, transform.costoVariableTotal));
            this.tab3show.push(Object.assign({}, transform.costoTotal));
            this.tab3show.push(Object.assign({}, transform.utilidadNeta));
        },
        async getTabs  (itoken,pid){
            const token= 'Bearer '+itoken
            //const url='/projects/projectsByUser/'+pid;
            const url='/projects/getBalancePoint/'+pid;
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                     await api.get(url,headers).then( (response) => 
                    {
                        this.tab1=response.data.incomeDistributionTable;
                        this.tab2=response.data.meanCostTable;
                        this.tab3=response.data.balancePointTable;
                        console.log(response.data)
                     }, (error) =>{
                         if(error.response.status ==404) {
                             this.error=true;
                             this.$bvModal.show('modal-1');
                         }
                            console.log('abajo error:')
                            console.log(error.response.data);
                            console.log(error.response.status);
                            console.log(error.response.headers);
                     });
        },
        getOut(){
            this.$router.push({ name: 'projectview', params: { lang: this.$i18n.locale }});
        }    
    }
}
</script>

<style scoped>
#row {
  display: flex;                
  justify-content: center;      
  position: relative;           
}
#left {
  position: absolute;            
  left: 2%;                  
}
.dynamic{
  max-width: 50%;  
  display: flex;
  flex-grow: 10;
  flex-shrink: 3;
}
</style>