<template>
    <b-container fluid  class="p-0 m-0 abs maxHeight fondo1">
        <Menu/> 
            <b-container  class="flexs fcolumn stretch maxHeight ">
                <div id="row" class="border-bottom mb-3 pb-3"> <!-- renglon del titulo de la pantalla -->
                    <div id="left" class="text-left" >
                        <b-button variant="transparent" style="color: black;" v-on:click="open()" >
                            <i class="fas fa-angle-left fa-2x"></i>                    
                        </b-button>                
                    </div>  
                    <div id="right" class="text-center" style="white-space: nowrap;">
                        <h2>Categories</h2>
                    </div>      
                </div>

                <Search :placeholder="'Category'" :data="categories" v-on:changeList="changeList($event)" :searchtype="1"></Search>
                <b-overlay :show="showOverlay" rounded="sm">
                <b-card no-body class="border-1 p-0 mb-5 mt-3 shadow" header-tag="header" v-if="filteredcategories.length >0">
                    <b-card-body >
                        <b-list-group>    
                            <div v-for="cat in filteredcategories" v-bind:item="cat" :key="cat.id" class="m-1 flexs frow">
                                <b-list-group-item button >{{cat.nombre}}</b-list-group-item> 
                                <b-button variant="warning" class="ml-2" v-on:click="preedit(cat.id)">{{$t('general.edit')}}</b-button>
                                <b-button variant="danger" class="ml-2" v-on:click="openWarning(cat.id)">{{$t('general.delete')}}</b-button>
                            </div>
                        </b-list-group>
                    </b-card-body>
                </b-card>
                </b-overlay>
            </b-container>   
            <div class="float ">
                <b-button class="round shadow" variant="info" v-b-modal.modal-1><h1>+</h1></b-button>
            </div>
            <Modal  :id="1" :Title="'New category'" :submit="submit" :inputs="inputs2" :variant="'info'" :btext="this.$t('general.add')" :disabled="false" :closebutton="this.$t('general.close')"/> 
            <Modal  :id="2" :Title="'Edit category'" :submit="editCat" :inputs="inputs" :variant="'info'" :btext="this.$t('general.save1')" :disabled="false" :closebutton="this.$t('general.close')" /> 
            <Modal  :id="5" :Title="this.$t('warning.warning')" :submit="deletec" :inputs="[]" :variant="'info'" :btext="this.$t('general.yes')" :message="warningDelete" :closebutton="this.$t('general.no')"/>                      
                

   
        
    </b-container> 
</template>


<script>
import Modal from "./Subcomponents/Modal"
import Menu from "./Subcomponents/Menu"
import Search from './Subcomponents/Search'
import api from '../api/api'

export default {
    
     components:{
        Menu, Modal, Search
    },

    data() {
        return {
            categories:"",
            filteredcategories:"",
            name:"",
            inputs: [{id: 1,label:this.$t('manage.userprops.name'),type: 'text',placeholder:'',model:'', rules: 'required'}
                ],
            inputs2: [{id: 1,label:this.$t('manage.userprops.name'),type: 'text',placeholder:'',model:'', rules: 'required'},
                ],
            showOverlay: false, 
            deleteid: -1,
            warningDelete: this.$t('warning.warningDel')  
        }
    },
    async created(){
        console.log("Created");
        await this.loadData();
    },
    methods:{
        openWarning(id){
            this.deleteid=id;
            this.$bvModal.show('modal-5');
        },
         open(){
            this.$router.push({ name: 'systemoptions', params: { lang: this.$i18n.locale }});
        },
        async loadData(){
            this.showOverlay=true;
            const response= await this.loadcategories(this.$store.getters.token);
            this.categories= response.data;
            this.filteredcategories= response.data;
            this.showOverlay=false;
        },
        trash(){
            this.name='';
        },
        async editCat(inputs){
            const id=this.$store.getters.useful;
            console.log(id);
            const response = await this.editcategory(this.$store.getters.token, inputs[0], id);
            console.log(response);
            this.$bvModal.hide('modal-2');
            this.trash();
            await this.loadData();
        },
        preedit(id){
            var cat=this.categories.find(us => us.id ==  id);
                this.inputs[0].model=cat.nombre;

            this.$store.commit("setUseful",id);
            this.$bvModal.show('modal-2');
        },
        async editcategory(itoken,name,id){
            const token= 'Bearer '+itoken
            const url='/categories/'+id;
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                    return await api.put(
                        url,
                        {
                            nombre: name
                        },
                        headers).then((response) => 
                    {
                        return response
                     },(error) => {
                    console.log(error);
                     });
         },
        async submit(inputs){
            
            const response = await this.addcategory(this.$store.getters.token, inputs[0]);
            console.log(response);
            this.$bvModal.hide('modal-1');
            this.trash();
            await this.loadData();
        },
        async addcategory(itoken, name){
            const token= 'Bearer '+itoken
            const url='/categories';
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    return await api.post(
                        url,
                        {
                            nombre: name
                        },
                        headers).then((response) => 
                    {
                        return response
                     },(error) => {
                    console.log(error);
                     });
         },
        async deletec(){
            const response = await this.delcategory(this.$store.getters.token, this.deleteid);
            console.log(response); 
            await this.loadData();
           
        },
        async delcategory(itoken, id){
            const token= 'Bearer '+itoken
            const url='/categories/'+id;
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                    return await api.delete(
                        url,headers).then((response) => 
                    {
                        return response
                     },(error) => {
                    console.log(error);
                     });
         },
        async loadcategories(itoken){
            const token= 'Bearer '+itoken
            const url='/categories';
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                    return await api.get(url,headers).then((response) => 
                    {
                        return response
                     },(error) => {
                    console.log(error);
                     });
         },
        changeList: function(update){
            this.filteredcategories=update;
        },
    }   
}
</script>

<style scoped>
.centro{text-align: center;}
#row {
  display: flex;                
  justify-content: center;      
  position: relative;           
}
#left {
  position: absolute;            
  left: 2%;                     
}


h2{
    padding: 1%;

}
.round{
    border-radius: 50%;
    padding-left: 20px;
    padding-right: 20px;
}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;

}

</style>