<template>
    <div class="bkg p-0 m-0" >   
        <b-container class="cnt w-50 p-5 shadow border rounded ">
            <ValidationObserver ref="form"  v-slot="{ handleSubmit }">
                <b-form @submit.prevent="handleSubmit(validate)">
                    <h2>Login</h2>
                    <br>
                    <ValidationProvider name="E-mail"
                    rules="required|email" 
                    v-slot="validationContext">
                        <b-form-group id="input-group-1" label="Email" label-for="input-1">
                        <b-form-input 
                            id="input-1" 
                            name="input-1" 
                            type="email" 
                            placeholder="example@email.com" 
                            v-model="email" 
                            :state="getValidationState(validationContext)"
                            aria-describedby="input-1-live-feedback"></b-form-input>
                        <b-form-invalid-feedback id="input-1-live-feedback">{{ validationContext.errors[0] }}</b-form-invalid-feedback>
                    </b-form-group>
                    </ValidationProvider>

                    <ValidationProvider name="Password"
                                        rules="required" 
                                        v-slot="validationContext">
                        <b-form-group id="input-group-2" label="Password" 
                            label-for="input-2">
                            <b-form-input id="input-2" type="password" v-model="password"
                                :state="getValidationState(validationContext)"
                                aria-describedby="input-2-live-feedback"
                            ></b-form-input>
                            <b-form-invalid-feedback id="input-2-live-feedback">{{ validationContext.errors[0] }}</b-form-invalid-feedback>
                        </b-form-group>
                    </ValidationProvider>  
                    <div v-if="warning != null">
                        <span style="color: #dc3545;" ><i class="fas fa-exclamation-circle"></i> {{warning}} </span>
                    </div>    
                    <div class="text-center mt-2">
                            <b-button id="submit-button-1" type="submit" variant="info" >Log in</b-button>
                    </div>
                </b-form> 
            </ValidationObserver>  
            <Modal  :id="1" :Title="'Error'" :submit="close" :inputs="[]" :variant="'info'" :btext="'Ok'" :message="error"/>
        </b-container>      
    </div>
    
</template>

<script>
import api from '../api/api'
import Modal from './Subcomponents/Modal'
export default {
    components: {
        Modal
    },
    data(){
        return{
            email: "",
            password: "",
            error: '',
            proceed: false,
            form: {name: ''},
            warning:null,
        }
  },

    methods:{
        close(){
            this.$bvModal.hide('modal-1');
        },
        getValidationState({ dirty, validated, valid = null }) {
        return dirty || validated ? valid : null;
        },
        next(nombre) {
            document.getElementById(nombre).focus();
        },
         async login(email,pass) {
            console.log("autentificacion");
            //const url=base+'/login';
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',                
                    }};
            return await api.post('/login',{correo: email,password: pass},headers).
            then((response) => 
            {
                this.proceed=true;
                return response
            }, (error) => {
                this.error=error.response.data;
                this.proceed=false;
                this.warning="Verify your credentias";
                //this.$bvModal.show('modal-1');
                //console.log(error.response.data);
                //console.log(error.response.status);
                //console.log(error);
            });
         },
         //correo: 'angelmartin@yopmail.com',
          //          password: '12345'
        async validate(){
            const response = await this.login(this.email,this.password);
            //const response = await this.login('angelmartin@yopmail.com','12345');
            //const response = await this.login('gesys@gmail.com','abc1234');\
            if(this.proceed == true){
                console.log(response.data);
                this.saveUser(response);
                this.uptlogged(response);
                await this.loadModules();
                if(this.$store.getters.user.preferencias.idioma != undefined && this.$store.getters.user.preferencias.idioma != null){
                    this.$i18n.locale =this.$store.getters.user.preferencias.idioma;
                    this.$router.push({ name: 'projects', params: { lang: this.$i18n.locale }});
                }
                else{
                    this.$router.push({ name: 'projects', params: { lang: this.$i18n.locale }});
                }

            }
        },
        async loadModules(){
            await this.getUnits(this.$store.getters.token); //carga las unidades de medida
            await this.getRtypes(this.$store.getters.token); //carga las unidades de medida
            await this.notyPending(this.$store.getters.token,this.$store.getters.user.id); //carga las notificaciones pendientes  
        },
        async notyPending (itoken,idu) {
             console.log(idu);
             console.log(itoken);
            const token= 'Bearer '+itoken
            const url='/notifications/pendingNotifications/'+idu;
            const headers={'headers':
                        {
                            'Content-Type': 'application/json',
                            'Authorization': token
                            
                        }};
            return await api.get(url,headers).then((response) => { this.$store.commit("setNoti",response.data); }, 
            (error) => {
                console.log(error);
                    this.$store.commit("setNoti",[]);
                });
         },
        async getUnits(itoken){
            const token= 'Bearer '+itoken
            const url='/catalogs/allUnits';
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                    return await api.get(url,headers).then((response) => 
                    {
                        this.$store.commit('setUnits',response.data);
                     },(error) => {
                        console.log(error);
                     });
         },
          async getRtypes(itoken){
            const token= 'Bearer '+itoken
            const url='/catalogs/allTypes';
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                    return await api.get(url,headers).then((response) => 
                    {
                        this.$store.commit('setTypes',response.data);
                     },(error) => {
                        console.log(error);
                     });
         },
        choosepreset(){
            if(this.$store.getters.user.tipousuario ==4){
                this.$store.commit('setMenu',{id: 3, name: this.$t('menu.manage'), route: 'manage', active: false, disabled: true,icon:"fas fa-toolbox"});
                this.$store.commit('setSideP',{id: 7,name: this.$t('sidemenuProject.opt6'), route:'projectsettings',active: false, disabled: true,icon:"fas fa-sliders-h"});
            }
            else if(this.$store.getters.user.tipousuario ==3){
                this.$store.commit('setMenu',{id: 3, name: this.$t('menu.manage'), route: 'manage', active: false, disabled: true,icon:"fas fa-toolbox"});
                this.$store.commit('setSideP',{id: 7,name: this.$t('sidemenuProject.opt6'), route:'projectsettings',active: false, disabled: true,icon:"fas fa-sliders-h"});
            }
            else if(this.$store.getters.user.tipousuario ==2){
                this.$store.commit('setMenu',{id: 3, name: this.$t('menu.manage'), route: 'manage', active: false, disabled: true,icon:"fas fa-toolbox"});
            }

        },
        saveUser(response){
                this.$store.commit("setUser",response.data.user);        
        },
        uptlogged(response){  
            this.$store.commit("setLogged",true);     
            this.$store.commit("setToken",response.data.token);
        }

    }
}
</script>


<style>
.bkg {
  background-image: url('../assets/mf-blur.jpg'); 
  height: 100vh; 
  width:  100vw; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
    display: flex;
  justify-content: center;
  align-items: center;
}
.cnt {
  background-color: white;
  max-width: 350px;
  max-height: 400px;
  position: absolute;
}


</style>