<template>
    <b-container fluid   class="flexs fcolumn  p-0 m-0 abs maxHeight fondo1">
        <Menu/>
        <b-container  class="flexs fcolumn stretch maxHeight ">
            <div class="text-center border-bottom">
                <h2>{{$t('manage.title')}}</h2>
            </div> 
            <b-container fluid class="flexs frow stretch centerr maxHeight wrap p-0 m-0">

                <div class="m-3">
                    <b-button block class="shadow pt-4 pb-4 m-1 mb-2" type="reset" variant="info" size="lg" v-on:click="open('useroptions')">
                        <i class="fas fa-users fa-5x"></i><br>{{$t('manage.btnUser')}}
                    </b-button>
                </div>
                <div class="m-3">
                    <b-button block class="shadow pt-4 pb-4 m-1 mb-2" variant="info" size="lg"  v-on:click="open('systemoptions')">
                        <i class="fas fa-cogs fa-5x"></i><br>{{$t('manage.btnSystem')}}
                    </b-button>
                </div>
                <div class="m-3">
                    <b-button block class="shadow pt-4 pb-4 m-1 mb-2" variant="info" size="lg" v-on:click="open('projectoptions')">
                        <i class="fas fa-tasks fa-5x"></i><br>{{$t('manage.btnProject')}}
                    </b-button>
                </div>
            </b-container>
        </b-container>
    </b-container>
   

</template>

<script>
import Menu from "./Subcomponents/Menu"

export default {
    components:{
        Menu
    },
    beforeCreate(){

    },
    created(){
        console.log("Created");
    },
    beforeMount(){
        console.log("beforeMount");
    },
    mounted(){
        console.log("Mounted");
    },
    beforeUpdate(){
        console.log("beforeupdate");
    },
    updated(){
        console.log("updated");
    },
    beforeDestroy(){
        console.log("beforedestroy");
    },
    destroyed(){
        console.log("destroyed");
    },
    methods: {
        open(route){
            this.$router.push({ name: route, params: { lang: this.$i18n.locale }});
        }
    }
}
</script>

<style scoped>
.wrap{
  flex-wrap:  wrap ;
}

</style>