<template>
    <b-container fluid   class="flexs fcolumn  p-0 m-0 abs maxHeight fondo1">
        <Menu/>
        <b-container  class="flexs frow stretch maxHeight ">
            <b-container   class="flexs frow stretch  p-0 m-0">
                <Modal  :id="1" :Title="this.$t('warning.warning')" :submit="getOut" :inputs="[]" :variant="'info'" :btext="this.$t('general.fine')" :message="message" :esc="true" :backdrop="true" :hideclose="true"/> 
                <NewSideMenu v-bind:options="options" :title="proyname"/>
                <b-container   class="flexs fcolumn stretch   wrap p-0 m-0">
                    <b-container>
                        <div id="row" class="border-bottom mb-3 pb-3"> <!-- renglon del titulo de la pantalla -->
                            <div id="left" class="text-left" >
                                <b-button variant="transparent" style="color: black;" v-on:click="open()" >
                                    <i class="fas fa-angle-left fa-2x"></i>                    
                                </b-button>                
                            </div>  
                            <div id="right" class="text-center">
                                <h2>{{$t('tools.menu')}}</h2>
                            </div>      
                        </div>
                    <Modal  :id="2" :Title="this.$t('warning.warning')" :inputs="[]" :variant="'info'" :closebutton="'Ok'" :message="errorMessage" :esc="true" :backdrop="true" /> 
                    <!-- Inicia el maquetado del boton de ordenamiento -->
                    <div v-show="!alpha" class="float " >
                        <b-button class="round shadow " variant="info" v-on:click="changesorted">
                            <i class=" fas fa-sort-alpha-up fa-3x "></i>   
                        </b-button>
                    </div>
                    <div v-show="alpha" class="float " >
                        <b-button class="round shadow " variant="info" v-on:click="changesorted">
                            <i class=" fas fa-sort-alpha-down fa-3x "></i>   
                        </b-button>
                    </div>

                    <!-- Inicia el maquetado de las tablas -->
                         <b-overlay :show="showOverlay" rounded="sm">
                            <b-card no-body style="block" class="border-1 mb-2 shadow" header-tag="header">
                                <template v-slot:header >
                                    <b-card-title class="text-center">{{$t('content.recipes')}}</b-card-title>
                                </template>
                                <b-card-body>
                                    <b-table outlined hover :items="menuRecipes" :fields="fields">
                                            <template v-slot:cell(precio)="data">
                                                <b-form-input v-if="cproject.archivado==false" :disabled="diss"  v-model="data.item.precio" v-on:change="updateRow(data.item,0)" v-on:keyup.enter="updateRow(data.item,0)"></b-form-input>
                                                <b-form-input v-if="cproject.archivado==true"  v-model="data.item.precio" disabled></b-form-input>
                                            </template>
                                            <template v-slot:cell(porcentajeUtilidad)="data">
                                                <div v-if="data.item.porcentajeUtilidad <0" style="color: red;">
                                                        {{data.item.porcentajeUtilidad}} %
                                                </div>
                                                <div v-if="data.item.porcentajeUtilidad >0" style="color: green;">
                                                        {{data.item.porcentajeUtilidad}} %
                                                </div>
                                                <div v-if="data.item.porcentajeUtilidad ==0" style="color: black;">
                                                        {{data.item.porcentajeUtilidad}} %
                                                </div>
                                            </template>
                                    </b-table>
                                </b-card-body>
                            </b-card>
                            <b-card no-body style="block" class="border-1 mb-2 shadow" header-tag="header">
                                <template v-slot:header >
                                    <b-card-title class="text-center">{{$t('content.drinks')}}</b-card-title>
                                </template>
                                <b-card-body>
                                    <b-table outlined hover :items="menuDrinks" :fields="fields">
                                            <template v-slot:cell(precio)="data">
                                                <b-form-input v-if="cproject.archivado==false" :disabled="diss"  v-model="data.item.precio" v-on:change="updateRow(data.item,0)" v-on:keyup.enter="updateRow(data.item,0)"></b-form-input>
                                                <b-form-input v-if="cproject.archivado==true"  v-model="data.item.precio" disabled></b-form-input>
                                            </template>
                                            <template v-slot:cell(porcentajeUtilidad)="data">
                                                <div v-if="data.item.porcentajeUtilidad <0" style="color: red;">
                                                        {{data.item.porcentajeUtilidad}} %
                                                </div>
                                                <div v-if="data.item.porcentajeUtilidad >0" style="color: green;">
                                                        {{data.item.porcentajeUtilidad}} %
                                                </div>
                                                <div v-if="data.item.porcentajeUtilidad ==0" style="color: black;">
                                                        {{data.item.porcentajeUtilidad}} %
                                                </div>
                                            </template>
                                    </b-table>
                                </b-card-body>
                            </b-card>
                        </b-overlay>
                    </b-container>      
                </b-container>
            </b-container>
        </b-container>
    </b-container>
</template>

<script>
import Menu from  "./Subcomponents/Menu"
import NewSideMenu from  "./Subcomponents/NewSideMenu"
import menuSocket from'../WebSocket/Menu';
import Modal from './Subcomponents/Modal'
//const signalR = require('@aspnet/signalr');
const signalR = require('@aspnet/signalr');
import api from '../api/api'
export default {
    components:{
        Menu, NewSideMenu, Modal
    },
    data(){
        return{
            //Ordenamiento
            alpha: false,
            sortedMenu: [], 
            //el resto
            error: false,
            message: this.$t('warning.progresswarning'),
            messages: [],
            cproject: this.$store.getters.currentProject,
            proyname: this.$store.getters.currentProject.nombre,
            options: this.$store.getters.actsideP,
            connection: '',
            menu: [],
            items: [{id:1, age: 40, first_name: 'Dickerson', last_name: 'Macdonald' },
                    {id:2, age: 21, first_name: 'Larsen', last_name: 'Shaw'},
                    {id:3, age: 89, first_name: 'Geneva', last_name: 'Wilson'},
                    {id:4, age: 38, first_name: 'Jami', last_name: 'Carney' }],
            fields:
            [
                {
                    key: 'nombre',
                    label: this.$t('tools.menuprops.name')
                },
                {
                    key: 'precio',
                    label: this.$t('tools.menuprops.price')
                },
                {
                    key: 'costoVariable',
                    label: this.$t('tools.menuprops.vcost')
                },
                {
                    key: 'costoFijo',
                    label: this.$t('tools.menuprops.fcost')
                },
                {
                    key: 'costoTotal',
                    label: this.$t('tools.menuprops.tcost')
                },
                {
                    key: 'utilidad',
                    label: this.$t('tools.menuprops.util')
                },
                {
                    key: 'porcentajeUtilidad',
                    label: this.$t('tools.menuprops.putil')
                },
                ],
            diss:false,
            showOverlay: false,
            errorMessage: this.$t('tools.menuprops.onlynum')
        }
    },
    async created(){
        this.showOverlay=true;
        if(this.$store.getters.user.tipousuario ==4){
            this.diss=true;
        }
        else{
            this.diss=false;
        }
        await this.getMenu(this.$store.getters.token,this.cproject.id);
        var vt=this;
        menuSocket.on("UpdateMenu", async function(response, recipeformenu) {
            if(response==true){
                vt.changeRow(recipeformenu);
                console.log(vt.menu);
            }
            
        });
        this.sortedMenu=this.sortedMenuAscend;
        this.showOverlay=false;
        
    },
    computed:{
        menuRecipes(){
            return this.sortedMenu.filter(x => x.tipoReceta ==1);
        },
        menuDrinks(){
            return this.sortedMenu.filter(x => x.tipoReceta ==3);
        },
        sortedMenuAscend(){
            //var ing=JSON.parse(JSON.stringify(this.menu));
            var x=this.menu;
            return x.sort((a,b) => (a.nombre > b.nombre) ? 1 : ((b.nombre > a.nombre) ? -1 : 0)); 
        },
        sortedMenuDescend(){
            //var ing=JSON.parse(JSON.stringify(this.menu));
            var x=this.menu;
            return x.sort((a,b) => (a.nombre < b.nombre) ? 1 : ((b.nombre < a.nombre) ? -1 : 0)); 
        }
    },
    methods:{
        changesorted(){
            if(this.alpha){
                this.sortedMenu=this.sortedMenuAscend;
            }
            else{
                this.sortedMenu=this.sortedMenuDescend;
            }
            this.alpha=!this.alpha;   
        },
        open(){
            this.$router.push({ name: 'projecttools', params: { lang: this.$i18n.locale }});
        },
        getOut(){
            this.$router.push({ name: 'projectview', params: { lang: this.$i18n.locale }});
        },
        updateRow(recipe,cont){
            if( /^\d+$/.test(recipe.precio)){
                console.log("Es un numero");
                if(recipe.precio != ''){
                    if(menuSocket.connectionState == signalR.HubConnectionState.Connected){
                        menuSocket
                        .invoke("UpdateRecipe", recipe.idReceta, recipe.precio)
                        .catch(function(err) {
                        return console.error(err.toString());
                        });
                    }
                    else{
                        if(cont < 6){
                            this.startCon();
                            this.send(cont+1);
                            
                        }
                    }
                }
            }
            else{
                console.log("no es un numero");
                this.$bvModal.show('modal-2');
            }
        },
        startCon(){
            menuSocket.start().catch(function(err) {
            return console.error(err.toString());
            });
        },
        changeRow(recipe){
            console.log(recipe);
            for(var i=0;i<this.menu.length;i++){
                if(recipe.nombre == this.menu[i].nombre){
                    this.menu[i].idReceta =recipe.idReceta;
                    this.menu[i].nombre =recipe.nombre;
                    this.menu[i].costoVariable =recipe.costoVariable;
                    this.menu[i].precio =recipe.precio;
                    this.menu[i].costoFijo =recipe.costoFijo;
                    this.menu[i].costoTotal =recipe.costoTotal;
                    this.menu[i].utilidad =recipe.utilidad;
                    this.menu[i].porcentajeUtilidad =recipe.porcentajeUtilidad;
                    this.menu[i].tipoReceta=recipe.tipoReceta;
                }
            }

        },
        async getMenu  (itoken,pid){
            const token= 'Bearer '+itoken
            //const url='/projects/projectsByUser/'+pid;
            const url='/projects/getMenu/'+pid;
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                     await api.get(url,headers).then( (response) => 
                    {
                        this.menu=response.data;
                        console.log(this.menu)
                     }, (error) =>{
                        if(error.response.status ==404) {
                             this.error=true;
                             this.$bvModal.show('modal-1');
                         }
                            console.log('abajo error:')
                            console.log(error.response.data);
                            console.log(error.response.status);
                            console.log(error.response.headers);
                     });
        },
    }
}
</script>
<style scoped>
#row {
  display: flex;                
  justify-content: center;      
  position: relative;           
}
#left {
  position: absolute;            
  left: 2%;                     
}
</style>