<template>

    <b-container fluid  class="p-0 m-0 abs  maxHeight fondo1">
        <Menu/> 
            <b-container  class="flexs fcolumn stretch maxHeight ">
                <div id="row" class="border-bottom mb-3 pb-3"> <!-- renglon del titulo de la pantalla -->
                    <div id="left" class="text-left" >
                        <b-button variant="transparent" style="color: black;" v-on:click="open()" >
                            <i class="fas fa-angle-left fa-2x"></i>                    
                        </b-button>                
                    </div>  
                    <div id="right" class="text-center" style="white-space: nowrap;"> 
                        <h2>{{$t('manage.btnProject')}}</h2>
                    </div>      
                </div>
                <Search :placeholder="'Projects'" :data="projects" v-on:changeList="changeList($event)" :searchtype="1"></Search>
                <b-overlay :show="showOverlay" rounded="sm">
                <b-card no-body class="border-1 p-0 mb-5 mt-3 shadow" header-tag="header" v-if="filteredprojects.length >0">
                    <b-card-body >
                        <b-list-group>
                            <div v-for="project in filteredprojects" v-bind:item="project" :key="project.id" class="m-1 flexs frow">
                                <b-list-group-item button v-on:click="getproject(project)" >{{project.nombre}}</b-list-group-item> 
                                <b-button variant="danger" class="ml-2" v-on:click="openWarning(project.id)">{{$t('general.delete')}}</b-button>
                            </div>
                        </b-list-group>
                    </b-card-body>
                </b-card>
                </b-overlay>
            </b-container>   
            <Modal  :id="1" :Title="this.$t('manage.projectprops.info')"  :inputs="inputs" :variant="'info'" :btext="null" :disabled="true"/> 
            <Modal  :id="5" :Title="this.$t('warning.securityConf')" :submit="deletep" :inputs="inputs2" :variant="'danger'" :btext="this.$t('general.delete')" :closebutton="this.$t('general.cancel')">                      
                <template v-slot:middle>
                    <div v-if="errormessage != null">
                        <span style="color: #dc3545;" ><i class="fas fa-exclamation-circle"></i> {{errormessage}} </span>
                    </div>
                </template>
            </Modal>          


        
    </b-container> 
</template>


<script>
import Modal from "./Subcomponents/Modal"
import Menu from "./Subcomponents/Menu"
import Search from './Subcomponents/Search'
import api from '../api/api'

export default {
    
     components:{
        Menu, Modal, Search
    },

    data() {
        return {
            projects:"",
            filteredprojects:"",
            id:"",
            name:"",
            inputs: [{id: 1,label:'ID',type: 'text',placeholder:'',model:''},
                     {id: 2,label:this.$t('manage.projectprops.name'),type: 'text',placeholder:'',model:''},
                    ],
            showOverlay: false   ,
            deleteid: -1,
            warningDelete: this.$t('warning.warningDel'),
            inputs2: [{id: 1,label:this.$t('accountgeneral.pass'),type: 'password',placeholder:'',model:''}],
            errormessage: null,

        }
    },
    async created(){
        await this.loadData();
    },
    methods:{
        openWarning(id){
            this.deleteid=id;
            this.$bvModal.show('modal-5');
        },
         open(){
            this.$router.push({ name: 'manage', params: { lang: this.$i18n.locale }});
        },
        async loadData(){
            this.showOverlay=true;
            const response= await this.loadingprojects(this.$store.getters.token);
            console.log(response.data);
            this.projects= response.data;
            this.filteredprojects= response.data; 
            this.showOverlay=false;
        },
       async getproject(project){
            this.inputs[0].model=project.id;
            this.inputs[1].model=project.nombre;

            this.$bvModal.show('modal-1');
        },
        async deletep(inputs){
            console.log(inputs[0]);
            console.log(this.$store.getters.user.id);
            const response = await this.delproject(this.$store.getters.token, this.deleteid, this.$store.getters.user.id,inputs[0]);
            console.log(response); 
            if(this.errormessage == null){
                await this.loadData();
            } 
        },
        async delproject(itoken, pid, uid, pass){//id proy, id usuario y contrasenia
            console.log("entro!");
            const token= 'Bearer '+itoken
            const url='/projects/delete';
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                    return await api.post(
                        url,
                        {
                            idProyecto: pid,
                            idUsuario: uid,
                            password: pass
                        },headers).then((response) => 
                    {
                        this.errormessage=null;
                        return response
                    },(error) => {
                        this.errormessage=error.response.data;
                        this.$bvModal.hide('modal-5');
                        this.$bvModal.show('modal-5');
                        console.log(error);
                    });
         },
        async loadingprojects(itoken){
            const token= 'Bearer '+itoken
            const url='/projects';
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                    return await api.get(url,headers).then((response) => 
                    {
                        return response
                     },(error) => {
                    console.log(error);
                     });
         },



        changeList: function(update){
            this.filteredprojects=update;
        },

         
         

    }
    
    
}
</script>

<style scoped>
.centro{text-align: center;}

#row {
  display: flex;                
  justify-content: center;      
  position: relative;           
}
#left {
  position: absolute;            
  left: 2%;                     
}

h2{
    padding: 1%;

}
.round{
    border-radius: 50%;
    padding-left: 20px;
    padding-right: 20px;
}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;

}

</style>