<template>
    <b-container fluid i class="flexs fcolumn  p-0 m-0 abs maxHeight fondo1">
        <Menu/>
        <b-container  class="flexs frow stretch maxHeight ">
            <b-container   class="flexs frow stretch  p-0 m-0">
                <NewSideMenu v-bind:options="options" :title="projname" />
                <ProjectInfCont />    
            </b-container>
        </b-container>
    </b-container>
        
</template>

<script>
import Menu from './Subcomponents/Menu'
import NewSideMenu from './Subcomponents/NewSideMenu'
import ProjectInfCont from './Subcomponents/ProjectInfCont'
export default {
    components: { Menu,NewSideMenu, ProjectInfCont },
    data(){
        return{
            options: this.$store.getters.actsideP,
            projname: this.$store.getters.currentProject.nombre

        }
    }
}
</script>
    