<template>
    <b-container fluid   class="flexs fcolumn  p-0 m-0 abs maxHeight fondo1">
        <Menu/>
        <b-container  class="flexs frow stretch maxHeight ">
            <b-container   class="flexs frow stretch  p-0 m-0">
                <NewSideMenu v-bind:options="options" :title="projname"/>
                <ProySettCont />
            </b-container>
        </b-container>

    </b-container>  
</template>

<script>
import Menu from "./Subcomponents/Menu"
import NewSideMenu from "./Subcomponents/NewSideMenu"
import ProySettCont from "./Subcomponents/ProySettCont"
export default {
    components:{
       Menu, NewSideMenu, ProySettCont
    },
    data(){
        return{
            projname: this.$store.getters.currentProject.nombre,
            options: this.$store.getters.actsideP
        }
    }
}
</script>


