<template>
        <b-container fluid   class="flexs fcolumn  p-0 m-0 abs maxHeight fondo1">
        <Menu/>
        <div >
            <b-container  class="flexs frow stretch maxHeight ">
                <b-container   class="flexs frow stretch  p-0 m-0">
                    <NewSideMenu v-bind:options="options" :title="proyname"/>
                    <ProjAnCont :proyname="proyname" :cproject="cproject" />
                </b-container>
            </b-container>
        </div>  
    </b-container>
</template>

<script>

import ProjAnCont from "./Subcomponents/ProjectAnCont"
import Menu from "./Subcomponents/Menu"
import NewSideMenu from "./Subcomponents/NewSideMenu"
export default {
    components:{
        ProjAnCont,NewSideMenu, Menu
    },
    data(){
        return{
            cproject: this.$store.getters.currentProject,
            proyname: this.$store.getters.currentProject.nombre,
            options: this.$store.getters.actsideP,
        }
    },
    created(){

    },
    methods:{

    }
}
</script>