<template>
    <b-container fluid  class="flexs fcolumn  p-0 m-0 abs maxHeight fondo1">
        <Menu/>
            <b-container id="cnt" class="flexs fcolumn stretch maxHeight">
                    <h2 class="text-center border-bottom">{{ $t('projects.title') }}</h2>
                    <Search :placeholder="$t('projects.placeholder')" :data="projects" v-on:changeList="changeList($event)" :searchtype="1"></Search>
<b-overlay :show="showOverlay" rounded="lg">   
                    <Projectpv id="projects" :projects="filteredproy" class="maxHeight"/>
 </b-overlay>
                    <div class="float " v-if="show==true">
                        <b-button class="round shadow" variant="info" v-b-modal.modal-1><h1>+</h1></b-button>
                    </div>
                    <Modal :key="1"  :id="1" :Title="$t('projects.modaltitle')" :submit="submit" :inputs="inputs" :buttons="buttons"  :variant="'info'" :btext="this.$t('general.add')" :closebutton="this.$t('general.close')"/>
               
            </b-container>      
    </b-container> 
</template>

<script>
/**esta seria la pantalla que muestra los proyectos, cuenta con varios
componentes, como el menu y los proyectos que se van a mostrar
**/
import Menu from "./Subcomponents/Menu"
import Projectpv from "./Subcomponents/ProjectPv"
//import Modal from './Subcomponents/Modal'
import Search from './Subcomponents/Search'
import { mapGetters } from 'vuex'
//import Velocity from 'velocity-animate'
import api from '../api/api'
import context from './../utilities/ContextNotifications'
export default {
    data(){
        return{
            teammembers: [],
            projects:  [],
            inputs: [{id: 1,label: this.$t('projects.modalopt1'),type: 'text',placeholder:'',model:'',rules: 'required'},
                    {id: 2,label: this.$t('projects.modalopt2'),type: 'text',placeholder:'',model:'',rules: 'required'},
                    {id: 3,label: this.$t('projects.modalopt3'),type: 'text',placeholder:'',model:'',rules: 'required|integer'},
                    {id: 4,label: this.$t('projects.modalopt4'),type: 'text',placeholder:'',model:'',rules: 'required'}],
            buttons:[{id:1,variant:'info',text:'Add'},{id:2,variant:'secondary',text:'close'}],
            text:'',
            filteredproy: [],
            userid: '',
            show: false,
            showOverlay: false
        }
    },
    components:{
        Menu,
        Projectpv,
        Modal: () => import("./Subcomponents/Modal"),
        Search
    },
     async mounted(){
        this.userid=this.$store.getters.user.id;
        await this.load();
    },
    methods:{
        ...mapGetters([
      'user',
        ]),
        async load(){
            this.showOverlay=true;
            console.log(this.$store.getters.user.tipousuario);
            if(this.$store.getters.user.tipousuario < 3){
                await this.getProjectsA(this.$store.getters.token);
                this.show=true;
                //await this.get
            }
            else{
                await this.getProjects(this.$store.getters.token,this.userid);
                this.show=false;
            }
            this.showOverlay=false;
        },
        async getmembers(itoken,idp){
            const token= 'Bearer '+itoken
            const url='/projects/usersFromProject/'+idp;
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }}; 
                    return await api.get(url,headers).then((response) => 
                    {
                        return response.data;
                     },(error) => {
                        console.log(error);
                        return [];
                     });
         },
        async submit(inputs){
            var response = await this.addProject(inputs[0],inputs[1],inputs[2],inputs[3],this.$store.getters.token);
            console.log(response.data);
            
            var proj=response.data;
            response = await this.adduser(proj.id,this.userid,this.$store.getters.token);
            console.log(response.data);
            this.$bvModal.hide('modal-1');
            await this.getProjects(this.$store.getters.token,this.userid);
            this.$store.commit('setCurrProject',proj);
            this.$router.push({ name: 'projectsettings', params: { lang: this.$i18n.locale }});

        },
        async addProject  (name,description,time,client,itoken) {
            const token= 'Bearer '+itoken
            const url='/projects';
                        const headers={'headers':
                                    {
                                        'Content-Type': 'application/json',
                                        'Authorization': token
                                        
                                    }};
            return await api.post(url,
                {
                    nombre: name,
                    duracion: time,
                    descripcion: description,
                    infoCliente: client
                },headers).then((response) => 
                {
                    context.success("Success!", "The project has been added succesfully!");
                     return response
                }, (error) => {
                    console.log(error);
                });
         },
        async adduser(proyid,users,itoken){
            const token= 'Bearer '+itoken
            const url='/projects/userToProject';
                        const headers={'headers':
                                    {
                                        'Content-Type': 'application/json',
                                        'Authorization': token
                                        
                                    }};
            return await api.post(url,
                {
                    idProyecto: proyid,
                    usuarios: [users]
                },headers).then((response) => {return response}, (error) => {
                    console.log(error);
                });
        },
        async getProjects  (itoken,userid){
            console.log(userid);
            const token= 'Bearer '+itoken
            const url='/projects/projectsByUser/'+userid;
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                     await api.get(url,headers).then( (response) => 
                    {
                        this.projects= response.data;
                        this.filteredproy=response.data; 
                     }, (error) =>{
                            console.log('abajo error:')
                            console.log(error.response.data);
                            console.log(error.response.status);
                            console.log(error.response.headers);
                            context.warning("projects", error);    
                            this.projects= [];
                            this.filteredproy=[]; 
                     });
          },
          async getProjectsA  (itoken){

            const token= 'Bearer '+itoken
            const url='/projects';
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                     await api.get(url,headers).then( (response) => 
                    {
                        this.projects= response.data;
                        this.filteredproy=response.data; 
                     }, (error) =>{
                            console.log('abajo error:')
                            console.log(error.response.data);
                            console.log(error.response.status);
                            console.log(error.response.headers);
                            this.projects= [];
                            this.filteredproy=[]; 
                            context.warning("projects", error);
                       });
          },
         showprojects(response){
            var resp;
            for(resp of response.data){
                this.projects.push(resp);
                console.log(resp);
            }
        },
        changeList: function(update){
            this.filteredproy=update;
        },
        notify(title,text){
                this.$notify({
                    group: 'foo',
                    title: title,
                    text: text,
                    type: 'error'
            });
        }
    },


}
</script>

<style>

h2{
    padding: 1%;

}
.round{
    border-radius: 50%;
    padding-left: 20px;
    padding-right: 20px;
}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;

}
</style>