<template>
    <b-container fluid   class="flexs fcolumn  p-0 m-0 abs maxHeight fondo1">
        <Menu/>
        <b-container  class="flexs frow stretch maxHeight ">
            <b-container   class="flexs frow stretch  p-0 m-0">
                <NewSideMenu :options="options" :title="proyname" />
                <ProViCont :cproject="cproject" :proyname="proyname" :archived="archived"/>
            </b-container>
        </b-container>
    </b-container>
</template>

<script>
import Menu from  "./Subcomponents/Menu"
import ProViCont from "./Subcomponents/ProjectViCont"
import NewSideMenu from "./Subcomponents/NewSideMenu"
//id="cnt"
export default {
    components:{
        Menu, NewSideMenu,ProViCont
    },
    data(){
        return{
            cproject: this.$store.getters.currentProject,
            proyname: this.$store.getters.currentProject.nombre,
            options: this.$store.getters.actsideP,

            archived: false

            
        }
    },
    beforeCreate(){
      console.log("beforeCreate"); 
    },
    created(){
        console.log("Created");

    },
    beforeMount(){
        console.log("beforeMount");
    },
    mounted(){
        console.log("Mounted");

    },
    beforeUpdate(){
        console.log("beforeupdate");
    },
    updated(){
        console.log("updated");
    },
    beforeDestroy(){
        console.log("beforedestroy");
    },
    destroyed(){
        console.log("destroyed");
    },
    methods:{
               
    }

}
</script>