<template>
    <b-container fluid  class="p-0 m-0 abs maxHeight fondo1">
        <Menu/> 
        <b-container  class="flexs fcolumn stretch maxHeight ">
                <div id="row" class="border-bottom mb-3 pb-3"> <!-- renglon del titulo de la pantalla -->
                    <div id="left" class="text-left" >
                        <b-button variant="transparent" style="color: black;" v-on:click="open('manage')" >
                            <i class="fas fa-angle-left fa-2x"></i>                    
                        </b-button>                
                    </div>  
                    <div id="right" class="text-center" style="white-space: nowrap;">
                        <h2>{{$t('manage.btnSystem')}}</h2>
                    </div>      
                </div>
            <b-container   class="flexs frow stretch centerr  wrap p-0 m-0">
                <div class="m-3">
                    <b-button block class="shadow pt-4 pb-4 m-1 mb-2" type="reset" variant="info" size="lg" v-b-modal.modal-1>
                        <i class="fas fa-users fa-5x"></i><br>{{$t('manage.btnNoti')}}
                    </b-button>
                </div>
                <div class="m-3">
                    <b-button block class="shadow pt-4 pb-4 m-1 mb-2" type="reset" variant="info" size="lg" v-on:click="open('projectcategories')">
                        <i class="fas fa-users fa-5x"></i><br>Categories
                    </b-button>
                </div>
            </b-container>
        </b-container>
        <Modal  :id="1" :Title="this.$t('manage.systemprops.noti')" :submit="send" :inputs="inputs" :variant="'info'" :btext="this.$t('general.add')" :disabled="false" :closebutton="this.$t('general.close')"/> 

    </b-container> 
</template>

<script>
import Modal from "./Subcomponents/Modal"
import Menu from "./Subcomponents/Menu"
import notification from'../WebSocket/notification';
import api from '../api/api'
const signalR = require('@aspnet/signalr');
//const signalR = require('@aspnet/signalr');
export default {
    components:{
        Menu, Modal
    },
    data(){
        return{
            inputs: [{id: 1,label:this.$t('manage.systemprops.title'),type: 'text',placeholder:'',model:'', rules: 'required'},
                    {id: 2,label:this.$t('manage.systemprops.mess'),type: 'text',placeholder:'',model:'', rules: 'required'}],
            userid: this.$store.getters.user.id,
            connection: '',
            message:''
        }
    },
    async created(){
        await this.notyPending(this.$store.getters.token,this.userid);
    },
    async mounted(){
        var thisVue=this;

        notification.on("ReceiveNotification", async function(title, mess, idnoti) {
            thisVue.message=mess;
            await thisVue.notySeen(thisVue.$store.getters.token,idnoti,thisVue.userid);
        });
    },
    methods: {
        open(name){
            this.$router.push({ name: name, params: { lang: this.$i18n.locale }});
        },
        async send(inputs){
            this.between(inputs,0);

        },
        async between(inputs,cont){
            if(notification.connectionState == signalR.HubConnectionState.Connected){
                    notification
                    .invoke("SendNotification", inputs[0], inputs[1], this.userid)
                    .catch(function(err) {
                    return console.error(err.toString());
                    });
                    this.$bvModal.hide('modal-1');
            }
            else{
                if(cont < 6){
                    this.startCon();
                    this.send(cont+1);
                    
                }
            } 
        },
        async startCon(){
            await notification.start().catch(function(err) {
            return console.error(err.toString());
            });
        },
        async notySeen (itoken,idnoti,idu) {
            const token= 'Bearer '+itoken
            const url='/notifications/notificationReaded';
            const headers={'headers':
                        {
                            'Content-Type': 'application/json',
                            'Authorization': token
                            
                        }};
            return await api.post(url,
                {
                    idNotificacion: idnoti,
                    idUsuario: idu,
                },headers).then((response) => {return response}, (error) => {
                    console.log(error);
                });
         },
         async notyPending (itoken,idu) {
             console.log(idu);
             console.log(itoken);
            const token= 'Bearer '+itoken
            const url='/notifications/pendingNotifications/'+idu;
            const headers={'headers':
                        {
                            'Content-Type': 'application/json',
                            'Authorization': token
                            
                        }};
            return await api.get(url,headers).then((response) => { console.log(response.data)}, (error) => {
                    console.log(error);
                });
         },

    }
}
</script>
<style scoped>
#row {
  display: flex;                
  justify-content: center;      
  position: relative;           
}
#left {
  position: absolute;            
  left: 2%;                     
}
</style>