<template>
    <b-container fluid   class="flexs fcolumn  p-0 m-0 abs maxHeight fondo1">
        <Menu/>
        <div>
            <b-container  class="flexs frow stretch maxHeight ">
                <b-container   class="flexs frow stretch  p-0 m-0">
                    <NewSideMenu :options="options" :title="proyname"/>

                    <b-container   class="flexs fcolumn stretch   wrap p-0 m-0">
                        <b-container>
                            <div class="text-center border-bottom">
                                <h2>{{$t('tools.title')}}</h2>
                            </div>
                            
                            <div class="m-5">
                                <b-button block class="shadow pt-4 pb-4 m-1 mb-2" type="reset" variant="info" size="lg" v-on:click="open('projectmenu')">
                                    <i class="fas fa-book-open fa-5x"></i><br>{{$t('tools.menu')}}
                                </b-button>
                            </div>
                            <div class="m-5">
                                <b-button block class="shadow pt-4 pb-4 m-1 mb-2" variant="info" size="lg" v-on:click="open('projectbalance')">
                                    <i class="fas fa-chart-area fa-5x"></i><br>{{$t('tools.balance')}}
                                </b-button>
                            </div>
                             <div class="m-5">
                                <b-button block class="shadow pt-4 pb-4 m-1 mb-2" variant="info" size="lg" v-on:click="showModal()">
                                    <i class="far fa-file-alt fa-5x"></i><br>{{$t('tools.pdf')}}
                                </b-button>
                            </div>
                        </b-container>
                    </b-container>
                </b-container>
            </b-container>
        </div>

        <Modal  :id="'pdfs'" :Title="this.$t('tools.select')" :variant="'info'" :btext="$t('general.save2')" :disabled="true">
            <template v-slot:above>
                <b-overlay :show="showOverlay" rounded="sm" no-wrap></b-overlay>
                <b-button block variant='info' size='lg' class="mb-2" v-on:click="generateMenuPdf" >{{$t('tools.menu')}}</b-button>
                <b-button block variant='info' size='lg' class="mb-2" v-on:click="generateRecipePdf">{{$t('tools.recipes')}}</b-button>
                <!-- BOTON SUB RECETA -->
                <b-button block variant='info' size='lg' class="mb-2" v-on:click="generateSubRecipePdf">Sub-Recetas</b-button>
                <b-button block variant='info' size='lg' class="mb-2" v-on:click="getPdfIngredients">Ingredientes</b-button>
                <b-button block variant='info' size='lg' class="mb-2" v-on:click="getFastRecipes">Recetas rapidas</b-button>
                <b-button block variant='info' size='lg' v-on:click="generateBalancePoint">{{$t('tools.balance')}}</b-button> 
            </template>
        </Modal>
        <Modal  :id="5" :Title="'Warning'" :submit="getOut" :inputs="[]" :variant="'info'" :btext="'Fine'" :message="message" :esc="true" :backdrop="true" :hideclose="true"/> 
    </b-container>

</template>

<script>
import Menu from  "./Subcomponents/Menu"
import NewSideMenu from  "./Subcomponents/NewSideMenu"
import Modal from './Subcomponents/Modal'
import jsPDF from 'jspdf';
import 'jspdf-autotable';
import api from '../api/api'
//const signalR = require('@aspnet/signalr');

export default {
    components:{
        Menu, NewSideMenu, Modal
    },
    data(){
        return{
            message: "You don't have enough progress to access this screen..",
            messages: [],
            cproject: this.$store.getters.currentProject,
            proyname: this.$store.getters.currentProject.nombre,
            options: this.$store.getters.actsideP,
            connection: '',
            table1:{},
            table2:{},
            table3:[],
            menu:[],
            recipes:[],
            showOverlay: false,
            ingredients:[],
            units:[],
            projectTemplate: null,
            subrecipes:[],
            data:[]
        }
    },
    async created(){
        await this.getMenuTest(this.$store.getters.token,this.cproject.id);
    },
    methods:{
        getOut(){
            this.$router.push({ name: 'projectview', params: { lang: this.$i18n.locale }});
        },
        showModal(){
            this.$bvModal.show('modal-pdfs');
        },
        open(route){
            this.$router.push({ name: route, params: { lang: this.$i18n.locale }});
        },
        async getMenuTest  (itoken,pid){
            const token= 'Bearer '+itoken
            //const url='/projects/projectsByUser/'+pid;
            const url='/projects/getMenu/'+pid;
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                     await api.get(url,headers).then( (response) => 
                    {
                        this.menu=response.data;
                     }, (error) =>{
                        if(error.response.status ==404) {
                             this.error=true;
                             this.$bvModal.show('modal-5');
                         }
                     });
        },
        async getBalancePotin(itoken, pid){
            const token= 'Bearer '+itoken
            //const url='/projects/projectsByUser/'+pid;
            const url='/projects/getBalancePoint/'+pid;
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                     await api.get(url,headers).then( (response) => 
                    {
                        this.table1=response.data.meanCostTable;
                        this.table2=response.data.incomeDistributionTable;
                        this.table3=response.data.balancePointTable;
                     }, (error) =>{
                            console.log('abajo error:')
                            console.log(error.response.data);
                            console.log(error.response.status);
                            console.log(error.response.headers);
                     });
        },
        async getMenu(itoken, pid){
            const token= 'Bearer '+itoken
            //const url='/projects/projectsByUser/'+pid;
            const url='/projects/getMenu/'+pid;
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                     await api.get(url,headers).then( (response) => 
                    {
                        this.menu=response.data;
                     }, (error) =>{
                            console.log('abajo error:')
                            console.log(error.response.data);
                            console.log(error.response.status);
                            console.log(error.response.headers);
                     });
        },
        async generateBalancePoint(){
            this.showOverlay=true;
            await this.getBalancePotin(this.$store.getters.token, this.cproject.id);

            var doc = new jsPDF({
                orientation:'p',
                format:'letter',
                unit: 'mm'
            });
            const img = require('../assets/plantillapdf.png');
            console.log(doc.getFontList());
            var imgTemplate = new Image();
            imgTemplate.src = img;
            doc.addImage(imgTemplate, 'PNG', 0,0, 216,280);

            // Genera titulo de Punto de equilibrio
            doc.setFont('helvetica');
            doc.setFontType('bold');
            doc.setFontSize(28);
            doc.text("Punto de equilibrio", 62, 40);

            //Genera titulo de la primera tabla
            doc.setFontType('normal');
            doc.setFontSize(16);
            doc.text("Distribucion de Ingresos", 14, 50);

            //Genera la primera tabla
            doc.autoTable({
                margin: {
                    top:55
                },
                headStyles:{
                    fillColor: [0,0,0]
                },
                head: [['Gasto', 'Cantidad']],
                body: [
                    ['Ingreso por Venta', this.table2.ingresoVenta.toFixed(2)],
                    ['Costos Fijos', this.table2.costosFijos.toFixed(2)],
                    ['Costos Variables', this.table2.costosVariables.toFixed(2)],
                    ['Utilidad Neta', this.table2.utilidadNeta.toFixed(2)]
                    ],
            });

            //Genera titulo de la segunda tabla
            doc.setFontSize(16);
            doc.text("Costos promedio", 14, 100);

            //Genera la segunda tabla
            doc.autoTable({
                startY: 105,
                headStyles:{
                    fillColor: [0,0,0]
                },
                head: [['Concepto', 'Base']],
                body: [
                    ['Ticket Promedio', this.table1.ticketPromedio.toFixed(2)],
                    ['Costo Variable', this.table1.costoVariable.toFixed(2)],
                    ['Utilidad Bruta', this.table1.utilidadBruta.toFixed(2)],
                    ['Costos Fijos', this.table1.costosFijos.toFixed(2)],
                    ['Unidades Requeridas', Math.round(this.table1.unidadesRequeridas)],
                    ['Ingreso por Unidades', this.table1.ingresoUnidades.toFixed(2)],
                ],
            })

            //Genera titulo de la tercera tabla
            doc.setFontSize(16);
            doc.text("Costos promedio", 14, 170);

            console.log(this.table3);
            
            var precioVenta = ['Precio de Venta'];
            var unidades = ['Unidades (Comensales)'];
            var ingresoTotal = ['Ingreso Total'];
            var costosFijos = ['Costos Fijos'];
            var costoVariableUnitario = ['Costo Variable Unitario'];
            var costoVariableTotal = ['Costo Variable Total'];
            var costoTotal = ['Costo Total'];
            var utilidadNeta = ['Utilidad Neta'];

            for(var i = 0; i < this.table3.precioVenta.length; i++){
                this.table3.precioVenta[i] = this.table3.precioVenta[i].toFixed(2);
                this.table3.unidades[i] = this.table3.unidades[i].toFixed(2);
                this.table3.ingresoTotal[i] = this.table3.ingresoTotal[i].toFixed(2);
                this.table3.costosFijos[i] = this.table3.costosFijos[i].toFixed(2);
                this.table3.costoVariableUnitario[i] = this.table3.costoVariableUnitario[i].toFixed(2);
                this.table3.costoVariableTotal[i] = this.table3.costoVariableTotal[i].toFixed(2);
                this.table3.costoTotal[i] = this.table3.costoTotal[i].toFixed(2);
                this.table3.utilidadNeta[i] = this.table3.utilidadNeta[i].toFixed(2);
            }

            precioVenta = precioVenta.concat(this.table3.precioVenta);
            unidades = unidades.concat(this.table3.unidades);
            ingresoTotal = ingresoTotal.concat(this.table3.ingresoTotal);
            costosFijos = costosFijos.concat(this.table3.costosFijos);
            costoVariableUnitario = costoVariableUnitario.concat(this.table3.costoVariableUnitario);
            costoVariableTotal = costoVariableTotal.concat(this.table3.costoVariableTotal);
            costoTotal = costoTotal.concat(this.table3.costoTotal);
            utilidadNeta = utilidadNeta.concat(this.table3.utilidadNeta);

            //Genera la tercera tabla
            doc.autoTable({
                startY: 175,
                headStyles:{
                    fillColor: [0,0,0]
                },
                head: [['Concepto', 'Perdida', 'Perdida', 'Equilibrio', 'Ganancia', 'Ganancia']],
                body: [
                    precioVenta,
                    unidades,
                    ingresoTotal,
                    costosFijos,
                    costoVariableUnitario,
                    costoVariableTotal,
                    costoTotal,
                    utilidadNeta,
                ],
            })

            doc.save('PuntoEquilibrio_'+this.cproject.nombre+this.cproject.id+'.pdf');
            this.showOverlay=false;
        },
        async generateMenuPdf(){
            this.showOverlay=true;
            await this.getMenu(this.$store.getters.token, this.cproject.id);

            var recipes = this.menu.filter(x=> x.tipoReceta == 1);
            var drinks = this.menu.filter(x=>x.tipoReceta == 3);
            recipes = recipes.sort((a,b) => (a.nombre > b.nombre) ? 1 : ((b.nombre > a.nombre) ? -1 : 0)); 
            drinks = drinks.sort((a,b) => (a.nombre > b.nombre) ? 1 : ((b.nombre > a.nombre) ? -1 : 0)); 

            console.log(recipes);
            console.log(drinks);

            var doc = new jsPDF({
                orientation:'p',
                format:'letter',
                unit: 'mm'
            });
            const img = require('../assets/plantilla2pdf.png');
            console.log(doc.getFontList());
            var imgTemplate = new Image();
            imgTemplate.src = img;
            doc.addImage(imgTemplate, 'PNG', 0,0, 216,280);

            //Titulo de recetas
            doc.setFontSize(25);
            doc.text("Recetas", 93, 36);
            //Genera el menu
            doc.autoTable({
                //startY: 60,
                margin:{
                    top:40
                },
                headStyles:{
                    fillColor: [0,0,0]
                },
                columns: [
                        { dataKey: 'nombre', header: 'Nombre' },
                        { dataKey: 'precio', header: 'Precio' },
                        { dataKey: 'costoVariable', header: 'Costo Variable' },
                        { dataKey: 'costoFijo', header: 'Costo Fijo' },
                        { dataKey: 'costoTotal', header: 'Costo Total' },
                        { dataKey: 'utilidad', header: 'Utilidad' },
                        { dataKey: 'porcentajeUtilidad', header: '% Utilidad' },
                    ],
                body: recipes,
                willDrawCell: function (data) {
                    if (data.row.section === 'body' && data.column.dataKey === 'porcentajeUtilidad') {
                        if (data.cell.raw < 0) {
                            doc.setTextColor(231, 76, 60) // Red
                            doc.setFontStyle('bold')
                        }else if (data.cell.raw > 0) {
                            doc.setTextColor(24,197,20) // Green
                            doc.setFontStyle('bold')
                        }
                        
                    }
                }
            })

            doc.addPage();
            doc.addImage(imgTemplate, 'PNG', 0,0, 216,280);
            //Titulo de recetas
            doc.setFontSize(25);
            doc.text("Bebidas", 93, 36);

            //Genera el menu
            doc.autoTable({
                //startY: 60,
                margin:{
                    top:45
                },
                headStyles:{
                    fillColor: [0,0,0]
                },
                columns: [
                        { dataKey: 'nombre', header: 'Nombre' },
                        { dataKey: 'precio', header: 'Precio' },
                        { dataKey: 'costoVariable', header: 'Costo Variable' },
                        { dataKey: 'costoFijo', header: 'Costo Fijo' },
                        { dataKey: 'costoTotal', header: 'Costo Total' },
                        { dataKey: 'utilidad', header: 'Utilidad' },
                        { dataKey: 'porcentajeUtilidad', header: '% Utilidad' },
                    ],
                body: drinks,
                willDrawCell: function (data) {
                    if (data.row.section === 'body' && data.column.dataKey === 'porcentajeUtilidad') {
                        if (data.cell.raw < 0) {
                            doc.setTextColor(231, 76, 60) // Red
                            doc.setFontStyle('bold')
                        }else if (data.cell.raw > 0) {
                            doc.setTextColor(24,197,20) // Green
                            doc.setFontStyle('bold')
                        }
                        
                    }
                }
            })

            doc.save('Menu_'+this.cproject.nombre+this.cproject.id+'.pdf');
            this.showOverlay=false;
        },
        
        async generateRecipePdf(){
            this.showOverlay=true;
            await this.getRecipes(this.$store.getters.token, this.cproject.id);
            await this.getTemplate(this.$store.getters.token, this.cproject.id);
            var doc = new jsPDF({
                orientation:'p',
                format:'letter',
                unit: 'mm'
            });
            var cont = this.recipes.length;
            for(var i = 0; i<cont; i++){
                if(i > 0){
                    doc.addPage();
                }
                //const img = require('../assets/recetapdf.png');
                var imgTemplate = new Image();
                imgTemplate.src = this.projectTemplate;
                doc.addImage(imgTemplate, 'PNG', 0,0, 216,280);
                // Titulo de la receta
                doc.setTextColor(255,255,255);
                doc.setFontSize(15);
                var totalpx = (this.recipes[i].nombre.length * 125) / 29;
                var centerpx = (67 + (62.5 - (totalpx/2)));
                doc.text(this.recipes[i].nombre, centerpx, 20.5);
                

                // Titulo de la receta
                doc.setTextColor(255,255,255);
                doc.setFontSize(20);

                if(this.recipes[i].tipoReceta == 1){
                    doc.text("RECETA", 17, 42);
                }else{
                    doc.text("BEBIDA", 17, 42);
                }

                //Id de la receta
                doc.text(this.recipes[i].id.toString(), 182, 42);

                //Tecnica aplicada
                doc.setTextColor(0,0,0)
                doc.setFontSize(9)
                doc.text(this.recipes[i].tecnica, 38, 154.5)
                doc.text(this.recipes[i].tiempoPreparacion, 42, 159)
                doc.text(this.recipes[i].cuberteria, 30, 163)
                doc.text(this.recipes[i].categoria, 113, 162.5)
                //Foto de la receta
                //const imgRecipe = require('../assets/platillo.png');
                var recipeImg = new Image();
                recipeImg.src = `data:image/png;base64, ${this.recipes[i].imagen}`;

                doc.addImage(recipeImg, 'PNG', 9, 47, 80, 80);

                doc.setTextColor(0,0,0);
                doc.setFontSize(10);
                var explodedText = this.recipes[i].procedimiento.split("!");
                var completeProcedure = "";
                for(var x = 0; x<explodedText.length; x++){
                    completeProcedure = completeProcedure + (x+1) +".- " + explodedText[x]+"\n";
                }

                //Texto de procedimiento
                var splitProcedure = doc.splitTextToSize(completeProcedure, 98);
                doc.text(8, 179, splitProcedure);



                var explodedAssembly = this.recipes[i].montaje.split("!");
                var completeAssembly = "";
                for(var y = 0; y<explodedAssembly.length; y++){
                    completeAssembly = completeAssembly + (y+1) +".- " + explodedAssembly[y]+"\n";
                    console.log(completeAssembly);
                }
                //Texto de Montaje
                var splitAssembly = doc.splitTextToSize(completeAssembly, 98);
                doc.text(113, 179, splitAssembly);

                doc.autoTable({
                    startY: 47,
                    headStyles:{
                        fillColor: [0,0,0]
                    },
                    margin:{
                        left:102
                    },
                    styles: { cellPadding: 0.7, fontSize: 9 },
                    tableWidth:105,
                    columns: [
                            { dataKey: 'nombre', header: 'Nombre' },
                            { dataKey: 'cantidad', header: 'Cantidad' },
                            { dataKey: 'unidadMedida', header: 'Unidad' }
                        ],
                    body: this.recipes[i].ingredientes
                })

            }
            
            doc.save('Recetas_'+this.cproject.nombre+this.cproject.id+'.pdf');
            this.showOverlay=false;
            
        },
         async generateSubRecipePdf(){
            this.showOverlay=true;
            this.joinSubRecipes();
            await this.getSubRecipes(this.$store.getters.token, this.cproject.id);
            console.log("SubRecetas 1")
            console.log(this.recipes)

            console.log("SubRecetas 2")
            console.log(this.data)
            await this.getTemplate(this.$store.getters.token, this.cproject.id);
            var doc = new jsPDF({
                orientation:'p',
                format:'letter',
                unit: 'mm'
            });
            var cont = this.recipes.length;
            for(var i = 0; i<cont; i++){
                if(i > 0){
                    doc.addPage();
                }
                //const img = require('../assets/recetapdf.png');
                var imgTemplate = new Image();
                imgTemplate.src = this.projectTemplate;
                doc.addImage(imgTemplate, 'PNG', 0,0, 216,280);
                // Titulo de la receta
                doc.setTextColor(255,255,255);
                doc.setFontSize(15);
                var totalpx = (this.recipes[i].nombre.length * 125) / 29;
                var centerpx = (67 + (62.5 - (totalpx/2)));
                doc.text(this.recipes[i].nombre, centerpx, 20.5);
                

                // Titulo de la receta
                doc.setTextColor(255,255,255);
                doc.setFontSize(20);

                if(this.recipes[i].tipo == 2){
                    doc.text("SUB-RECETA", 17, 42);
                }else{
                    doc.text("SUB-BEBIDA", 17, 42);
                }

                //Id de la receta
                doc.text(this.recipes[i].id.toString(), 182, 42);

                console.log("me mori aqi table")
                //Tecnica aplicada
                doc.setTextColor(0,0,0)
                doc.setFontSize(9)
                doc.text(this.recipes[i].tecnica, 38, 154.5)
                doc.text(this.recipes[i].tiempoPreparacion, 42, 159)
                doc.text("NA", 30, 163)
                doc.text("SUB-RECETA", 113, 162.5)
                //Foto de la receta
                //const imgRecipe = require('../assets/platillo.png');
                var recipeImg = new Image();
                var base64=await this.getPicture(this.$store.getters.token,this.recipes[i].idReal);
                recipeImg.src = `data:image/png;base64,${base64.data.base64}`;

                doc.addImage(recipeImg, 'PNG', 9, 47, 80, 80);

                doc.setTextColor(0,0,0);
                doc.setFontSize(10);
                var explodedText = this.recipes[i].procedimiento.split("!");
                var completeProcedure = "";
                for(var x = 0; x<explodedText.length; x++){
                    completeProcedure = completeProcedure + (x+1) +".- " + explodedText[x]+"\n";
                }


                //Texto de procedimiento
                var splitProcedure = doc.splitTextToSize(completeProcedure, 98);
                doc.text(8, 179, splitProcedure);

                var explodedAssembly = this.recipes[i].montaje.split("!");
                var completeAssembly = "";
                for(var y = 0; y<explodedAssembly.length; y++){
                    completeAssembly = completeAssembly + (y+1) +".- " + explodedAssembly[y]+"\n";
                    console.log(completeAssembly);
                }
                
                //Texto de Montaje
                var splitAssembly = doc.splitTextToSize(completeAssembly, 98);
                doc.text(113, 179, splitAssembly);
                doc.autoTable({
                    startY: 47,
                    headStyles:{
                        fillColor: [0,0,0]
                    },
                    margin:{
                        left:102
                    },
                    styles: { cellPadding: 0.7, fontSize: 9 },
                    tableWidth:105,
                    columns: [
                            { dataKey: 'nombre', header: 'Nombre' },
                            { dataKey: 'cantidad', header: 'Cantidad' },
                            { dataKey: 'unidadMedida', header: 'Unidad' }
                        ],
                    body: this.subrecipes[i].ingredientes
                })

            }
            
            doc.save('SubRecetas_'+this.cproject.nombre+this.cproject.id+'.pdf');
            this.showOverlay=false;
            
        },
        async joinSubRecipes(){
            await this.getIngredients(this.$store.getters.token, this.cproject.id);
            await this.getSubRecipes(this.$store.getters.token, this.cproject.id);
            if(this.subrecipes.length >0 && this.ingredients.length >0){
                this.data = this.ingredients.concat(this.subrecipes);
            }
            else if(this.subrecipes.length >0 && this.ingredients.length ==0){
                this.data = this.subrecipes;
            }
            else if( this.ingredients.length >0 && this.subrecipes.length ==0 ){
                this.data = this.ingredients;
            }
            
            for(var i=0;i<this.data.length;i++){
                this.data[i].idReal = this.data[i].id;
                this.data[i].id=i;

            }
            
            this.modify();
        },
        modify(){
            console.log("Ings")
            console.log(this.ingredients)
            console.log("Subs")
            console.log(this.subrecipes)
            
            for(let i=0; i<this.subrecipes.length;i++){
                for(let x=0; x<this.subrecipes[i].ingredientes.length;x++){
                    if(this.subrecipes[i].ingredientes[x].tipoReceta == 5){
                        this.subrecipes[i].ingredientes[x].nombre = this.ingredients.find(z => z.idReal == this.subrecipes[i].ingredientes[x].idIngrediente).nombre;
                    }else if(this.subrecipes[i].ingredientes[x].tipoReceta == 2){
                        console.log(this.subrecipes[i].ingredientes[x].idIngrediente)
                        this.subrecipes[i].ingredientes[x].nombre = this.subrecipes.find(z => z.idReal == this.subrecipes[i].ingredientes[x].idIngrediente).nombre;
                    }
                }
            }

            console.log("Ya modificadas")
            console.log(this.subrecipes)
        },
        async getPdfIngredients(){
            this.showOverlay=true;
            await this.getIngredients(this.$store.getters.token, this.cproject.id);
            await this.getUnits(this.$store.getters.token);

            this.ingredients = this.ingredients.sort((a,b) => (a.nombre > b.nombre) ? 1 : ((b.nombre > a.nombre) ? -1 : 0)); 

            for(var z = 0; z<this.ingredients.length;z++){
                this.ingredients[z].unidadMedida = this.units.find(x=>x.id == this.ingredients[z].unidadMedida).abreviacion;
                this.ingredients[z].precioUnitario = this.ingredients[z].precioUnitario.toFixed(5);
            }

            var doc = new jsPDF({
                orientation:'p',
                format:'letter',
                unit: 'mm'
            });
            const img = require('../assets/plantilla2pdf.png');
            var imgTemplate = new Image();
            imgTemplate.src = img;
            doc.addImage(imgTemplate, 'PNG', 0,0, 216,280);

            const img2 = require('../assets/platillo.png');
            var imgTemplate2 = new Image();
            imgTemplate2.src = img2;
            //Titulo de recetas
            doc.setFontSize(25);
            doc.text("Ingredientes", 85, 36);
            //Genera el menu
            doc.autoTable({
                //startY: 60,
                margin:{
                    top:40
                },
                headStyles:{
                    fillColor: [0,0,0]
                },
                columns: [
                        { dataKey: 'nombre', header: 'Nombre' },
                        { dataKey: 'precioPresentacion', header: 'Precio' },
                        { dataKey: 'presentacion', header: 'Presentacion' },
                        { dataKey: 'unidadMedida', header: 'Unidad de Medida' },
                        { dataKey: 'precioUnitario', header: 'Precio Unitario' }
                    ],
                body: this.ingredients
            })

            doc.save('Ingredientes_'+this.cproject.nombre+this.cproject.id+'.pdf');
            this.showOverlay=false;
        },
        async getPicture(itoken, rid){
            const token= 'Bearer '+itoken
            //cambiar ruta aqi ? -------------------------------- subrecipes
            const url='/subrecipes/getPicture/'+rid;
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};  
                    return await api.get(
                        url,
                        headers).then((response) => 
                    {
                        console.log(response);  
                        return response
                     },(error) => {
                        console.log(error);
                    });
        },
        async getFastRecipes(){
            this.showOverlay=true;
            await this.getRecipes(this.$store.getters.token, this.cproject.id);

            var doc = new jsPDF({
                orientation:'p',
                format:'letter',
                unit: 'mm'
            });


            const img = require('../assets/plantillapdf.png');
            var imgTemplate = new Image();
            imgTemplate.src = img;

            doc.addImage(imgTemplate, 'PNG', 0,0, 216,280)


            doc.internal.events.subscribe('addPage', function() { doc.addImage(imgTemplate, 'PNG', 0, 0, 216, 280); });

//            doc.addImage(imgTemplate, 'PNG', 0,0, 216,280);

            const img2 = require('../assets/platillo.png');
            var imgTemplate2 = new Image();
            imgTemplate2.src = img2;

            var raw = JSON.parse(JSON.stringify(this.ingredients))
            var totalRows = 0;

            for(var p = 0; p<this.recipes.length;p++){
                var body = []
                var nuevoArreglo = this.recipes[p].ingredientes;

                var long = this.recipes[p].ingredientes.length;
                
                totalRows = totalRows + this.recipes[p].ingredientes.length + 2;
                
                var recipeImg = new Image();
                recipeImg.src = `data:image/png;base64, ${this.recipes[p].imagen}`;

                for(var ax = 0; ax < long; ax++){
                    this.recipes[p].ingredientes[ax].cantidad = `${this.recipes[p].ingredientes[ax].cantidad} ${this.recipes[p].ingredientes[ax].unidadMedida}`;
                }

                //Si los ingredientes de la receta son mayores a 28 -----------------------------------------
                if(long > 28){
                    for(var zx = 0; zx<2; zx++){
                        console.log('Entro '+ zx);
                        var nl = 0;
                        if(zx == 0){
                            raw = this.recipes[p].ingredientes.splice(0,27);
                            nl = 27;
                        }else{
                            raw = this.recipes[p].ingredientes;
                            totalRows = long - 30;
                            nl = raw.length;
                        }

                        for (var zi = 0; zi < raw.length; zi++) {
                            var rowIn = [];
                            rowIn.push(raw[zi]['nombre']);
                            rowIn.push(raw[zi]['cantidad']);
                            if (zi % nl === 0) {
                            rowIn.unshift({
                                rowSpan: nl,
                                content:" ",
                                styles: { valign: 'middle', halign: 'center', minCellHeight:50, cellWidth:60 },
                            })
                            }
                            body.push(rowIn)
                        }

                        doc.autoTable({
                            head: [
                            [
                                {
                                content: this.recipes[p].nombre,
                                colSpan: 3,
                                styles: { halign: 'center', fillColor: [0, 0, 0] },
                                },
                            ],
                            [
                                {
                                    content:'Foto',
                                    styles: { halign: 'center', fillColor: [68, 68, 68] },
                                },
                                {
                                    content:'Ingrediente',
                                    styles: { halign: 'center', fillColor: [68, 68, 68] },
                                },
                                {
                                    content:'Cantidad',
                                    styles: { halign: 'center', fillColor: [68, 68, 68] },
                                }
                            ]
                            ],
                            margin:{
                                top:35
                            },
                            body: body,
                            theme: 'grid',
                            willDrawCell: function(data) {
                                if (data.column.index === 0 && data.cell.section === 'body') {
                                    //data.row.cells[0].styles.minCellHeight = 50;
                                    //data.row.cells[0].height = 50;
                                    //data.row.height = 50;
                                // var dim = data.cell.height - data.cell.padding('vertical');
                                    //var textPos = data.cell.textPos;
                                }
                            },
                            didDrawCell: function(data){
                                if (data.column.index === 0 && data.cell.section === 'body') {
                                    doc.addImage(recipeImg, data.row.x+10,  data.row.y, 40, 40);
                                }
                            }
                        })

                        body = [];
                    }
                }else{
                     //Si el total de filas son 30
                    if(totalRows > 30){
                        doc.addPage();
                        totalRows = long + 2;
                    }


                    /**NORMAAAAAAAAAAAAAAAAAAAL */
                    raw = nuevoArreglo;
                    for (var i = 0; i < raw.length; i++) {
                        var row = [];
                        row.push(raw[i]['nombre']);
                        row.push(raw[i]['cantidad']);
                        if (i % long === 0) {
                        row.unshift({
                            rowSpan: long,
                            content:" ",
                            styles: { valign: 'middle', halign: 'center', minCellHeight:50, cellWidth:60 },
                        })
                        }
                        body.push(row)
                    }
                    
                    doc.autoTable({
                        head: [
                        [
                            {
                            content: this.recipes[p].nombre,
                            colSpan: 3,
                            styles: { halign: 'center', fillColor: [0, 0, 0] },
                            },
                        ],
                        [
                            {
                                content:'Foto',
                                styles: { halign: 'center', fillColor: [68, 68, 68] },
                            },
                            {
                                content:'Ingrediente',
                                styles: { halign: 'center', fillColor: [68, 68, 68] },
                            },
                            {
                                content:'Cantidad',
                                styles: { halign: 'center', fillColor: [68, 68, 68] },
                            }
                        ]
                        ],
                        margin:{
                            top:35
                        },
                        body: body,
                        theme: 'grid',
                        willDrawCell: function(data) {
                            if (data.column.index === 0 && data.cell.section === 'body') {
                                //data.row.cells[0].styles.minCellHeight = 50;
                                //data.row.cells[0].height = 50;
                                //data.row.height = 50;
                            // var dim = data.cell.height - data.cell.padding('vertical');
                                //var textPos = data.cell.textPos;
                            }
                        },
                        didDrawCell: function(data){
                            if (data.column.index === 0 && data.cell.section === 'body') {
                                doc.addImage(recipeImg, data.row.x+10,  data.row.y+5, 40, 40);
                            }
                        }
                    })
                }

            }

            doc.save('RecetasRapidas_'+this.cproject.nombre+this.cproject.id+'.pdf');
            this.showOverlay=false;
            
        },
        async getRecipes(itoken, pid){
            const token= 'Bearer '+itoken
            //const url='/projects/projectsByUser/'+pid;
            const url='/recipes/ingFromRecipeWithName/'+pid;
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                     await api.get(url,headers).then( (response) => 
                    {
                        this.recipes=response.data;
                     }, (error) =>{
                            console.log('abajo error:')
                            console.log(error.response.data);
                            console.log(error.response.status);
                            console.log(error.response.headers);
                     });
        },
         async getSubRecipes(itoken, pid){
            const token= 'Bearer '+itoken
            //const url='/projects/projectsByUser/'+pid;
            const url='/subrecipes/fromProject/'+pid;
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                     await api.get(url,headers).then( (response) => 
                    {
                        this.recipes=response.data;
                        this.subrecipes=response.data;
                     }, (error) =>{
                            console.log('abajo error:')
                            console.log(error.response.data);
                            console.log(error.response.status);
                            console.log(error.response.headers);
                     });
        },
        async getIngredients(itoken, pid){
            const token= 'Bearer '+itoken
            //const url='/projects/projectsByUser/'+pid;
            const url='/ingredients/searchByProject/'+pid;
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                     await api.get(url,headers).then( (response) => 
                    {
                        this.ingredients=response.data;
                     }, (error) =>{
                            console.log('abajo error:')
                            console.log(error.response.data);
                            console.log(error.response.status);
                            console.log(error.response.headers);
                     });
        },
        async getUnits(itoken){
            const token= 'Bearer '+itoken
            //const url='/projects/projectsByUser/'+pid;
            const url='/catalogs/allUnits';
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                     await api.get(url,headers).then( (response) => 
                    {
                        this.units=response.data;
                     }, (error) =>{
                            console.log('abajo error:')
                            console.log(error.response.data);
                            console.log(error.response.status);
                            console.log(error.response.headers);
                     });
        },
        async getTemplate(itoken,pid){
            const token= 'Bearer '+itoken
            const url='/projects/getTemplate/'+pid;
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                    return await api.get(
                        url,
                        headers).then((response) => 
                    {
                        //var base='data:image/png;base64,';
                        this.projectTemplate='data:image/png;base64,'+response.data.base64;
                     },(error) => {
                        console.log(error);
                     });
         },
    }
}
</script>