<template>
    <b-container fluid  class="p-0 m-0 abs maxHeight fondo1">
        <Menu/> 
            <b-container  class="flexs fcolumn stretch maxHeight ">
                <div id="row" class="border-bottom mb-3 pb-3"> <!-- renglon del titulo de la pantalla -->
                    <div id="left" class="text-left" >
                        <b-button variant="transparent" style="color: black;" v-on:click="open()" >
                            <i class="fas fa-angle-left fa-2x"></i>                    
                        </b-button>                
                    </div>  
                    <div id="right" class="text-center" style="white-space: nowrap;">
                        <h2>{{$t('manage.btnUser')}}</h2>
                    </div>      
                </div>

                <Search :placeholder="$t('manage.userprops.placeholder')" :data="users" v-on:changeList="changeList($event)" :searchtype="2"></Search>
                <b-overlay :show="showOverlay" rounded="sm">
                <b-card no-body class="border-1 p-0 mb-5 mt-3 shadow" header-tag="header" v-if="filteredusers.length >0">
                    <b-card-body >
                        <b-list-group>    
                            <div v-for="user in filteredusers" v-bind:item="user" :key="user.id" class="m-1 flexs frow">
                                <b-list-group-item button v-on:click="getuser(user)" >{{user.correo}}</b-list-group-item> 
                                <b-button variant="warning" class="ml-2" v-on:click="preedit(user.id)">{{$t('general.edit')}}</b-button>
                                <b-button variant="danger" class="ml-2" v-on:click="openWarning(user.id)">{{$t('general.delete')}}</b-button>
                            </div>
                        </b-list-group>
                    </b-card-body>
                </b-card>
                </b-overlay>
            </b-container>   
            <div class="float ">
                <b-button class="round shadow" variant="info" v-b-modal.modal-1><h1>+</h1></b-button>
            </div>
            <Modal  :id="1" :Title="this.$t('manage.userprops.adduser')" :submit="submit" :inputs="inputs2" :variant="'info'" :btext="this.$t('general.add')" :disabled="false" :closebutton="this.$t('general.close')"/> 
            <Modal  :id="2" :Title="this.$t('manage.userprops.edit')" :submit="editU" :inputs="inputs" :variant="'info'" :btext="this.$t('general.save1')" :disabled="false" :closebutton="this.$t('general.close')" /> 
            <Modal  :id="3" :Title="this.$t('manage.userprops.info')"  :inputs="inputs" :variant="'info'" :btext="null" :disabled="true" :closebutton="this.$t('general.close')"/> 
            <Modal  :id="5" :Title="this.$t('warning.warning')" :submit="deleteu" :inputs="[]" :variant="'info'" :btext="this.$t('general.yes')" :message="warningDelete" :closebutton="this.$t('general.no')"/>                      
                

   
        
    </b-container> 
</template>


<script>
import Modal from "./Subcomponents/Modal"
import Menu from "./Subcomponents/Menu"
import Search from './Subcomponents/Search'
import api from '../api/api'

export default {
    
     components:{
        Menu, Modal, Search
    },

    data() {
        return {
            users:"",
            filteredusers:"",
            id:"",
            name:"",
            email:"",
            password:"",
            typeuser:"",
            inputs: [{id: 1,label:this.$t('manage.userprops.name'),type: 'text',placeholder:'',model:'', rules: 'required'},
                        {id: 2,label:this.$t('manage.userprops.pass'),type: 'text',placeholder:'',model:'', rules: 'required'},
                        {id: 3,label:this.$t('manage.userprops.email'),type: 'text',placeholder:'',model:'', rules: 'required|email'},
                        {id: 4,label:this.$t('manage.userprops.type'),type: 'select',placeholder:'',model:'',text: 'nombre',options: [], rules: 'required'}
                ],
            inputs2: [{id: 1,label:this.$t('manage.userprops.name'),type: 'text',placeholder:'',model:'', rules: 'required'},
                        {id: 2,label:this.$t('manage.userprops.pass'),type: 'text',placeholder:'',model:'', rules: 'required'},
                        {id: 3,label:this.$t('manage.userprops.email'),type: 'text',placeholder:'',model:'', rules: 'required|email'},
                        {id: 4,label:this.$t('manage.userprops.type'),type: 'select',placeholder:'',model:'',text: 'nombre', options: [], rules: 'required'}
                ],
            roles: [],
            showOverlay: false, 
            deleteid: -1,
            warningDelete: this.$t('warning.warningDel')  
        }
    },
    async created(){
        console.log("Created");
        await this.loadData();
    },
    methods:{
        openWarning(id){
            this.deleteid=id;
            this.$bvModal.show('modal-5');
        },
         open(){
            this.$router.push({ name: 'manage', params: { lang: this.$i18n.locale }});
        },
       async getuser(user){
            var role=this.roles.find(us => us.id ==  user.tipousuario);
            this.inputs[0].model=user.nombre;
            this.inputs[1].model=user.password;
            this.inputs[2].model=user.correo;
            this.inputs[3].model=role;
            this.$bvModal.show('modal-3');
        },
        async loadData(){
            this.showOverlay=true;
            const response= await this.loadingusers(this.$store.getters.token);
            await this.getRoles(this.$store.getters.token);
            console.log(response.data);
            this.users= response.data;
            this.filteredusers= response.data;
            this.inputs[3].options=this.roles;
            this.inputs2[3].options=this.roles;
            this.showOverlay=false;
        },
        trash(){
            this.email=''; 
            this.name=''; 
            this.password=''; 
            this.typeuser=''; 
        },
        async editU(inputs){
            const id=this.$store.getters.useful;
            console.log(id);
            const response = await this.edituser(this.$store.getters.token, inputs[0], inputs[1], inputs[2], inputs[3].id, id);
            console.log(response);
            this.$bvModal.hide('modal-2');
            this.trash();
            await this.loadData();
        },
        preedit(id){
            var user=this.users.find(us => us.id ==  id);
            var role=this.roles.find(us => us.id ==  user.tipousuario);
                this.inputs[0].model=user.nombre;
                this.inputs[1].model=user.password;
                this.inputs[2].model=user.correo;
                this.inputs[3].model=role;

            console.log(id);
            this.$store.commit("setUseful",id);
            this.$bvModal.show('modal-2');
        },
        async edituser(itoken,name,pass ,ucor, type,id){
            const token= 'Bearer '+itoken
            const url='/users/'+id;
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                    return await api.put(
                        url,
                        {
                            correo: ucor,   
                            nombre: name,
                            password: pass,
                            tipousuario: type
                        },
                        headers).then((response) => 
                    {
                        return response
                     },(error) => {
                    console.log(error);
                     });
         },
        async submit(inputs){
            
            const response = await this.adduser(this.$store.getters.token, inputs[0], inputs[1], inputs[2], inputs[3].id);
            console.log(response);
            this.$bvModal.hide('modal-1');
            this.trash();
            await this.loadData();
        },
        async adduser(itoken, name, pass,ucor, type){
            const token= 'Bearer '+itoken
            const url='/users';
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    return await api.post(
                        url,
                        {
                            correo: ucor,   
                            nombre: name,
                            password: pass,
                            tipousuario: type
                          
                        },
                        headers).then((response) => 
                    {
                        return response
                     },(error) => {
                    console.log(error);
                     });
         },
        async deleteu(){
            const response = await this.deluser(this.$store.getters.token, this.deleteid);
            console.log(response); 
            await this.loadData();
           
        },
        async deluser(itoken, id){
            const token= 'Bearer '+itoken
            const url='/users/'+id;
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                    return await api.delete(
                        url,headers).then((response) => 
                    {
                        return response
                     },(error) => {
                    console.log(error);
                     });
         },
        async loadingusers(itoken){
            const token= 'Bearer '+itoken
            const url='/users';
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                    return await api.get(url,headers).then((response) => 
                    {
                        return response
                     },(error) => {
                    console.log(error);
                     });
         },
        async getRoles(itoken){
            const token= 'Bearer '+itoken
            const url='/catalogs/allRoles';
            const headers={'headers':
                    {
                        'Content-Type': 'application/json',
                        'Authorization': token                     
                    }};
                    //const response =  
                    return await api.get(url,headers).then((response) => 
                    {
                        this.roles=response.data;
                        console.log("AQUI")
                        console.log(response.data);
                     },(error) => {
                         this.roles=[];
                        console.log(error);
                     });
         },



        changeList: function(update){
            this.filteredusers=update;
        },

         
         

    }
    
    
}
</script>

<style scoped>
.centro{text-align: center;}
#row {
  display: flex;                
  justify-content: center;      
  position: relative;           
}
#left {
  position: absolute;            
  left: 2%;                     
}


h2{
    padding: 1%;

}
.round{
    border-radius: 50%;
    padding-left: 20px;
    padding-right: 20px;
}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;

}

</style>