<template>
  <div id="app">
          <transition name="fade"> 
            <router-view :key="$route.fullPath"/>
          </transition>
    <notifications group="pleasant" position='bottom center'/>
    <notifications group="foo" position='bottom center'/>
    <Modal :id="'a'+1" :Title="'Oops!'" :submit="ok" :inputs="[]" :message="this.$t('warning.warningLogin')"  :variant="'info'" :btext="this.$t('general.login')" :backdrop="true" :hideclose="true"/>

  </div>
</template>

<script>
import helper from './api/helper'
export default {
  name: 'App',
  components: { Modal: () => import("./components/Subcomponents/Modal"), },
  data(){
        return{
        }
  },
  beforeCreate(){
      helper.setObj(this);
  },
  methods:{
    ok(){
      this.$store.commit('setLogged',false);
      this.$store.commit('setToken',null);
      this.$router.push({ name: 'login', params: { lang: this.$i18n.locale }});

    }
  }
}
</script>


<style>
.fondo1{
    background-color: #ededed;
    background-repeat: repeat;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .8s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.slide-fade-enter-active {
  transition: all .6s ease;
}
.slide-fade-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateY(20px);
  opacity: 0;
}
.flip-list-move {
  transition: transform 1s;
}
.abs{
  position: absolute;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.abs::-webkit-scrollbar { 
    width: 0;
    height: 0;
}
.fcolumn{
    flex-direction: column;
}
.frow{
    flex-direction: row;

}
.flexs{
    display: flex;
}
.page{
  width: 100%;
}
html, body {
    margin: 0;
    height: 100%;
}
.maxHeight{
  height: 100%;
}
.stretch{
    align-items: stretch;
}
.centerr{
  justify-content: center;
}
.alignstart{
  justify-content: flex-start;
}
.alignend{
  justify-content: flex-end;
}
.alignbaseline{
  align-items: baseline;
}
.flexgrow1{
  flex-grow: 1;
}
</style>
